misc-flows/2017/temp_data/Big_Data_table_screen.txt
[{"id":"7fce52ea.7e640c","type":"tab","label":"Big Record Table"},{"id":"88eefbac.c3c3b8","type":"ui_form","z":"7fce52ea.7e640c","name":"Big record table","label":"","group":"605089c4.c715b8","order":0,"width":0,"height":0,"options":[{"label":"Id","value":"_id","type":"text","required":false},{"label":"User Id","value":"user_id","type":"text","required":false},{"label":"Task Id","value":"task_id","type":"text","required":false},{"label":"Header Template ","value":"header_template_id","type":"text","required":false},{"label":"Detail Template","value":"detail_template_id","type":"text","required":false},{"label":"Footer Template","value":"footer_template_id","type":"text","required":false},{"label":"Timeout Id","value":"timeout_id","type":"text","required":false},{"label":"Loction Ids (add multiple id seprated by comma.)","value":"location_id","type":"text","required":false},{"label":"Child default task Id","value":"child_default_task_id","type":"text","required":false},{"label":"Details Id","value":"details_id","type":"text","required":false},{"label":"Date","value":"date_created","type":"text","required":false},{"label":"Type","value":"type","type":"text","required":false},{"label":"Category","value":"category","type":"text","required":false},{"label":"Status","value":"status","type":"text","required":false},{"label":"Additional Fn","value":"additional_data_fn","type":"text","required":false},{"label":"Optional data","value":"optional_data","type":"text","required":false},{"label":"Required data","value":"required_data","type":"text","required":false},{"label":"Offline Exp. seconds","value":"offline_expiration_seconds","type":"text","required":false},{"label":"Display if empty ?","value":"display_if_empty","type":"text","required":false}],"formValue":{"_id":"","user_id":"","task_id":"","header_template_id":"","detail_template_id":"","footer_template_id":"","timeout_id":"","location_id":"","child_default_task_id":"","details_id":"","date_created":"","type":"","category":"","status":"","additional_data_fn":"","optional_data":"","required_data":"","offline_expiration_seconds":"","display_if_empty":""},"payload":"","topic":"big_record_table","x":109,"y":28,"wires":[[]]},{"id":"cb2592b.307a17","type":"function","z":"7fce52ea.7e640c","name":"Splitter","func":"var payload = {};\n\n\nif(msg.payload){\n    if(msg.payload._id){\n        //need to move to update the record\n        msg.event_name  = \"update_big_record_table\";\n        msg.payload     = {_id: msg.payload._id };    \n        msg.form_data   = {\n        \tdate_created: msg.payload.date_created,\n        \ttype: msg.payload.type,\n        \tcategory: msg.payload.category,\n        \tstatus: msg.payload.status,\n        \tadditional_data_fn: msg.payload.additional_data_fn,\n        \toptional_data: msg.payload.optional_data,\n        \trequired_data: msg.payload.required_data,\n        \toffline_expiration_seconds: msg.payload.offline_expiration_seconds,\n        \tdisplay_if_empty: msg.payload.display_if_empty\n        };\n    }else{\n        //need to create new record into db\n        payload = {\n        \tdate_created: msg.payload.date_created,\n        \ttype: msg.payload.type,\n        \tcategory: msg.payload.category,\n        \tstatus: msg.payload.status,\n        \tadditional_data_fn: msg.payload.additional_data_fn,\n        \toptional_data: msg.payload.optional_data,\n        \trequired_data: msg.payload.required_data,\n        \toffline_expiration_seconds: msg.payload.offline_expiration_seconds,\n        \tdisplay_if_empty: msg.payload.display_if_empty\n        };\n    }\n    \n    if(msg.payload.user_id){\n        //prepare object to get user data from db\n        msg.user_id = msg.payload.user_id ;\n    }\n    \n    if(msg.payload.header_template_id){\n        //prepare object to get header template from db\n        msg.header_template_id = msg.payload.header_template_id ;\n    }\n    \n    if(msg.payload.detail_template_id){\n        //prepare object to get detail template from db\n        msg.detail_template_id = msg.payload.detail_template_id ;\n    }\n    \n    if(msg.payload.footer_template_id){\n        //prepare object to get footer template from db\n        msg.footer_template_id = msg.payload.footer_template_id ;\n    }\n    \n    if(msg.payload.timeout_id){\n        //prepare object to get timeout document from db\n        msg.timeout_id = msg.payload.timeout_id ;\n    }\n    \n    if(msg.payload.location_id){\n        //prepare object to get location document from db\n        msg.location_id = msg.payload.location_id;\n    }\n    \n    if(msg.payload.child_default_task_id){\n        //get default child task \n        msg.child_default_task_id = msg.payload.child_default_task_id;\n    }\n    \n    if(msg.payload.details_id){\n        msg.details_id = msg.payload.details_id ;\n    }\n}\n\nmsg.payload = payload ;\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":232,"wires":[["bc256b7c.e65608"]]},{"id":"bc256b7c.e65608","type":"switch","z":"7fce52ea.7e640c","name":"","property":"event_name","propertyType":"msg","rules":[{"t":"eq","v":"update_big_record_table","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":109,"y":359,"wires":[["79151c46.ce1bd4","a9be8b5.497d078","45d138a2.7eeca8","d91aad76.58a65","d5e76f83.80c47","d178d5f2.fb9f48","cb7c72a1.db0bd","21f3364e.e9d38a","e71eab6.2ca9e58"],["79151c46.ce1bd4","a9be8b5.497d078","45d138a2.7eeca8","d91aad76.58a65","d5e76f83.80c47","d178d5f2.fb9f48","cb7c72a1.db0bd","21f3364e.e9d38a","a8eac0e6.6f61a"]]},{"id":"79151c46.ce1bd4","type":"change","z":"7fce52ea.7e640c","name":"","rules":[{"t":"move","p":"header_template_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":428,"y":284,"wires":[["99e776cf.ebcfb8"]]},{"id":"a9be8b5.497d078","type":"change","z":"7fce52ea.7e640c","name":"","rules":[{"t":"move","p":"detail_template_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":417,"y":327,"wires":[["cf1311e3.feae8"]]},{"id":"45d138a2.7eeca8","type":"change","z":"7fce52ea.7e640c","name":"","rules":[{"t":"move","p":"footer_template_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":427,"y":371,"wires":[["19510a2f.cdafb6"]]},{"id":"d91aad76.58a65","type":"change","z":"7fce52ea.7e640c","name":"","rules":[{"t":"move","p":"timeout_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":398,"y":415,"wires":[["149adb70.2a5485"]]},{"id":"d5e76f83.80c47","type":"change","z":"7fce52ea.7e640c","name":"","rules":[{"t":"move","p":"child_default_task_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":425,"y":505,"wires":[["1cd1ea69.602526"]]},{"id":"a8eac0e6.6f61a","type":"change","z":"7fce52ea.7e640c","name":"Create Big Record Table","rules":[{"t":"move","p":"payload","pt":"msg","to":"big_record_table_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":154,"wires":[["5ffb58c6.4bdf68"]]},{"id":"99e776cf.ebcfb8","type":"cloudant in","z":"7fce52ea.7e640c","name":"template","cloudant":"","database":"templates","service":"platform-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":659,"y":268,"wires":[["24d2826f.5c885e"]]},{"id":"cf1311e3.feae8","type":"cloudant in","z":"7fce52ea.7e640c","name":"template","cloudant":"","database":"templates","service":"platform-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":660,"y":315,"wires":[["8956534d.b4c67"]]},{"id":"19510a2f.cdafb6","type":"cloudant in","z":"7fce52ea.7e640c","name":"template","cloudant":"","database":"templates","service":"platform-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":661,"y":366,"wires":[["e6f691ce.90e1b"]]},{"id":"149adb70.2a5485","type":"cloudant in","z":"7fce52ea.7e640c","name":"timeout","cloudant":"","database":"timeout","service":"platform-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":662,"y":412,"wires":[["516d12bf.cb24dc"]]},{"id":"21f3364e.e9d38a","type":"cloudant in","z":"7fce52ea.7e640c","name":"locations","cloudant":"","database":"locations","service":"platform-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":357,"y":459,"wires":[["511e3d31.58fd44"]]},{"id":"1cd1ea69.602526","type":"cloudant in","z":"7fce52ea.7e640c","name":"task","cloudant":"","database":"task","service":"platform-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":657,"y":506,"wires":[["340fb835.9d6128"]]},{"id":"d178d5f2.fb9f48","type":"change","z":"7fce52ea.7e640c","name":"","rules":[{"t":"move","p":"details_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":399,"y":556,"wires":[["ececc751.97db78"]]},{"id":"ececc751.97db78","type":"cloudant in","z":"7fce52ea.7e640c","name":"","cloudant":"","database":"details","service":"platform-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":657,"y":554,"wires":[["41e53d60.884ce4"]]},{"id":"24d2826f.5c885e","type":"function","z":"7fce52ea.7e640c","name":"header_template","func":"global.set('header_obj', null);\nglobal.set('header_obj', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":864,"y":267,"wires":[[]]},{"id":"8956534d.b4c67","type":"function","z":"7fce52ea.7e640c","name":"detail_template","func":"global.set('detail_obj', null);\nglobal.set('detail_obj', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":856,"y":316,"wires":[[]]},{"id":"e6f691ce.90e1b","type":"function","z":"7fce52ea.7e640c","name":"footer_template","func":"global.set('footer_obj', null);\nglobal.set('footer_obj', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":857,"y":360,"wires":[[]]},{"id":"516d12bf.cb24dc","type":"function","z":"7fce52ea.7e640c","name":"timeout_obj","func":"global.set('timeout_obj', null);\nglobal.set('timeout_obj', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":849,"y":405,"wires":[[]]},{"id":"511e3d31.58fd44","type":"function","z":"7fce52ea.7e640c","name":"location ","func":"var locationArr     = msg.payload ;\n    locations       = [] ;\n    location_ids    = msg.location_id.split(',');    \nnode.warn(msg.location_id)   ;\n    for(var i=0; i< locationArr.length; i++){\n        node.warn(location_ids[i]);\n        if(location_ids[i]){\n            if(locationArr[i]._id == location_ids[i].trim()){\n                locations.push(locationArr[i]);\n            }\n        }\n    }\nglobal.set('location_obj', null);\nglobal.set('location_obj', locations);\nreturn msg;","outputs":1,"noerr":0,"x":839,"y":462,"wires":[[]]},{"id":"340fb835.9d6128","type":"function","z":"7fce52ea.7e640c","name":"task","func":"global.set('task_obj', null);\nglobal.set('task_obj', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":831,"y":507,"wires":[[]]},{"id":"41e53d60.884ce4","type":"function","z":"7fce52ea.7e640c","name":"details","func":"global.set('details_obj', null);\nglobal.set('details_obj', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":829,"y":569,"wires":[[]]},{"id":"94cc6a2b.1a0f78","type":"function","z":"7fce52ea.7e640c","name":"Create Merge","func":"var payload = {},\n    big_record_data = msg.big_record_table_data ,\n    user_data       = global.get('user_data_obj'),\n    header_temp     = global.get('header_obj'),\n    detail_temp     = global.get('detail_obj'),\n    footer_temp     = global.get('footer_obj'),\n    timeout_obj     = global.get('timeout_obj'),\n    location_obj    = global.get('location_obj'),\n    task_obj        = global.get('task_obj'),\n    details_obj     = global.get('details_obj');\n    \nif(big_record_data && header_temp && detail_temp && footer_temp && timeout_obj && location_obj && task_obj && details_obj){\n    payload = {\n    \tuser_id: user_data,\n    \ttask_id: task_obj,\n    \theader_template_id: header_temp,\n    \tdetail_template_id: detail_temp,\n    \tfooter_template_id: footer_temp,\n    \ttimeout_id: timeout_obj,\n    \tlocation_id: location_obj,\n    \tchild_default_task_id: task_obj,\n    \tdate_created: big_record_data.date_created,\n    \ttype: big_record_data.type,\n    \tcategory: big_record_data.category,\n    \tstatus: big_record_data.status,\n    \tadditional_data_fn: big_record_data.additional_data_fn,\n    \toptional_data: big_record_data.optional_data,\n    \trequired_data: big_record_data.required_data,\n    \toffline_expiration_seconds: big_record_data.offline_expiration_seconds,\n    \tdisplay_if_empty: big_record_data.display_if_empty,\n    \tdetails : details_obj\n    };\n}else {\n    node.warn(\"condition doesn't match yet so publish default payload object\");\n}\n\nmsg.payload = payload ;\nreturn msg;","outputs":1,"noerr":0,"x":895,"y":137,"wires":[["936e66c5.bf4a78","9f31ce5d.05277"]]},{"id":"5ffb58c6.4bdf68","type":"delay","z":"7fce52ea.7e640c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":646,"y":142,"wires":[["94cc6a2b.1a0f78"]]},{"id":"cb7c72a1.db0bd","type":"change","z":"7fce52ea.7e640c","name":"","rules":[{"t":"move","p":"user_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":386,"y":242,"wires":[["3b60b68e.51610a"]]},{"id":"3b60b68e.51610a","type":"cloudant in","z":"7fce52ea.7e640c","name":"","cloudant":"","database":"users","service":"platform-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":649,"y":226,"wires":[["992273e0.7a675"]]},{"id":"992273e0.7a675","type":"function","z":"7fce52ea.7e640c","name":"user_data","func":"global.set('user_data_obj', null);\nglobal.set('user_data_obj', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":836,"y":219,"wires":[[]]},{"id":"936e66c5.bf4a78","type":"debug","z":"7fce52ea.7e640c","name":"Created Obj Db log","active":true,"console":"false","complete":"payload","x":1099,"y":212,"wires":[]},{"id":"9f31ce5d.05277","type":"cloudant out","z":"7fce52ea.7e640c","name":"Save into db","cloudant":"","database":"big_record_table","service":"platform-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1111,"y":139,"wires":[]},{"id":"d3e59bf4.9b6f08","type":"delay","z":"7fce52ea.7e640c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":646,"y":72,"wires":[["2c98bd84.c9ab02"]]},{"id":"2c98bd84.c9ab02","type":"function","z":"7fce52ea.7e640c","name":"Update Merge","func":"\nreturn msg;","outputs":1,"noerr":0,"x":891,"y":66,"wires":[["a7d12e48.91ac3"]]},{"id":"e71eab6.2ca9e58","type":"cloudant in","z":"7fce52ea.7e640c","name":"Get Big_Record_Table","cloudant":"","database":"big_record_table","service":"platform-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":411,"y":73,"wires":[["d3e59bf4.9b6f08"]]},{"id":"2873fff9.7ab7e","type":"inject","z":"7fce52ea.7e640c","name":"Inject","topic":"Inject","payload":"{ \t\"_id\": \"27dc5528c2217324817ec0b849a80cf6\", \t\"user_id\": \"1f32ad04960de57f9bae949c3c496aad\", \t\"task_id\": \"8d2600f73a09e9d2e1c3d51edb537cd8\", \t\"header_template_id\": \"50d0452ed957cc53a0a4c92b10f2c8f5\", \t\"detail_template_id\": \"7e97c17df64fab7eec7d883438a83be5\", \t\"footer_template_id\": \"50d0452ed957cc53a0a4c92b10fe3897\", \t\"timeout_id\": \"0d43bb132009507cf39a6dfda1edee4f\", \t\"location_id\": \"1e25c451457586a330f3405b5c86a671, 8f008dcc30fe6530276a38eecfd71eca\", \t\"child_default_task_id\": \"8d2600f73a09e9d2e1c3d51edb537cd8\", \t\"details_id\"\t: \"4f279c9d5e18eb2905f6b492dabf79ce\", \t\"date_created\": \"2017-03-01T04:47:28.084Z\", \t\"type\": \"Search\", \t\"category\": \"Location\", \t\"status\": \"active\", \t\"additional_data_fn\": \"merge\", \t\"optional_data\": \"Need to search location\", \t\"required_data\": \"Location name is required\", \t\"offline_expiration_seconds\": \"1200\", \t\"display_if_empty\": \"true\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":108,"y":87,"wires":[["cb2592b.307a17"]]},{"id":"a7d12e48.91ac3","type":"debug","z":"7fce52ea.7e640c","name":"Update Log","active":true,"console":"false","complete":"true","x":1120,"y":62,"wires":[]},{"id":"605089c4.c715b8","type":"ui_group","z":"7fce52ea.7e640c","name":"Big record table","tab":"9a9b7181.f3ccf","order":1,"disp":false,"width":"9"},{"id":"9a9b7181.f3ccf","type":"ui_tab","z":"","name":"Big record table","icon":"dashboard","order":7}]