all_flows/2017/backup_24022017.json
[{"id":"f0e0bbb7.ed0968","type":"tab","label":"Big_record_tables"},{"id":"9f23a3dd.2b6e6","type":"tab","label":"Chat (multiple users)"},{"id":"b3411d03.034fe","type":"tab","label":"Twilio SMS"},{"id":"4aaa87d8.e99e98","type":"tab","label":"Basic Chatbot Structure"},{"id":"1c06c61e.ac493a","type":"tab","label":"Login and Authentication"},{"id":"48a83013.14d9","type":"tab","label":"Chatbot 1.1"},{"id":"fd403b49.866ff8","type":"tab","label":"Merge Data"},{"id":"920fa3de.e524f","type":"tab","label":"Database Structure"},{"id":"fe2eff89.e19e5","type":"tab","label":"App HTML, JS, CSS "},{"id":"61434ff8.8da4e","type":"tab","label":"HTML Encode Decode"},{"id":"1d8ff48d.1c53eb","type":"tab","label":"Chat"},{"id":"37b81106.be4dfe","type":"tab","label":"Twilio SMS"},{"id":"af7bdcc4.e68ed","type":"tab","label":"Chat (multiple users)"},{"id":"482305dc.e3229c","type":"tab","label":"Screens"},{"id":"285797d8.833128","type":"tab","label":"Big_record_tables"},{"id":"bb294181.6dd41","type":"tab","label":"API"},{"id":"bdf8318f.62f79","type":"tab","label":"Create task from detail"},{"id":"75b71eb6.4ae56","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"c4fcd744.cdabe8","type":"twilio-api","z":"","sid":"AC909f1981261f4461abbc7985bd202897","from":"+15103067839","name":"Twilio Chatbot1"},{"id":"df85784.deb9a88","type":"twilio-api","z":"","sid":"AC909f1981261f4461abbc7985bd202897","from":"+15103067839","name":"Twilio Chatbot1"},{"id":"8256f452.e40578","type":"twilio-api","z":"","sid":"AC909f1981261f4461abbc7985bd202897","from":"+15103067839","name":"Twilio Chatbot1"},{"id":"f21375e6.0c0388","type":"websocket-listener","path":"/ws/chat","wholemsg":"false"},{"id":"3b4b68fa.811cc8","type":"ui_group","z":"1c06c61e.ac493a","name":"Register","tab":"2a32fc6b.579e24","disp":true,"width":"6"},{"id":"226069ad.899796","type":"ui_group","z":"1c06c61e.ac493a","name":"Login","tab":"6418ad16.b1ca74","disp":true,"width":"6"},{"id":"6a8adced.9c6804","type":"ui_tab","z":"1c06c61e.ac493a","name":"Register","icon":"dashboard"},{"id":"928eb84c.6c18a8","type":"ui_tab","z":"1c06c61e.ac493a","name":"Login","icon":"dashboard","order":2},{"id":"670fb768.429c88","type":"ui_group","z":"482305dc.e3229c","name":"Create user","tab":"a90d61bd.45cc8","disp":true,"width":"6"},{"id":"a56e66ec.b227c8","type":"ui_group","z":"482305dc.e3229c","name":"Create location table","tab":"c86ad1f.200653","disp":true,"width":"6"},{"id":"7564b270.35573c","type":"ui_group","z":"482305dc.e3229c","name":"Create template table","tab":"9349375a.3db9c8","disp":true,"width":"6"},{"id":"532cd6d8.36fdf8","type":"ui_group","z":"482305dc.e3229c","name":"Create timeout table","tab":"6b3ba7d8.af53a8","disp":true,"width":"6"},{"id":"88577e98.023ba","type":"ui_group","z":"482305dc.e3229c","name":"Create task table","tab":"28966b23.05f954","disp":true,"width":"6"},{"id":"1dfc53d2.a9b6ac","type":"ui_tab","z":"482305dc.e3229c","name":"Create user","icon":"dashboard"},{"id":"2bdced26.713952","type":"ui_tab","z":"482305dc.e3229c","name":"Create location table","icon":"dashboard"},{"id":"ac310b2e.120848","type":"ui_tab","z":"482305dc.e3229c","name":"Create template table","icon":"dashboard"},{"id":"f25974e4.ef6c98","type":"ui_tab","z":"482305dc.e3229c","name":"Create timeout table","icon":"dashboard"},{"id":"7437bf60.ee166","type":"ui_tab","z":"482305dc.e3229c","name":"Create task table","icon":"dashboard"},{"id":"f841d96e.9e85d8","type":"function","z":"f0e0bbb7.ed0968","name":"user table","func":"var user_id = msg.payload;\n\nvar user = {\n    \"one\": {\n      \"email\": \"pk@bmek\",\n      \"other\": \"other\",\n      \"phone\": \"8308820145\",\n      \"user_id\": \"pk123\",\n      \"lastname\": \"kulk\",\n      \"long_url\": \"long_url\",\n      \"firstname\": \"pratik\",\n      \"access_token\": \"access_token\",\n      \"security_level\": \"security_level\",\n      \"conversation_id\": \"conversation_id\"\n    },\n    \"two\": {\n      \"email\": \"rg@dri\",\n      \"other\": \"other\",\n      \"phone\": \"512365258\",\n      \"user_id\": \"rg123\",\n      \"lastname\": \"colb\",\n      \"long_url\": \"long_url\",\n      \"firstname\": \"roger\",\n      \"access_token\": \"access_token\",\n      \"security_level\": \"security_level\",\n      \"conversation_id\": \"conversation_id\"\n    }\n  };\n\nvar msg = {\n        user : user[user_id]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":115,"wires":[["4b3bad31.93a2b4"]]},{"id":"9e8aa632.02a628","type":"inject","z":"f0e0bbb7.ed0968","name":"Watson User ID","topic":"","payload":"two","payloadType":"str","repeat":"","crontab":"","once":false,"x":224,"y":115,"wires":[["f841d96e.9e85d8"]]},{"id":"4b3bad31.93a2b4","type":"debug","z":"f0e0bbb7.ed0968","name":"","active":true,"console":"false","complete":"user","x":568,"y":115,"wires":[]},{"id":"f44d3f6d.41d19","type":"comment","z":"f0e0bbb7.ed0968","name":"big_record-tables.user = user_table(watson phone number or id)","info":"big_record-tables.user = user_table(watson phone number or id)","x":397,"y":69,"wires":[]},{"id":"21c666ec.528d5a","type":"function","z":"f0e0bbb7.ed0968","name":"","func":"var conv_response = msg.payload.output.task;\nvar arr = [];\nvar i = 0;\nvar detail = {} ;\n\nfunction isEmpty(obj) {\n    return Object.keys(obj).length === 0;\n}\n\nif( 'User_id' in conv_response) {\n    detail.user_id = 'user_id';\n}\nif( 'task_id' in conv_response) {\n    detail.user_id = 'task_id';\n}\nif( 'Date_created' in conv_response) {\n    detail.user_id = 'Date_created';\n}\nif( 'Type' in conv_response) {\n    detail.user_id = 'Type';\n}\n\nvar msg = {\n    payload : arr\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":473,"y":238,"wires":[["1024fd2.9442e03"]]},{"id":"1024fd2.9442e03","type":"debug","z":"f0e0bbb7.ed0968","name":"","active":true,"console":"false","complete":"payload","x":673,"y":238,"wires":[]},{"id":"dfc82a03.b711d8","type":"watson-conversation-v1","z":"f0e0bbb7.ed0968","name":"Home Bot","workspaceid":"de7ca07a-dca7-4c04-a397-d60d9756dbb0","multiuser":false,"context":true,"x":294,"y":237,"wires":[["21c666ec.528d5a","24a868f9.28c258"]]},{"id":"8ae8f52f.95ebe8","type":"inject","z":"f0e0bbb7.ed0968","name":"Book","topic":"Detail_table_book","payload":"read Tipping Point","payloadType":"str","repeat":"","crontab":"","once":false,"x":128.22222900390625,"y":236.77777099609375,"wires":[["dfc82a03.b711d8"]]},{"id":"24a868f9.28c258","type":"debug","z":"f0e0bbb7.ed0968","name":"","active":false,"console":"false","complete":"payload.output.task","x":637,"y":314,"wires":[]},{"id":"7ad79fca.957e5","type":"function","z":"f0e0bbb7.ed0968","name":"task table","func":"var task_id = msg.payload;\n\nvar task = {\n    \"book123\" : {\n      \"type\": \"type\",\n      \"detail\": {\n        \"status\": \"Not processed\",\n        \"timeout\": {\n          \"Name\": \"pratik\",\n          \"timeout_id\": \"timeout_id\",\n          \"timeout_list\": {\n            \"1\": {\n              \"users\": {\n                \"users_one\": {\n                  \"email\": \"email\",\n                  \"other\": \"other\",\n                  \"phone\": \"phone\",\n                  \"lastname\": \"lastname\",\n                  \"long_url\": \"long_url\",\n                  \"firstname\": \"firstname\",\n                  \"access_token\": \"access_token\",\n                  \"security_level\": \"security_level\",\n                  \"conversation_id\": \"conversation_id\"\n                }\n              },\n              \"from_id\": \"from_id\",\n              \"defaults\": {\n                \"parent\": \"parent\",\n                \"next_child\": \"next_child\",\n                \"all_children\": \"all_children\"\n              },\n              \"template\": {\n                \"from\": {\n                  \"HTML\": \"html\",\n                  \"Name\": \"book\",\n                  \"template_id\": \"temp1\"\n                },\n                \"message\": {\n                  \"HTML\": \"html\",\n                  \"Name\": \"book\",\n                  \"template_id\": \"temp1\"\n                }\n              },\n              \"message_id\": \"message_id\",\n              \"deliver_via\": \"mail\",\n              \"delivery_due\": \"delivery_due\",\n              \"delivery_count\": \"delivery_count\",\n              \"delivery_status\": \"delivery_status\",\n              \"delivery_users_ids\": \"delivery_users_ids\"\n            },\n            \"2\": {\n              \"users\": {\n                \"users_one\": {\n                  \"email\": \"email\",\n                  \"other\": \"other\",\n                  \"phone\": \"phone\",\n                  \"lastname\": \"lastname\",\n                  \"long_url\": \"long_url\",\n                  \"firstname\": \"firstname\",\n                  \"access_token\": \"access_token\",\n                  \"security_level\": \"security_level\",\n                  \"conversation_id\": \"conversation_id\"\n                }\n              },\n              \"from_id\": \"from_id\",\n              \"defaults\": {\n                \"parent\": \"parent\",\n                \"next_child\": \"next_child\",\n                \"all_children\": \"all_children\"\n              },\n              \"template\": {\n                \"from\": {\n                  \"HTML\": \"html\",\n                  \"Name\": \"book\",\n                  \"template_id\": \"temp1\"\n                },\n                \"message\": {\n                  \"HTML\": \"html\",\n                  \"Name\": \"book\",\n                  \"template_id\": \"temp1\"\n                }\n              },\n              \"message_id\": \"message_id\",\n              \"deliver_via\": \"msg\",\n              \"delivery_due\": \"delivery_due\",\n              \"delivery_count\": \"delivery_count\",\n              \"delivery_status\": \"delivery_status\",\n              \"delivery_users_ids\": \"delivery_users_ids\"\n            }\n          }\n        },\n        \"Priority\": \"Priority\",\n        \"defaults\": {\n          \"parent\": \"parent\",\n          \"next_child\": \"next_child\",\n          \"all_children\": \"all_children\"\n        },\n        \"location\": {\n          \"location_one\": {\n            \"location_id\": \"location_id\",\n            \"location_data\": {\n              \"lat\": \"lat\",\n              \"lon\": \"lon\",\n              \"web\": \"web\",\n              \"dist\": \"dist\"\n            },\n            \"location_name\": \"location_name\",\n            \"location_type\": \"location_type\"\n          }\n        },\n        \"processed\": \"processed\",\n        \"Due_seconds\": \"Due_seconds\"\n      },\n      \"status\": \"Not processed\",\n      \"User_id\": \"User_id\",\n      \"Category\": \"Category\",\n      \"template\": {\n        \"detail\": {\n          \"HTML\": \"html\",\n          \"Name\": \"book\",\n          \"template_id\": \"temp1\"\n        },\n        \"footer\": {\n          \"HTML\": \"html\",\n          \"Name\": \"book\",\n          \"template_id\": \"temp1\"\n        },\n        \"header\": {\n          \"HTML\": \"html\",\n          \"Name\": \"book\",\n          \"template_id\": \"temp1\"\n        }\n      },\n      \"timeout_id\": \"timeout_id\",\n      \"Date_created\": \"Date_created\",\n      \"location_ids\": \"location_ids\",\n      \"Optional_data\": \"Optional_data\",\n      \"Required_data\": \"Required_data\",\n      \"Additional_data_fn\": \"Additional_data_fn\",\n      \"detail_template_id\": \"detail_template_id\",\n      \"footer_template_id\": \"footer_template_id\",\n      \"header_template_id\": \"header_template_id\",\n      \"offline_expiration_time\": \"offline_expiration_time\"\n    }\n};\n    \nvar msg = {\n    task : task[task_id]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":413,"wires":[["bac1cd9.d8c3a3"]]},{"id":"167ed282.b08a7d","type":"inject","z":"f0e0bbb7.ed0968","name":"Watson task ID","topic":"","payload":"book123","payloadType":"str","repeat":"","crontab":"","once":false,"x":213,"y":413,"wires":[["7ad79fca.957e5"]]},{"id":"bac1cd9.d8c3a3","type":"debug","z":"f0e0bbb7.ed0968","name":"","active":true,"console":"false","complete":"task","x":560,"y":412,"wires":[]},{"id":"2cc6019b.f8395e","type":"websocket in","z":"9f23a3dd.2b6e6","name":"","server":"75b71eb6.4ae56","x":217,"y":174,"wires":[["b36b57e3.bf0648"]]},{"id":"b36b57e3.bf0648","type":"function","z":"9f23a3dd.2b6e6","name":"Socket Server","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":421,"y":174,"wires":[["e176ead0.bcdcf8"]]},{"id":"e176ead0.bcdcf8","type":"websocket out","z":"9f23a3dd.2b6e6","name":"","server":"75b71eb6.4ae56","x":633,"y":173,"wires":[]},{"id":"fbb9a475.1f84a8","type":"http in","z":"9f23a3dd.2b6e6","name":"","url":"/chat","method":"get","x":225,"y":242,"wires":[["531611b1.57ac3"]]},{"id":"531611b1.57ac3","type":"template","z":"9f23a3dd.2b6e6","name":"Chat Server","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"wss://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":411,"y":242,"wires":[["348fa644.ddcdaa"]]},{"id":"348fa644.ddcdaa","type":"http response","z":"9f23a3dd.2b6e6","name":"","x":629,"y":244,"wires":[]},{"id":"b078ad48.159cc","type":"http in","z":"b3411d03.034fe","name":"","url":"/twiliosms","method":"get","swaggerDoc":"","x":145,"y":189,"wires":[["15e1e676.603fca","34d4b197.18e7ce"]]},{"id":"15e1e676.603fca","type":"debug","z":"b3411d03.034fe","name":"Request Received","active":false,"console":"false","complete":"payload","x":361,"y":127,"wires":[]},{"id":"34d4b197.18e7ce","type":"function","z":"b3411d03.034fe","name":"ReceivedDate","func":"d = new Date();\n\nmsg.payload.ReceivedDate = d.valueOf();\nmsg.payload.ReceivedDateStr = d.toString();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":351,"y":191,"wires":[["d5daa94b.3fc608","5792fc1.001c304","2628969d.7b6f5a"]]},{"id":"d5daa94b.3fc608","type":"debug","z":"b3411d03.034fe","name":"Outbound to Log","active":false,"console":"false","complete":"payload","x":588,"y":147,"wires":[]},{"id":"5792fc1.001c304","type":"function","z":"b3411d03.034fe","name":"Prepare Request for Conversation","func":"msg.params = {};\nmsg.params.context = {}\nif (flow.get(msg.payload.From)){\n msg.params.context = flow.get(msg.payload.From); \n}\n\n\nflow.set ('From', msg.payload.From);\n\nmsg.payload = msg.payload.Body;\n\nreturn msg;","outputs":1,"noerr":0,"x":529,"y":296,"wires":[["85aeb03b.2a95d","9fc48f36.ad0b8"]]},{"id":"3939fc10.d57c54","type":"debug","z":"b3411d03.034fe","name":"Conversation Response","active":false,"console":"false","complete":"payload","x":1114,"y":230,"wires":[]},{"id":"9cdd84de.004678","type":"debug","z":"b3411d03.034fe","name":"Conversation Response.output","active":false,"console":"false","complete":"payload.output","x":1134,"y":272,"wires":[]},{"id":"85aeb03b.2a95d","type":"debug","z":"b3411d03.034fe","name":"Conversation Request","active":false,"console":"false","complete":"true","x":850,"y":244,"wires":[]},{"id":"697a84f9.9b5b4c","type":"function","z":"b3411d03.034fe","name":"Output Text and Context","func":"var From = flow.get('From');\nmsg.topic = From;\nflow.set(From, msg.payload.context);\n\nmsg.payload = msg.payload.output.text.join();\nreturn msg;","outputs":1,"noerr":0,"x":1135,"y":465,"wires":[["deb6b000.61d9c","474790d6.88128","b36cb6c1.3072e8","b4b0d7d1.cf0578"]]},{"id":"deb6b000.61d9c","type":"debug","z":"b3411d03.034fe","name":"Responded via Twilio","active":true,"console":"false","complete":"true","x":1384,"y":402,"wires":[]},{"id":"b26c3b83.f462f8","type":"debug","z":"b3411d03.034fe","name":"Conversation Response.input","active":false,"console":"false","complete":"payload.input","x":1137,"y":307,"wires":[]},{"id":"474790d6.88128","type":"debug","z":"b3411d03.034fe","name":"msg.payload","active":false,"console":"false","complete":"payload","x":1356.5,"y":438,"wires":[]},{"id":"b36cb6c1.3072e8","type":"debug","z":"b3411d03.034fe","name":"msg.topic","active":false,"console":"false","complete":"topic","x":1345.5,"y":472,"wires":[]},{"id":"70b49ff9.aa185","type":"debug","z":"b3411d03.034fe","name":"Conversation msg","active":true,"console":"false","complete":"true","x":1095.5,"y":350,"wires":[]},{"id":"b4b0d7d1.cf0578","type":"twilio out","z":"b3411d03.034fe","service":"_ext_","twilio":"c4fcd744.cdabe8","from":"","number":"+15132068339","name":"","x":1370,"y":517,"wires":[]},{"id":"9fc48f36.ad0b8","type":"watson-conversation-v1","z":"b3411d03.034fe","name":"Home Bot","workspaceid":"de7ca07a-dca7-4c04-a397-d60d9756dbb0","multiuser":false,"context":true,"x":823,"y":295,"wires":[["3939fc10.d57c54","9cdd84de.004678","b26c3b83.f462f8","70b49ff9.aa185","697a84f9.9b5b4c"]]},{"id":"2628969d.7b6f5a","type":"cloudant in","z":"b3411d03.034fe","name":"","cloudant":"","database":"chatbot_project","service":"PkTwilioConv-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":602,"y":205,"wires":[[]]},{"id":"dd0006c7.fb6c38","type":"watson-conversation-v1","z":"4aaa87d8.e99e98","name":"Home Bot","workspaceid":"de7ca07a-dca7-4c04-a397-d60d9756dbb0","multiuser":true,"context":true,"x":928,"y":380,"wires":[["753665c0.cac26c","84ca669.b2c8298","12411d05.bb4153"]]},{"id":"12411d05.bb4153","type":"ui_text","z":"4aaa87d8.e99e98","group":"148323de.5e1f1c","order":0,"width":0,"height":0,"name":"Chatbot Response","label":"","format":"{{msg.payload.output.text.join(\"\\n\")}}","layout":"row-spread","x":1159,"y":272,"wires":[]},{"id":"f152e07a.4c8df","type":"watson-conversation-v1","z":"4aaa87d8.e99e98","name":"Car Dashboard","workspaceid":"28b9f4cf-1b49-4159-b832-467a98f32aab","multiuser":true,"context":true,"x":929,"y":163,"wires":[["12411d05.bb4153","753665c0.cac26c"]]},{"id":"b91cb8c8.d96ad8","type":"switch","z":"4aaa87d8.e99e98","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"car_dashboard","vt":"str"},{"t":"eq","v":"home_bot","vt":"str"}],"checkall":"true","outputs":2,"x":736,"y":276,"wires":[["f152e07a.4c8df"],["dd0006c7.fb6c38"]]},{"id":"bf16b025.f9846","type":"ui_dropdown","z":"4aaa87d8.e99e98","name":"","label":"Select chatbot","group":"148323de.5e1f1c","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"car_dashboard","value":"car_dashboard","type":"str"},{"label":"home_bot","value":"home_bot","type":"str"}],"payload":"","topic":"","x":173,"y":273,"wires":[["aa046e8b.01bc8"]]},{"id":"c5faa182.b9b77","type":"ui_dropdown","z":"4aaa87d8.e99e98","name":"Select number","label":"Select user","group":"148323de.5e1f1c","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"123","value":123,"type":"num"},{"label":"1023","value":"1023","type":"str"},{"label":"1123","value":"1123","type":"str"}],"payload":"","topic":"","x":171,"y":189,"wires":[["aa046e8b.01bc8"]]},{"id":"a83812c2.19c19","type":"ui_text_input","z":"4aaa87d8.e99e98","name":"Message","label":"","group":"148323de.5e1f1c","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"1","x":187,"y":353,"wires":[["aa046e8b.01bc8","4de8ef9b.0559c","2988d9f9.f1ecb6"]]},{"id":"aa046e8b.01bc8","type":"join","z":"4aaa87d8.e99e98","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"","joiner":"\\n","timeout":"","count":"","x":416,"y":276,"wires":[["292dc31b.18869c"]]},{"id":"4de8ef9b.0559c","type":"change","z":"4aaa87d8.e99e98","name":"msg.complete","rules":[{"t":"move","p":"topic","pt":"msg","to":"complete","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":389,"y":353,"wires":[["aa046e8b.01bc8"]]},{"id":"292dc31b.18869c","type":"function","z":"4aaa87d8.e99e98","name":"function","func":"var chatbots = [\"car_dashboard\", \"home_bot\"];\n\nvar payload;\nvar user;\nvar topic;\n\nif(payload){\n    payload = \"No message\";\n}\n\nif(user){\n    user = \"0000\";\n} \nelse{\n    user = context.get('user');    \n}\n\nif(topic){\n    topic = \"No topic selected\";\n}\nelse{\n    topic = context.get('topic');    \n}\n\nfor(i = 0 ; i < msg.payload.length-1 ; i++){\n    \n    if (chatbots.indexOf(msg.payload[i]) != -1){\n        topic = msg.payload[i];       \n    }\n    else if (!isNaN(+msg.payload[i])){\n        user = msg.payload[i];\n    }\n    else{\n        payload = msg.payload[i];\n    }\n}\n\ncontext.set('topic',topic);\ncontext.set('user',user);\n\nvar msg = {\n    payload : payload,\n    topic : topic,\n    user : user\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":574,"y":276,"wires":[["b91cb8c8.d96ad8"]]},{"id":"5103931c.7bc96c","type":"function","z":"4aaa87d8.e99e98","name":"Clear Textbox","func":"msg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":297,"y":495,"wires":[["a83812c2.19c19"]]},{"id":"2988d9f9.f1ecb6","type":"delay","z":"4aaa87d8.e99e98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":65,"y":495,"wires":[["5103931c.7bc96c"]]},{"id":"753665c0.cac26c","type":"debug","z":"4aaa87d8.e99e98","name":"","active":true,"console":"false","complete":"true","x":1421,"y":273,"wires":[]},{"id":"84ca669.b2c8298","type":"debug","z":"4aaa87d8.e99e98","name":"","active":false,"console":"false","complete":"payload.context","x":1383,"y":375,"wires":[]},{"id":"739ec8d4.ab1878","type":"cloudant in","z":"1c06c61e.ac493a","name":"","cloudant":"","database":"users","service":"_ext_","search":"_id_","design":"","index":"","x":539,"y":280.5555419921875,"wires":[["77ad8b15.b1e1d4"]]},{"id":"cdcca312.ddea2","type":"cloudant out","z":"1c06c61e.ac493a","name":"Couldant DB","cloudant":"","database":"users","service":"_ext_","payonly":false,"operation":"insert","x":754.4444580078125,"y":459.33331298828125,"wires":[]},{"id":"9612927e.9ff36","type":"ui_form","z":"1c06c61e.ac493a","name":"Registeration Form","label":"","group":"8a222270.93d32","order":0,"width":0,"height":0,"options":[{"label":"First Name","value":"f_name","type":"text","required":true},{"label":"Last Name","value":"l_name","type":"text","required":false},{"label":"Email ID","value":"email","type":"text","required":true},{"label":"User Name ","value":"user_name","type":"text","required":true},{"label":"Password","value":"password","type":"password","required":true}],"formValue":{"f_name":"","l_name":"","email":"","user_name":"","password":""},"payload":"","topic":"Login","x":207.3333740234375,"y":462,"wires":[["cdcca312.ddea2","7cab79.1a9bf488"]]},{"id":"7cab79.1a9bf488","type":"change","z":"1c06c61e.ac493a","name":"user_name as _id","rules":[{"t":"move","p":"payload.user_name","pt":"msg","to":"_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":491.3333740234375,"y":520,"wires":[["cdcca312.ddea2"]]},{"id":"1df696a8.bc4c69","type":"ui_form","z":"1c06c61e.ac493a","name":"Login Form","label":"","group":"776001d3.86641","order":0,"width":0,"height":0,"options":[{"label":"User Name ","value":"user_name","type":"text","required":true},{"label":"Password","value":"password","type":"password","required":true}],"formValue":{"user_name":"","password":""},"payload":"","topic":"Home","x":196.3333740234375,"y":256,"wires":[["3cab2c45.d0ef94","2d2cb2d0.bd8cde"]]},{"id":"3cab2c45.d0ef94","type":"change","z":"1c06c61e.ac493a","name":"Login user name","rules":[{"t":"move","p":"payload.user_name","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":378.3333740234375,"y":313,"wires":[["739ec8d4.ab1878"]]},{"id":"2d2cb2d0.bd8cde","type":"change","z":"1c06c61e.ac493a","name":"Login Password","rules":[{"t":"move","p":"payload.password","pt":"msg","to":"password","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":369.3333740234375,"y":194,"wires":[["77ad8b15.b1e1d4"]]},{"id":"77ad8b15.b1e1d4","type":"function","z":"1c06c61e.ac493a","name":"Aunthenticate","func":"var password = msg.password;\nvar db = msg.payload;\nvar password_db = db.password;\nvar payload = null;\n\nif(password == password_db){\n    payload = \"Login Successful\"\n}\nelse{\n    payload = \"Incorrect User Name or Password\"\n}\n\nvar msg = {\n    status : payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":583.3333740234375,"y":209,"wires":[["8f279f81.ead57","431e70d5.6b5d1"]]},{"id":"8f279f81.ead57","type":"ui_text","z":"1c06c61e.ac493a","group":"776001d3.86641","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.status}}","layout":"row-spread","x":748.3333740234375,"y":127,"wires":[]},{"id":"eb681e20.63247","type":"ui_button","z":"1c06c61e.ac493a","name":"Register Button","group":"776001d3.86641","order":0,"width":0,"height":0,"label":"Register","color":"","bgcolor":"","icon":"","payload":"Register","payloadType":"str","topic":"","x":390.3333740234375,"y":388,"wires":[["86f08029.9c6ee"]]},{"id":"86f08029.9c6ee","type":"ui_ui_control","z":"1c06c61e.ac493a","name":"ui control","x":748.3333740234375,"y":388,"wires":[[]]},{"id":"431e70d5.6b5d1","type":"function","z":"1c06c61e.ac493a","name":"","func":"var status = msg.status;\nvar payload = null;\n\nif(status == \"Login Successful\"){\n    payload = \"Home\";\n}\nelse{\n    payload = null;\n}\n\nvar msg = {\n    payload : status\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":750.3333740234375,"y":280,"wires":[["86f08029.9c6ee"]]},{"id":"dbb7dc4c.c7e1","type":"inject","z":"48a83013.14d9","name":"","topic":"","payload":"input[type=text], select {     width: 100%;     padding: 12px 20px;     margin: 8px 0;     display: inline-block;     border: 1px solid #ccc;     border-radius: 4px;     box-sizing: border-box; }","payloadType":"str","repeat":"","crontab":"","once":false,"x":251,"y":539,"wires":[["6d8dc64a.b790d8"]]},{"id":"6d8dc64a.b790d8","type":"function","z":"48a83013.14d9","name":"Encode","func":"var buf = [];\nvar str = msg.payload;\nfor (var i=str.length-1;i>=0;i--) {\n\tbuf.unshift(['&#', str[i].charCodeAt(), ';'].join(''));\n}\n\nvar payload = buf.join('');\n\nvar msg = {\n    payload : payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":401,"y":539,"wires":[["538796fc.14aaf8"]]},{"id":"3e23e85f.f6f298","type":"debug","z":"48a83013.14d9","name":"","active":false,"console":"false","complete":"payload","x":752,"y":539,"wires":[]},{"id":"538796fc.14aaf8","type":"function","z":"48a83013.14d9","name":"Decode","func":"var payload = msg.payload;\nbuf = payload.split(\";\");\nvar str = [];\n\n for (var i=buf.length-1;i>=0;i--) {\n \tstr[i] = String.fromCharCode(buf[i].slice(2));\n }\n\nvar html = str.join('');\n\nvar msg = {\n    payload : html\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":569,"y":539,"wires":[["3e23e85f.f6f298"]]},{"id":"5aa782b6.089c9c","type":"join","z":"48a83013.14d9","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","timeout":"","count":"","x":559,"y":140,"wires":[["61e932ef.f3b04c"]]},{"id":"61e932ef.f3b04c","type":"debug","z":"48a83013.14d9","name":"","active":false,"console":"false","complete":"payload","x":754,"y":140,"wires":[]},{"id":"90e88571.b641d8","type":"inject","z":"48a83013.14d9","name":"Timeout","topic":"","payload":"{   \"name\": \"pratik\",   \"number\": \"1234\",   \"place\" : \"India\",   \"Book\" : \"Meaning\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":367,"y":69,"wires":[["5aa782b6.089c9c"]]},{"id":"d6f9fb75.122d38","type":"inject","z":"48a83013.14d9","name":"Task","topic":"1","payload":"{   \"game\": \"tennis\", \"name\": \"roger\",   \"id\": \"9876\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":363,"y":207,"wires":[["5aa782b6.089c9c","fe15b8a.e233048"]]},{"id":"fe15b8a.e233048","type":"change","z":"48a83013.14d9","name":"msg.complete","rules":[{"t":"move","p":"topic","pt":"msg","to":"complete","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":579,"y":206,"wires":[["5aa782b6.089c9c"]]},{"id":"e5a68c5e.9b41e","type":"watson-conversation-v1","z":"48a83013.14d9","name":"Home Bot","workspaceid":"de7ca07a-dca7-4c04-a397-d60d9756dbb0","multiuser":false,"context":true,"x":244,"y":376,"wires":[["2f86dce6.e9cc74","9967e655.5dbf88","ec3b7fed.6de8"]]},{"id":"315c19b6.c52b96","type":"inject","z":"48a83013.14d9","name":"Place","topic":"Detail_table_place","payload":"places india","payloadType":"str","repeat":"","crontab":"","once":false,"x":234.33333206176758,"y":270.44444608688354,"wires":[["e5a68c5e.9b41e"]]},{"id":"f3e6dbb3.575508","type":"inject","z":"48a83013.14d9","name":"Book","topic":"Detail_table_book","payload":"read Tipping Point","payloadType":"str","repeat":"","crontab":"","once":false,"x":231.22222518920898,"y":474.7777724266052,"wires":[["e5a68c5e.9b41e"]]},{"id":"2f86dce6.e9cc74","type":"function","z":"48a83013.14d9","name":"Timeout Processor","func":"var detail = msg.payload; \n//var timeout_list = msg.payload.output.detail.timeout.timeout_list;\nvar timeout_list = {\n    \n};\nvar lowest_number = timeout_list.sort()[0];\nvar a = String(lowest_number);\n//deliver_via = msg.payload.output.detail.user_calculated.deliver_via;\n\nmsg.payload.output.detail.user_calculated.Template.message.html =  msg.payload;\n\nif (deliver_via == \"mail\"){\n//    return (msg, NULL);\n}\nif (deliver_via == \"text\"){\n//    return ( NULL, msg);\n}\n\nvar msg = {\n  low : a\n};\n\nreturn msg;","outputs":"1","noerr":0,"x":522,"y":312,"wires":[[]]},{"id":"9967e655.5dbf88","type":"debug","z":"48a83013.14d9","name":"","active":true,"console":"false","complete":"true","x":424,"y":376,"wires":[]},{"id":"81008f6a.a9b26","type":"debug","z":"48a83013.14d9","name":"","active":false,"console":"false","complete":"true","x":806,"y":206,"wires":[]},{"id":"ec3b7fed.6de8","type":"function","z":"48a83013.14d9","name":"Min date","func":"\nvar timeout_list = msg.payload.output.detail.timeout.timeout_list;\n\n//search for lowestnumber = detail.timeout.timeout_list \nvar arr = [];\narr_s = Object.keys(timeout_list);\narr = arr_s.map(Number);\nvar lowest_number = arr.sort()[0];\n\nmsg.payload.output.detail.user_calculated = msg.payload.output.detail.timeout.timeout_list[lowest_number];  \nmsg.payload.output.detail.timeout.timeout_list[lowest_number] = \"\"; \ndue_date = new Date(msg.payload.output.detail.Due_date);\ndeliver_via = msg.payload.output.detail.user_calculated.deliver_via;\n\n//merge detail.user_calculated < detail.timeout.timeout-list [lowestnumber] \nvar user_calculated = msg.payload.output.detail.user_calculated; \n\n//delete detail.timeout.timeout_list [lowestnumber]\n\n\n//detail.status not processed and detail.due date is less than today\nvar status = msg.payload.output.detail.status;\nvar date = Date();\nvar due_date_p = Date.parse(due_date);\nvar current_date = Date.parse(Date());\n\nvar msg = {\n    dueDate : due_date_p,\n    current_date : current_date,\n    sts : a\n};\n\nif (due_date_p < current_date && status == \"Not processed\"){\n    if (deliver_via == \"mail\"){\n        return (msg, null);\n    }\n    if (deliver_via == \"msg\"){\n        return (null, msg);\n    }\n    var a = \"Good\";\n}\n\n\n","outputs":"2","noerr":0,"x":623,"y":272,"wires":[["81008f6a.a9b26"],["9d1246.54376db8"]]},{"id":"d0ffe54a.a5f638","type":"function","z":"48a83013.14d9","name":"earliest date","func":"var dates = [];\ndates.push(new Date(\"2011/06/25\"));\ndates.push(new Date(\"2011/06/26\"));\ndates.push(new Date(\"2011/06/27\"));\ndates.push(new Date(\"2010/06/28\"));\nvar minDate=new Date(Math.min.apply(null,dates));\n\nreturn msg;","outputs":1,"noerr":0,"x":191,"y":114,"wires":[[]]},{"id":"9d1246.54376db8","type":"debug","z":"48a83013.14d9","name":"","active":false,"console":"false","complete":"true","x":797,"y":337,"wires":[]},{"id":"7203d780.db0258","type":"twilio out","z":"48a83013.14d9","service":"_ext_","twilio":"df85784.deb9a88","from":"","number":"+918308820145","name":"","x":849,"y":249,"wires":[]},{"id":"72247603.27a908","type":"function","z":"48a83013.14d9","name":"create_task_from_detail","func":"var i = msg.payload;\n\nvar apiResult = [\n    {\n        \"page_id\": 1,\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"title\",\n                    \"html\": \"\"\n                },\n                \"detail\": {\n                    \"name\": \"login form\",\n                    \"html\": \"<ion-content padding=\\\"true\\\">\\r\\n\\t<div class=\\\"wbox\\\" style=\\\"padding:30px;\\\">\\r\\n\\t\\t<form>\\r\\n\\t\\t\\t<h1 style=\\\"text-align:center;\\\">{{title}}<\\/h1>\\r\\n\\t\\t\\t<ion-list style=\\\"\\\">\\r\\n\\t\\t\\t\\t<label class=\\\"item item-input\\\">\\r\\n\\t\\t\\t\\t\\t<input type=\\\"text\\\" id=\\\"phone\\\" ng-model=\\\"user.phone\\\" placeholder=\\\"Phone\\\">\\r\\n\\t\\t\\t\\t<\\/label>\\r\\n\\t\\t\\t\\t<label class=\\\"item item-input\\\">\\r\\n\\t\\t\\t\\t\\t<input type=\\\"password\\\" id=\\\"pass\\\" ng-model=\\\"user.pass\\\" placeholder=\\\"Password\\\">\\r\\n\\t\\t\\t\\t<\\/label>\\r\\n\\t\\t\\t<\\/ion-list>\\r\\n\\t\\t\\t<div style=\\\"height: 40px;\\\" class=\\\"spacer\\\"><\\/div>\\r\\n\\t\\t\\t<button class=\\\"button button-stable button-block\\\" id=\\\"login-button\\\" ng-click=\\\"login(user)\\\">NEXT<\\/button>\\r\\n\\t\\t<\\/form>\\r\\n\\t<\\/div>\\r\\n<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"\"\n                },\n                \"js\": \"$scope.title = \\\"Login\\\";\\r\\n\\r\\n$scope.login = function(user){\\r\\n\\t$scope.to_id = 2;\\r\\n\\tphone = $.trim($(\\\"#phone\\\").val());\\r\\n\\tpass = $.trim($(\\\"#pass\\\").val());\\r\\n\\t\\r\\n\\tif(phone==''){\\r\\n\\t\\tutilityService.msg(\\\"Please enter Phone number\\\");\\r\\n\\t\\t$(\\\"#phone\\\").focus();\\r\\n\\t\\treturn false;\\r\\n\\t}\\r\\n\\tif(pass==''){\\r\\n\\t\\tutilityService.msg(\\\"Please enter Password\\\");\\r\\n\\t\\treturn false;\\r\\n\\t}\\r\\n\\t\\r\\n\\tvar users = [{\\\"id\\\":1,\\\"name\\\":\\\"Adam\\\"},{\\\"id\\\":2,\\\"name\\\":\\\"Ben\\\"},{\\\"id\\\":3,\\\"name\\\":\\\"Clemens\\\"},{\\\"id\\\":4,\\\"name\\\":\\\"Roger\\\"},{\\\"id\\\":5,\\\"name\\\":\\\"Jess\\\"}];\\r\\n\\tif(typeof localStorage.user == \\\"undefined\\\"){\\r\\n\\t\\tuser.id=users[0].id;\\r\\n\\t\\tuser.name=users[0].name;\\r\\n\\t}\\r\\n\\telse{\\r\\n\\t\\tu = JSON.parse(localStorage.user);\\r\\n\\t\\tuser.id = u.id + 1;\\r\\n\\t\\tif(user.id>5) user.id = 1;\\r\\n\\t\\tuser.name=users[user.id-1].name;\\r\\n\\t}\\r\\n\\tlocalStorage.user = JSON.stringify(user);\\r\\n\\t$scope.myId = user.id;\\r\\n\\t$scope.myName = user.name;\\r\\n\\tpopTxt = \\\"user id=\\\"+user.id+\\\", name=\\\"+user.name+\\\",<br> phone=\\\"+user.phone;\\r\\n\\tutilityService.confirmPopup(popTxt,\\\"Accept new phone!\\\")\\r\\n\\t\\t.then(function(res) {\\r\\n\\t\\tif(res){\\r\\n\\t\\t\\t$scope.goPage($scope.to_id);\\r\\n\\t\\t}\\r\\n\\t});\\r\\n};\"\n            },\n            \"from_id\": 0,\n            \"to_id\": 2,\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n        ]\n    },\n\t{\n        \"page_id\": \"2\",\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"Menu\",\n                    \"html\": \"<ion-header-bar class=\\\"bar-stable\\\">\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"goPage(1)\\\">\\r\\n\\t   <i class=\\\"icon ion-log-out\\\"><\\/i>\\r\\n\\t<\\/button>\\r\\n\\t<h1 class=\\\"title\\\">Menu<\\/h1>\\r\\n\\t\\r\\n<\\/ion-header-bar>\"\n                },\n                \"detail\": {\n                    \"name\": \"login form\",\n                    \"html\": \"<ion-content class=\\\"has-header\\\">\\r\\n\\t<div class=\\\"list menuleft\\\">\\r\\n\\t\\t<ion-item nav-clear menu-close href=\\\"\\\" class=\\\"item-icon-left\\\" ng-click=\\\"goPage(3)\\\">\\r\\n\\t\\t\\t<i class=\\\"icon ion-ios-book\\\"><\\/i> Books\\r\\n\\t\\t<\\/ion-item>\\r\\n\\t\\t<ion-item nav-clear menu-close href=\\\"\\\" class=\\\"item-icon-left\\\" ng-click=\\\"goPage(4)\\\">\\r\\n\\t\\t\\t<i class=\\\"icon ion-plane\\\"><\\/i> Travel\\r\\n\\t\\t<\\/ion-item>\\r\\n\\t\\t<ion-item nav-clear menu-close href=\\\"\\\" class=\\\"item-icon-left\\\" ng-click=\\\"goPage(5)\\\">\\r\\n\\t\\t\\t<i class=\\\"icon ion-chatbubbles\\\"><\\/i> Messages\\r\\n\\t\\t<\\/ion-item>\\r\\n\\t\\t<ion-item nav-clear menu-close href=\\\"\\\" class=\\\"item-icon-left\\\" ng-click=\\\"goPage(6)\\\">\\r\\n\\t\\t\\t<i class=\\\"icon ion-chatboxes\\\"><\\/i> SMS\\r\\n\\t\\t<\\/ion-item>\\r\\n\\t<\\/div>\\r\\n<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"\"\n                },\n                \"js\": \"\"\n            },\n            \"from_id\": 0,\n            \"to_id\": 2,\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n        ]\n    },\n\t{\n        \"page_id\": \"3\",\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"Books\",\n                    \"html\": \"<ion-header-bar class=\\\"bar-stable\\\">\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"goPage(2)\\\">\\r\\n\\t   <i class=\\\"icon ion-ios-arrow-back\\\">Back<\\/i>\\r\\n\\t<\\/button>\\r\\n\\t<h1 class=\\\"title\\\">Books<\\/h1>\\r\\n\\t\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"toggleDate()\\\">\\r\\n\\t  <i ng:class=\\\"(sort=='desc')?'icon ion-arrow-up-c':'icon ion-arrow-down-c'\\\"><\\/i>\\r\\n\\t<\\/button>\\r\\n<\\/ion-header-bar>\"\n                },\n                \"detail\": {\n                    \"name\": \"Book list\",\n                    \"html\": \"<ion-content class=\\\"has-header\\\">\\r\\n\\t<ion-list style=\\\"\\\">\\r\\n\\t <ion-item class=\\\"item-remove-animate item-icon-right\\\" ng-repeat=\\\"item in details\\\" type=\\\"item-text-wrap\\\" ng-click=\\\"bookDetails(item.detail_id)\\\">\\r\\n\\t\\t<h2 style=\\\"display:inline-block;\\\">{{item.title}}<\\/h2>\\r\\n\\t\\t<i class=\\\"icon ion-chevron-right icon-accessory\\\"><\\/i>\\r\\n\\t  <\\/ion-item>\\r\\n\\t<\\/ion-list>\\r\\n<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"\"\n                },\n                \"js\": \"$scope.sort = \\\"asc\\\";\\r\\n\\r\\n$scope.details = myService.getDetail(0, 'title', $scope.sort);\\r\\n\\r\\n$scope.toggleDate = function() {\\r\\n\\t$scope.sort = ($scope.sort == \\\"asc\\\")?\\\"desc\\\":\\\"asc\\\";\\r\\n\\t$scope.details = myService.getDetail(0, 'title', $scope.sort);\\r\\n};\\r\\n\\r\\n$scope.bookDetails = function(detail_id){\\r\\n\\t$scope.to_id = 31;\\r\\n\\t$scope.parent_id = detail_id;\\r\\n\\t$scope.goPage($scope.to_id);\\r\\n};\"\n            },\n\t\t\t\"from_id\": 2,\n            \"to_id\": 31,\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n            {\n                \"detail_id\": \"1\",\n                \"title\": \"Paradise Lost\"\n            },\n            {\n                \"detail_id\": \"2\",\n                \"title\": \"The Lean Startup\"\n            }\n        ]\n    },\n    {\n        \"page_id\": \"31\",\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"Details\",\n                    \"html\": \"<ion-header-bar class=\\\"bar-stable\\\">\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"goPage(3)\\\">\\r\\n\\t   <i class=\\\"icon ion-ios-arrow-back\\\">Back<\\/i>\\r\\n\\t<\\/button>\\r\\n\\t<h1 class=\\\"title\\\">{{title}}<\\/h1>\\r\\n\\t\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"toggleDate()\\\">\\r\\n\\t  <i ng:class=\\\"(sort=='desc')?'icon ion-arrow-up-c':'icon ion-arrow-down-c'\\\"><\\/i>\\r\\n\\t<\\/button>\\r\\n<\\/ion-header-bar>\"\n                },\n                \"detail\": {\n                    \"name\": \"chat list\",\n                    \"html\": \"<ion-content class=\\\"content-stable\\\"\\r\\n\\t\\t on-swipe-left=\\\"hideTime = false\\\"\\r\\n\\t\\t on-swipe-right=\\\"hideTime = true\\\">\\r\\n\\t<div ng-repeat=\\\"message in messages\\\"\\r\\n\\t   ng-class=\\\"{other: message.user_id != myId}\\\"\\r\\n\\t   class=\\\"messages\\\">\\r\\n\\t\\t<div class=\\\"message\\\" >\\r\\n\\t\\t\\t<span >{{ message.text }}<\\/span>\\r\\n\\t\\t<\\/div>\\t\\t\\t\\t\\r\\n\\t\\t<div class=\\\"datetime\\\">{{message.date_created}}<\\/div>\\r\\n\\t<\\/div>\\r\\n<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"<ion-footer-bar keyboard-attach class=\\\"bar-stable item-input-inset\\\">\\r\\n\\t\\t<label class=\\\"item-input-wrapper\\\">\\r\\n\\t\\t\\t<input type=\\\"text\\\" placeholder=\\\"Type your message\\\" on-return=\\\"showSendMessage(); closeKeyboard()\\\" ng-model=\\\"data.message\\\" on-focus=\\\"inputUp()\\\" on-blur=\\\"inputDown()\\\" \\/>\\r\\n\\t\\t<\\/label>\\r\\n\\t\\t<button class=\\\"button button-clear\\\" ng-click=\\\"showSendMessage()\\\">\\r\\n\\t\\tSend\\r\\n\\t\\t<\\/button>\\r\\n\\t<\\/ion-footer-bar>\"\n                },\n                \"js\": \"\\t$scope.title = \\\"Details\\\";\\r\\n\\t$scope.sort = \\\"asc\\\";\\r\\n\\t$scope.hideTime = false;\\r\\n\\t$scope.data = {};\\r\\n\\t\\r\\n\\t$scope.messages = myService.getDetail($scope.parent_id, 'date_created', $scope.sort);\\r\\n\\r\\n\\tvar isIOS = ionic.Platform.isIOS();\\r\\n\\t  \\r\\n\\t$scope.toggleDate = function() {\\r\\n\\t\\t$scope.sort = ($scope.sort == \\\"asc\\\")?\\\"desc\\\":\\\"asc\\\";\\r\\n\\t\\t$scope.messages = utilityService.sortByKey($scope.messages, 'date_created', $scope.sort);\\r\\n\\t};\\r\\n\\t  \\r\\n\\t$scope.sendMsg=function(to,body){\\r\\n\\t\\tvar timestamp = new Date().getTime();\\r\\n\\t\\t\\r\\n\\t};\\r\\n\\t  \\r\\n\\t$scope.showSendMessage = function() {\\r\\n\\t\\t$scope.sendMsg($scope.parent_id,$scope.data.message);  \\r\\n\\r\\n\\t\\tvar d = new Date();\\r\\n\\t\\tdt = d.toLocaleDateString()+' '+d.toLocaleTimeString().replace(\\/:\\\\d+ \\/, ' ');\\r\\n\\r\\n\\t\\t$scope.messages.push({\\r\\n\\t\\t  user_id: $scope.myId,\\r\\n\\t\\t  text: $scope.data.message,\\r\\n\\t\\t  date_created: dt\\r\\n\\t\\t});\\r\\n\\r\\n\\t\\tdelete $scope.data.message;\\r\\n\\t\\t$ionicScrollDelegate.scrollBottom(true);\\r\\n\\t};\\r\\n\\r\\n\\t$scope.inputUp = function() {\\r\\n\\t\\tif (isIOS) $scope.data.keyboardHeight = 216;\\r\\n\\t\\t$timeout(function() {\\r\\n\\t\\t  $ionicScrollDelegate.scrollBottom(true);\\r\\n\\t\\t}, 300);\\r\\n\\t};\\r\\n\\r\\n\\t$scope.inputDown = function() {\\r\\n\\t\\tif (isIOS) $scope.data.keyboardHeight = 0;\\r\\n\\t\\t$ionicScrollDelegate.resize();\\r\\n\\t};\\r\\n\\r\\n\\t$scope.closeKeyboard = function() {\\r\\n\\t\\t\\/\\/ cordova.plugins.Keyboard.close();\\r\\n\\t};\"\n            },\n\t\t\t\"from_id\": 3,\n            \"to_id\": 0,\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n            {\n                \"detail_id\": 1,\n                \"parent_id\": 1,\n                \"user_id\": 1,\n                \"text\": \"Hi Matt\",\n                \"date_created\": \"1/26/2017 5:17 PM\"\n            },\n            {\n                \"detail_id\": 2,\n                \"parent_id\": 1,\n                \"user_id\": 4,\n                \"text\": \"Hi. What you up?\",\n                \"date_created\": \"1/26/2017 6:27 PM\"\n            },\n            {\n                \"detail_id\": 3,\n                \"parent_id\": 1,\n                \"user_id\": 1,\n                \"text\": \"Chilling at my pool\",\n                \"date_created\": \"1/26/2017 7:37 PM\"\n            },\n            {\n                \"detail_id\": 4,\n                \"parent_id\": 2,\n                \"user_id\": 2,\n                \"text\": \"I'm dropping my car off at noon\",\n                \"date_created\": \"1/26/2017 2:11 PM\"\n            },\n            {\n                \"detail_id\": 5,\n                \"parent_id\": 2,\n                \"user_id\": 2,\n                \"text\": \"If not, Mom can get me.\",\n                \"date_created\": \"1/26/2017 2:12 PM\"\n            },\n            {\n                \"detail_id\": 6,\n                \"parent_id\": 2,\n                \"user_id\": 4,\n                \"text\": \"Yes, Want to have lunch and check out the office?\",\n                \"date_created\": \"1/26/2017 2:13 PM\"\n            }\n        ]\n    },\n    {\n        \"page_id\": 4,\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"Travel\",\n                    \"html\": \"<ion-header-bar class=\\\"bar-stable\\\">\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"goPage(2)\\\">\\r\\n\\t   <i class=\\\"icon ion-ios-arrow-back\\\">Back<\\/i>\\r\\n\\t<\\/button>\\r\\n\\t<h1 class=\\\"title\\\">Travel<\\/h1>\\r\\n\\t\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"toggleDate()\\\">\\r\\n\\t  <i ng:class=\\\"(sort=='desc')?'icon ion-arrow-up-c':'icon ion-arrow-down-c'\\\"><\\/i>\\r\\n\\t<\\/button>\\r\\n<\\/ion-header-bar>\"\n                },\n                \"detail\": {\n                    \"name\": \"Travel list\",\n                    \"html\": \"<ion-content class=\\\"has-header\\\">\\r\\n\\t<ion-list style=\\\"\\\">\\r\\n\\t <ion-item class=\\\"item-remove-animate item-icon-right\\\" ng-repeat=\\\"item in details\\\" type=\\\"item-text-wrap\\\" ng-click=\\\"travelDetails(item.detail_id)\\\">\\r\\n\\t\\t<h2 style=\\\"display:inline-block;\\\">{{item.title}}<\\/h2>\\r\\n\\t\\t<i class=\\\"icon ion-chevron-right icon-accessory\\\"><\\/i>\\r\\n\\t  <\\/ion-item>\\r\\n\\t<\\/ion-list>\\r\\n<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"\"\n                },\n                \"js\": \"$scope.sort = \\\"asc\\\";\\r\\n\\r\\n$scope.details = myService.getDetail(0, 'title', $scope.sort);\\r\\n\\r\\n$scope.toggleDate = function() {\\r\\n\\t$scope.sort = ($scope.sort == \\\"asc\\\")?\\\"desc\\\":\\\"asc\\\";\\r\\n\\t$scope.details = myService.getDetail(0, 'title', $scope.sort);\\r\\n};\\r\\n\\r\\n$scope.travelDetails = function(detail_id){\\r\\n\\t$scope.to_id = 41;\\r\\n\\t$scope.parent_id = detail_id;\\r\\n\\t$scope.goPage($scope.to_id);\\r\\n};\"\n            },\n\t\t\t\"from_id\": 2,\n            \"to_id\": 41,\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n            {\n                \"detail_id\": \"1\",\n                \"title\": \"Germany\"\n            },\n            {\n                \"detail_id\": \"2\",\n                \"title\": \"India\"\n            }\n        ]\n    },\n    {\n        \"page_id\": 41,\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"Details\",\n                    \"html\": \"<ion-header-bar class=\\\"bar-stable\\\">\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"goPage(4)\\\">\\r\\n\\t   <i class=\\\"icon ion-ios-arrow-back\\\">Back<\\/i>\\r\\n\\t<\\/button>\\r\\n\\t<h1 class=\\\"title\\\">{{title}}<\\/h1>\\r\\n\\t\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"toggleDate()\\\">\\r\\n\\t  <i ng:class=\\\"(sort=='desc')?'icon ion-arrow-up-c':'icon ion-arrow-down-c'\\\"><\\/i>\\r\\n\\t<\\/button>\\r\\n<\\/ion-header-bar>\"\n                },\n                \"detail\": {\n                    \"name\": \"chat list\",\n                    \"html\": \"<ion-content class=\\\"content-stable\\\"\\r\\n\\t\\t on-swipe-left=\\\"hideTime = false\\\"\\r\\n\\t\\t on-swipe-right=\\\"hideTime = true\\\">\\r\\n\\t<div ng-repeat=\\\"message in messages\\\"\\r\\n\\t   ng-class=\\\"{other: message.user_id != myId}\\\"\\r\\n\\t   class=\\\"messages\\\">\\r\\n\\t\\t<div class=\\\"message\\\" >\\r\\n\\t\\t\\t<span >{{ message.text }}<\\/span>\\r\\n\\t\\t<\\/div>\\t\\t\\t\\t\\r\\n\\t\\t<div class=\\\"datetime\\\">{{message.date_created}}<\\/div>\\r\\n\\t<\\/div>\\r\\n<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"<ion-footer-bar keyboard-attach class=\\\"bar-stable item-input-inset\\\">\\r\\n\\t\\t<label class=\\\"item-input-wrapper\\\">\\r\\n\\t\\t\\t<input type=\\\"text\\\" placeholder=\\\"Type your message\\\" on-return=\\\"showSendMessage(); closeKeyboard()\\\" ng-model=\\\"data.message\\\" on-focus=\\\"inputUp()\\\" on-blur=\\\"inputDown()\\\" \\/>\\r\\n\\t\\t<\\/label>\\r\\n\\t\\t<button class=\\\"button button-clear\\\" ng-click=\\\"showSendMessage()\\\">\\r\\n\\t\\tSend\\r\\n\\t\\t<\\/button>\\r\\n\\t<\\/ion-footer-bar>\"\n                },\n                \"js\": \"\\t$scope.title = \\\"Details\\\";\\r\\n\\t$scope.sort = \\\"asc\\\";\\r\\n\\t$scope.hideTime = false;\\r\\n\\t$scope.data = {};\\r\\n\\t\\r\\n\\t$scope.messages = myService.getDetail($scope.parent_id, 'date_created', $scope.sort);\\r\\n\\r\\n\\tvar isIOS = ionic.Platform.isIOS();\\r\\n\\t  \\r\\n\\t$scope.toggleDate = function() {\\r\\n\\t\\t$scope.sort = ($scope.sort == \\\"asc\\\")?\\\"desc\\\":\\\"asc\\\";\\r\\n\\t\\t$scope.messages = utilityService.sortByKey($scope.messages, 'date_created', $scope.sort);\\r\\n\\t};\\r\\n\\t  \\r\\n\\t$scope.sendMsg=function(to,body){\\r\\n\\t\\tvar timestamp = new Date().getTime();\\r\\n\\t\\t\\r\\n\\t};\\r\\n\\t  \\r\\n\\t$scope.showSendMessage = function() {\\r\\n\\t\\t$scope.sendMsg($scope.parent_id,$scope.data.message);  \\r\\n\\r\\n\\t\\tvar d = new Date();\\r\\n\\t\\tdt = d.toLocaleDateString()+' '+d.toLocaleTimeString().replace(\\/:\\\\d+ \\/, ' ');\\r\\n\\r\\n\\t\\t$scope.messages.push({\\r\\n\\t\\t  user_id: $scope.myId,\\r\\n\\t\\t  text: $scope.data.message,\\r\\n\\t\\t  date_created: dt\\r\\n\\t\\t});\\r\\n\\r\\n\\t\\tdelete $scope.data.message;\\r\\n\\t\\t$ionicScrollDelegate.scrollBottom(true);\\r\\n\\t};\\r\\n\\r\\n\\t$scope.inputUp = function() {\\r\\n\\t\\tif (isIOS) $scope.data.keyboardHeight = 216;\\r\\n\\t\\t$timeout(function() {\\r\\n\\t\\t  $ionicScrollDelegate.scrollBottom(true);\\r\\n\\t\\t}, 300);\\r\\n\\t};\\r\\n\\r\\n\\t$scope.inputDown = function() {\\r\\n\\t\\tif (isIOS) $scope.data.keyboardHeight = 0;\\r\\n\\t\\t$ionicScrollDelegate.resize();\\r\\n\\t};\\r\\n\\r\\n\\t$scope.closeKeyboard = function() {\\r\\n\\t\\t\\/\\/ cordova.plugins.Keyboard.close();\\r\\n\\t};\"\n            },\n\t\t\t\"from_id\": 3,\n            \"to_id\": 0,\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n            {\n                \"detail_id\": 1,\n                \"parent_id\": 1,\n                \"user_id\": 1,\n                \"text\": \"Hi Matt\",\n                \"date_created\": \"1/26/2017 5:17 PM\"\n            },\n            {\n                \"detail_id\": 2,\n                \"parent_id\": 1,\n                \"user_id\": 4,\n                \"text\": \"Hi. What you up?\",\n                \"date_created\": \"1/26/2017 6:27 PM\"\n            },\n            {\n                \"detail_id\": 3,\n                \"parent_id\": 1,\n                \"user_id\": 1,\n                \"text\": \"Chilling at my pool\",\n                \"date_created\": \"1/26/2017 7:37 PM\"\n            },\n            {\n                \"detail_id\": 4,\n                \"parent_id\": 2,\n                \"user_id\": 2,\n                \"text\": \"I'm dropping my car off at noon\",\n                \"date_created\": \"1/26/2017 2:11 PM\"\n            },\n            {\n                \"detail_id\": 5,\n                \"parent_id\": 2,\n                \"user_id\": 2,\n                \"text\": \"If not, Mom can get me.\",\n                \"date_created\": \"1/26/2017 2:12 PM\"\n            },\n            {\n                \"detail_id\": 6,\n                \"parent_id\": 2,\n                \"user_id\": 4,\n                \"text\": \"Yes, Want to have lunch and check out the office?\",\n                \"date_created\": \"1/26/2017 2:13 PM\"\n            }\n        ]\n    },\n\t{\n        \"page_id\": 5,\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"Messages\",\n                    \"html\": \"<ion-header-bar class=\\\"bar-stable\\\">\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"goPage(2)\\\">\\r\\n\\t   <i class=\\\"icon ion-ios-arrow-back\\\">Back<\\/i>\\r\\n\\t<\\/button>\\r\\n\\t<h1 class=\\\"title\\\">Messages<\\/h1>\\r\\n\\t\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"toggleDate()\\\">\\r\\n\\t  <i ng:class=\\\"(sort=='desc')?'icon ion-arrow-up-c':'icon ion-arrow-down-c'\\\"><\\/i>\\r\\n\\t<\\/button>\\r\\n<\\/ion-header-bar>\"\n                },\n                \"detail\": {\n                    \"name\": \"Message list\",\n                    \"html\": \"<ion-content class=\\\"has-header\\\">\\r\\n\\t<ion-list style=\\\"\\\">\\r\\n\\t <ion-item class=\\\"item-remove-animate item-avatar item-icon-right\\\" ng-repeat=\\\"item in details\\\" type=\\\"item-text-wrap\\\" ng-click=\\\"messageDetails(item.detail_id)\\\">\\r\\n\\t\\t<img ng-src=\\\"{{item.face}}\\\">\\r\\n\\t\\t<h2 style=\\\"display:inline-block;\\\">{{item.user_name}} \\/ <\\/h2>\\r\\n\\t\\t<h2 style=\\\"display:inline-block;\\\">{{item.phone}}<\\/h2>\\r\\n\\t\\t<p>{{item.last_text}}<\\/p>\\r\\n\\t\\t<p class=\\\"created-date\\\">{{item.date_created}}<\\/p>\\r\\n\\t\\t<i class=\\\"icon ion-chevron-right icon-accessory\\\"><\\/i>\\r\\n\\t  <\\/ion-item>\\r\\n\\t<\\/ion-list>\\r\\n<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"\"\n                },\n                \"js\": \"$scope.sort = \\\"asc\\\";\\r\\n\\r\\n$scope.details = myService.getDetail(0, 'date_created', $scope.sort);\\r\\n\\r\\n$scope.toggleDate = function() {\\r\\n\\t$scope.sort = ($scope.sort == \\\"asc\\\")?\\\"desc\\\":\\\"asc\\\";\\r\\n\\t$scope.details = myService.getDetail(0, 'date_created', $scope.sort);\\r\\n};\\r\\n\\r\\n$scope.messageDetails = function(detail_id){\\r\\n\\t$scope.to_id = 51;\\r\\n\\t$scope.parent_id = detail_id;\\r\\n\\t$scope.goPage($scope.to_id);\\r\\n};\"\n            },\n\t\t\t\"from_id\": 2,\n            \"to_id\": 51,\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n            {\n                \"detail_id\": \"1\",\n                \"user_id\": \"1\",\n                \"user_name\": \"Adam\",\n                \"phone\": \"12165707737\",\n                \"face\": \"img/adam.jpg\",\n                \"last_text\": \"Chilling at my po ...\",\n                \"date_created\": \"1/26/2017 5:05 PM\"\n            },\n            {\n                \"detail_id\": \"2\",\n                \"user_id\": \"2\",\n                \"user_name\": \"Ben\",\n                \"phone\": \"13178789778\",\n                \"face\": \"img/ben.png\",\n                \"last_text\": \"Yes, Want to have ...\",\n                \"date_created\": \"1/26/2017 6:06 PM\"\n            },\n            {\n                \"detail_id\": \"3\",\n                \"user_id\": \"3\",\n                \"user_name\": \"Clemens\",\n                \"phone\": \"14153689779\",\n                \"face\": \"img/clemens.png\",\n                \"last_text\": \"On the phone now.\",\n                \"date_created\": \"1/26/2017 7:07 PM\"\n            }\n        ]\n    },\n    {\n        \"page_id\": 51,\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"Details\",\n                    \"html\": \"<ion-header-bar class=\\\"bar-stable\\\">\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"goPage(5)\\\">\\r\\n\\t   <i class=\\\"icon ion-ios-arrow-back\\\">Back<\\/i>\\r\\n\\t<\\/button>\\r\\n\\t<h1 class=\\\"title\\\">{{title}}<\\/h1>\\r\\n\\t\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"toggleDate()\\\">\\r\\n\\t  <i ng:class=\\\"(sort=='desc')?'icon ion-arrow-up-c':'icon ion-arrow-down-c'\\\"><\\/i>\\r\\n\\t<\\/button>\\r\\n<\\/ion-header-bar>\"\n                },\n                \"detail\": {\n                    \"name\": \"sms list\",\n                    \"html\": \"<ion-content class=\\\"content-stable\\\"\\r\\n\\t\\t on-swipe-left=\\\"hideTime = false\\\"\\r\\n\\t\\t on-swipe-right=\\\"hideTime = true\\\">\\r\\n\\t<div ng-repeat=\\\"message in messages\\\"\\r\\n\\t   ng-class=\\\"{other: message.user_id != myId}\\\"\\r\\n\\t   class=\\\"messages\\\">\\r\\n\\t\\t<div class=\\\"message\\\" >\\r\\n\\t\\t\\t<p class=\\\"chat-typing\\\" ng-show=\\\"message.text=='. . .'\\\">{{message.username}}<\\/p>\\r\\n\\t\\t\\t<span >{{ message.text }}<\\/span>\\r\\n\\t\\t<\\/div>\\r\\n\\t\\t<div class=\\\"datetime\\\">{{message.date_created}}<\\/div>\\r\\n\\t<\\/div>\\r\\n<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"<ion-footer-bar keyboard-attach class=\\\"bar-stable item-input-inset\\\">\\r\\n\\t<label class=\\\"item-input-wrapper\\\">\\r\\n\\t\\t<input type=\\\"text\\\" placeholder=\\\"Type your message\\\" on-return=\\\"showSendMessage(); closeKeyboard()\\\" ng-model=\\\"data.message\\\" on-focus=\\\"inputUp()\\\" on-blur=\\\"inputDown()\\\" \\/>\\r\\n\\t<\\/label>\\r\\n\\t<div class=\\\"footer-btn-wrap\\\">\\r\\n\\t\\t<button class=\\\"button button-icon icon ion-ios-paperplane footer-btn\\\"\\r\\n\\t\\t\\tng-disabled=\\\"!data.message || data.message === ''\\\" ng-click=\\\"showSendMessage()\\\">\\r\\n\\t\\t<\\/button>\\r\\n\\t<\\/div>\\r\\n<\\/ion-footer-bar>\"\n                },\n                \"js\": \"$scope.title = \\\"Details\\\";\\r\\n$scope.sort = \\\"asc\\\";\\r\\n$scope.hideTime = false;\\r\\n$scope.data = {};\\r\\n\\r\\nvar typing = false;\\r\\nvar lastTypingTime;\\r\\nvar TYPING_TIMER_LENGTH = 250;\\r\\nvar isIOS = ionic.Platform.isIOS();\\r\\n\\r\\nvar historyData = myService.getDetail($scope.parent_id, 'date_created', $scope.sort);\\r\\nChat.setMessages(historyData);\\r\\n$scope.messages = Chat.getMessages();\\r\\n\\r\\nSocket.on('connect',function(){\\r\\n\\tSocket.emit('add user', $scope.myName);\\r\\n});\\r\\n\\r\\nChat.scrollBottom();\\r\\n\\r\\n$scope.toggleDate = function() {\\r\\n\\t$scope.sort = ($scope.sort == \\\"asc\\\")?\\\"desc\\\":\\\"asc\\\";\\r\\n\\t$scope.messages = utilityService.sortByKey($scope.messages, 'date_created', $scope.sort);\\r\\n};\\r\\n\\r\\n$scope.sendMsg=function(to,body){\\r\\n\\tvar timestamp = new Date().getTime();\\r\\n\\t\\r\\n};\\r\\n  \\r\\n$scope.showSendMessage = function() {\\r\\n\\t$scope.sendMsg($scope.parent_id,$scope.data.message);\\r\\n\\tChat.sendMessage($scope.myId, $scope.data.message);\\r\\n\\tdelete $scope.data.message;\\r\\n};\\r\\n\\r\\n$scope.inputUp = function() {\\r\\n\\tif (isIOS) $scope.data.keyboardHeight = 216;\\r\\n\\t$timeout(function() {\\r\\n\\t  $ionicScrollDelegate.scrollBottom(true);\\r\\n\\t}, 300);\\r\\n};\\r\\n\\r\\n$scope.inputDown = function() {\\r\\n\\tif (isIOS) $scope.data.keyboardHeight = 0;\\r\\n\\t$ionicScrollDelegate.resize();\\r\\n};\\r\\n\\r\\n$scope.closeKeyboard = function() {\\r\\n\\t\\/\\/ cordova.plugins.Keyboard.close();\\r\\n};\"\n            },\n\t\t\t\"from_id\": 5,\n            \"to_id\": 0,\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n            {\n                \"detail_id\": \"1\",\n                \"parent_id\": 1,\n                \"user_id\": \"1\",\n                \"text\": \"Hi Matt\",\n                \"date_created\": \"1/26/2017 1:05 PM\"\n            },\n            {\n                \"detail_id\": 2,\n                \"parent_id\": 1,\n                \"user_id\": 4,\n                \"text\": \"Hi. What you up?\",\n                \"date_created\": \"1/26/2017 1:27 PM\"\n            },\n            {\n                \"detail_id\": 3,\n                \"parent_id\": 1,\n                \"user_id\": 1,\n                \"text\": \"Chilling at my pool\",\n                \"date_created\": \"1/26/2017 1:37 PM\"\n            },\n            {\n                \"detail_id\": 4,\n                \"parent_id\": 2,\n                \"user_id\": 2,\n                \"text\": \"I'm dropping my car off at noon\",\n                \"date_created\": \"1/26/2017 2:11 PM\"\n            },\n            {\n                \"detail_id\": 5,\n                \"parent_id\": 2,\n                \"user_id\": 2,\n                \"text\": \"If not, Mom can get me.\",\n                \"date_created\": \"1/26/2017 2:12 PM\"\n            },\n            {\n                \"detail_id\": 6,\n                \"parent_id\": 2,\n                \"user_id\": 4,\n                \"text\": \"Yes, Want to have lunch and check out the office?\",\n                \"date_created\": \"1/26/2017 2:13 PM\"\n            },\n            {\n                \"detail_id\": 7,\n                \"parent_id\": 3,\n                \"user_id\": 4,\n                \"text\": \"An Amazon box in your name was delivered to our house today.\",\n                \"date_created\": \"1/26/2017 3:21 PM\"\n            },\n            {\n                \"detail_id\": 8,\n                \"parent_id\": 3,\n                \"user_id\": 3,\n                \"text\": \"It's cups mom wanted for Jimmy.\",\n                \"date_created\": \"1/26/2017 3:22 PM\"\n            },\n            {\n                \"detail_id\": 9,\n                \"parent_id\": 3,\n                \"user_id\": 3,\n                \"text\": \"On the phone now.\",\n                \"date_created\": \"1/26/2017 3:23 PM\"\n            }\n        ]\n    },\n    {\n        \"page_id\": 6,\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"SMS\",\n                    \"html\": \"<ion-header-bar class=\\\"bar-stable\\\">\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"goPage(2)\\\">\\r\\n\\t   <i class=\\\"icon ion-ios-arrow-back\\\">Back<\\/i>\\r\\n\\t<\\/button>\\r\\n\\t<h1 class=\\\"title\\\">SMS<\\/h1>\\r\\n\\t\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"toggleDate()\\\">\\r\\n\\t  <i ng:class=\\\"(sort=='desc')?'icon ion-arrow-up-c':'icon ion-arrow-down-c'\\\"><\\/i>\\r\\n\\t<\\/button>\\r\\n<\\/ion-header-bar>\"\n                },\n                \"detail\": {\n                    \"name\": \"SMS list\",\n                    \"html\": \"<ion-content class=\\\"has-header\\\">\\r\\n\\t<ion-list style=\\\"\\\">\\r\\n\\t <ion-item class=\\\"item-remove-animate item-icon-right\\\" ng-repeat=\\\"item in details\\\" type=\\\"item-text-wrap\\\" ng-click=\\\"smsDetails(item.detail_id)\\\">\\r\\n\\t\\t<h2>{{item.user_name}}<\\/h2>\\r\\n\\t\\t<h2 style=\\\"text-align:right;\\\">{{item.phone}}<\\/h2>\\r\\n\\t\\t<i class=\\\"icon ion-chevron-right icon-accessory\\\"><\\/i>\\r\\n\\t  <\\/ion-item>\\r\\n\\t<\\/ion-list>\\r\\n<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"\"\n                },\n                \"js\": \"$scope.sort = \\\"asc\\\";\\r\\n\\r\\n$scope.details = myService.getDetail(0, 'user_name', $scope.sort);\\r\\n\\r\\n$scope.toggleDate = function() {\\r\\n\\t$scope.sort = ($scope.sort == \\\"asc\\\")?\\\"desc\\\":\\\"asc\\\";\\r\\n\\t$scope.details = myService.getDetail(0, 'user_name', $scope.sort);\\r\\n};\\r\\n\\r\\n$scope.smsDetails = function(detail_id){\\r\\n\\t$scope.to_id = 61;\\r\\n\\t$scope.parent_id = detail_id;\\r\\n\\t$scope.goPage($scope.to_id);\\r\\n};\"\n            },\n\t\t\t\"from_id\": 2,\n            \"to_id\": 61,\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n            {\n                \"detail_id\": \"1\",\n                \"user_id\": \"1\",\n                \"user_name\": \"Adam\",\n                \"phone\": \"12165707737\",\n                \"date_created\": \"1/26/2017 5:05 PM\"\n            },\n            {\n                \"detail_id\": \"2\",\n                \"user_id\": \"2\",\n                \"user_name\": \"Ben\",\n                \"phone\": \"13178789778\",\n                \"date_created\": \"1/26/2017 6:06 PM\"\n            },\n            {\n                \"detail_id\": \"3\",\n                \"user_id\": \"3\",\n                \"user_name\": \"Clemens\",\n                \"phone\": \"14153689779\",\n                \"date_created\": \"1/26/2017 7:07 PM\"\n            }\n        ]\n    },\n    {\n        \"page_id\": \"61\",\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"Details\",\n                    \"html\": \"<ion-header-bar class=\\\"bar-stable\\\">\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"goPage(6)\\\">\\r\\n\\t   <i class=\\\"icon ion-ios-arrow-back\\\">Back<\\/i>\\r\\n\\t<\\/button>\\r\\n\\t<h1 class=\\\"title\\\">{{title}}<\\/h1>\\r\\n\\t\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"toggleDate()\\\">\\r\\n\\t  <i ng:class=\\\"(sort=='desc')?'icon ion-arrow-up-c':'icon ion-arrow-down-c'\\\"><\\/i>\\r\\n\\t<\\/button>\\r\\n<\\/ion-header-bar>\"\n                },\n                \"detail\": {\n                    \"name\": \"sms list\",\n                    \"html\": \"<ion-content class=\\\"content-stable\\\"\\r\\n\\t\\t on-swipe-left=\\\"hideTime = false\\\"\\r\\n\\t\\t on-swipe-right=\\\"hideTime = true\\\">\\r\\n\\t<div ng-repeat=\\\"message in messages\\\"\\r\\n\\t   ng-class=\\\"{other: message.user_id != myId}\\\"\\r\\n\\t   class=\\\"messages\\\">\\r\\n\\t\\t<div class=\\\"message\\\" >\\r\\n\\t\\t\\t<span >{{ message.text }}<\\/span>\\r\\n\\t\\t<\\/div>\\t\\t\\t\\t\\r\\n\\t\\t<div class=\\\"datetime\\\">{{message.date_created}}<\\/div>\\r\\n\\t<\\/div>\\r\\n<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"<ion-footer-bar keyboard-attach class=\\\"bar-stable item-input-inset\\\">\\r\\n\\t\\t<label class=\\\"item-input-wrapper\\\">\\r\\n\\t\\t\\t<input type=\\\"text\\\" placeholder=\\\"Type your message\\\" on-return=\\\"showSendMessage(); closeKeyboard()\\\" ng-model=\\\"data.message\\\" on-focus=\\\"inputUp()\\\" on-blur=\\\"inputDown()\\\" \\/>\\r\\n\\t\\t<\\/label>\\r\\n\\t\\t<button class=\\\"button button-clear\\\" ng-click=\\\"showSendMessage()\\\">\\r\\n\\t\\tSend\\r\\n\\t\\t<\\/button>\\r\\n\\t<\\/ion-footer-bar>\"\n                },\n                \"js\": \"\\t$scope.title = \\\"Details\\\";\\r\\n\\t$scope.sort = \\\"asc\\\";\\r\\n\\t$scope.hideTime = false;\\r\\n\\t$scope.data = {};\\r\\n\\t\\r\\n\\t$scope.messages = myService.getDetail($scope.parent_id, 'date_created', $scope.sort);\\r\\n\\r\\n\\tvar isIOS = ionic.Platform.isIOS();\\r\\n\\t  \\r\\n\\t$scope.toggleDate = function() {\\r\\n\\t\\t$scope.sort = ($scope.sort == \\\"asc\\\")?\\\"desc\\\":\\\"asc\\\";\\r\\n\\t\\t$scope.messages = utilityService.sortByKey($scope.messages, 'date_created', $scope.sort);\\r\\n\\t};\\r\\n\\t  \\r\\n\\t$scope.sendMsg=function(to,body){\\r\\n\\t\\tvar timestamp = new Date().getTime();\\r\\n\\t\\t\\r\\n\\t};\\r\\n\\t  \\r\\n\\t$scope.showSendMessage = function() {\\r\\n\\t\\t$scope.sendMsg($scope.parent_id,$scope.data.message);  \\r\\n\\r\\n\\t\\tvar d = new Date();\\r\\n\\t\\tdt = d.toLocaleDateString()+' '+d.toLocaleTimeString().replace(\\/:\\\\d+ \\/, ' ');\\r\\n\\r\\n\\t\\t$scope.messages.push({\\r\\n\\t\\t  user_id: $scope.myId,\\r\\n\\t\\t  text: $scope.data.message,\\r\\n\\t\\t  date_created: dt\\r\\n\\t\\t});\\r\\n\\r\\n\\t\\tdelete $scope.data.message;\\r\\n\\t\\t$ionicScrollDelegate.scrollBottom(true);\\r\\n\\t};\\r\\n\\r\\n\\t$scope.inputUp = function() {\\r\\n\\t\\tif (isIOS) $scope.data.keyboardHeight = 216;\\r\\n\\t\\t$timeout(function() {\\r\\n\\t\\t  $ionicScrollDelegate.scrollBottom(true);\\r\\n\\t\\t}, 300);\\r\\n\\t};\\r\\n\\r\\n\\t$scope.inputDown = function() {\\r\\n\\t\\tif (isIOS) $scope.data.keyboardHeight = 0;\\r\\n\\t\\t$ionicScrollDelegate.resize();\\r\\n\\t};\\r\\n\\r\\n\\t$scope.closeKeyboard = function() {\\r\\n\\t\\t\\/\\/ cordova.plugins.Keyboard.close();\\r\\n\\t};\"\n            },\n\t\t\t\"from_id\": 6,\n            \"to_id\": 0,\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n            {\n                \"detail_id\": \"1\",\n                \"parent_id\": 1,\n                \"user_id\": \"1\",\n                \"text\": \"Hi Adam\",\n                \"date_created\": \"1/26/2017 1:17 PM\"\n            },\n            {\n                \"detail_id\": 2,\n                \"parent_id\": 1,\n                \"user_id\": 4,\n                \"text\": \"Adam. What's up?\",\n                \"date_created\": \"1/26/2017 1:27 PM\"\n            },\n            {\n                \"detail_id\": 3,\n                \"parent_id\": 1,\n                \"user_id\": 1,\n                \"text\": \"Chilling at my pool\",\n                \"date_created\": \"1/26/2017 1:37 PM\"\n            },\n            {\n                \"detail_id\": 4,\n                \"parent_id\": 2,\n                \"user_id\": 2,\n                \"text\": \"I'm dropping my car off at noon\",\n                \"date_created\": \"1/26/2017 2:11 PM\"\n            },\n            {\n                \"detail_id\": 5,\n                \"parent_id\": 2,\n                \"user_id\": 2,\n                \"text\": \"If not, Mom can get me.\",\n                \"date_created\": \"1/26/2017 2:12 PM\"\n            },\n            {\n                \"detail_id\": 6,\n                \"parent_id\": 2,\n                \"user_id\": 4,\n                \"text\": \"Yes, Want to have lunch and check out the office?\",\n                \"date_created\": \"1/26/2017 2:13 PM\"\n            },\n            {\n                \"detail_id\": 7,\n                \"parent_id\": 3,\n                \"user_id\": 4,\n                \"text\": \"An Amazon box in your name was delivered to our house today.\",\n                \"date_created\": \"1/26/2017 3:21 PM\"\n            },\n            {\n                \"detail_id\": 8,\n                \"parent_id\": 3,\n                \"user_id\": 3,\n                \"text\": \"It's cups mom wanted for Jimmy.\",\n                \"date_created\": \"1/26/2017 3:22 PM\"\n            },\n            {\n                \"detail_id\": 9,\n                \"parent_id\": 3,\n                \"user_id\": 3,\n                \"text\": \"On the phone now.\",\n                \"date_created\": \"1/26/2017 3:23 PM\"\n            }\n        ]\n    }\n];\n\n// var page_id = msg.req.query.page_id;\n// var response = [];\n// for(var ind=0;ind<apiResult.length;ind++){\n// \tif(apiResult[ind].page_id == page_id){\n// \t\tresponse = apiResult[ind];\n// \t\tbreak;\n// \t}\n// }\n//node.log(msg.req.query.page_id);\n\nmsg.payload = apiResult[i];\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":615,"wires":[["a8751f5.3d497e","8951661e.704a88"]]},{"id":"712958e6.df5ec8","type":"inject","z":"48a83013.14d9","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":256,"y":615,"wires":[["72247603.27a908"]]},{"id":"a8751f5.3d497e","type":"debug","z":"48a83013.14d9","name":"","active":true,"console":"false","complete":"false","x":738,"y":615,"wires":[]},{"id":"8951661e.704a88","type":"cloudant out","z":"48a83013.14d9","name":"Couldant DB","cloudant":"","database":"chatbot_project","service":"PkTwilioConv-cloudantNoSQLDB","payonly":true,"operation":"insert","x":757,"y":682,"wires":[]},{"id":"9016f9cb.1eac28","type":"watson-conversation-v1","z":"fd403b49.866ff8","name":"Home Bot","workspaceid":"de7ca07a-dca7-4c04-a397-d60d9756dbb0","multiuser":false,"context":true,"x":359,"y":454.7777862548828,"wires":[["aa4f35fa.d187e8"]]},{"id":"c58028a0.be66d8","type":"inject","z":"fd403b49.866ff8","name":"Book","topic":"Detail_table_book","payload":"read Tipping Point","payloadType":"str","repeat":"","crontab":"","once":false,"x":197.22222900390625,"y":454.5555877685547,"wires":[["9016f9cb.1eac28"]]},{"id":"a9d12371.71925","type":"inject","z":"fd403b49.866ff8","name":"T","topic":"","payload":"{   \"User_id\": \"User_id\",   \"task_id\": \"task_id\",   \"Date_created\": \"Date_created\",   \"Type\": \"Type\",   \"Category\": \"Category\",   \"Status\": \"Status\",   \"header_template_id\": \"header_template_id\",   \"detail_template_id\": \"detail_template_id\",   \"footer template id\": \"footer template id\",   \"Additional_data_fn\": \"Additional_data_fn\",   \"timeout_id\": \"timeout_id\",   \"location_ids\": \"location_ids\",   \"Optional_data\": \"Optional_data\",   \"Required_data\": \"Required_data\",   \"offline_expiration_time\": \"offline_expiration_time\",   \"display_if_empty\": \"display_if_empty\",   \"child_defaults_task_id\": \"child_defaults_task_id\",   \"child_defaults\": \"child_defaults\",   \"template\": \"template\",   \"detail\" : \"detail\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":173.66668701171875,"y":145,"wires":[["c370fec5.e982"]]},{"id":"1d29da91.c9b755","type":"inject","z":"fd403b49.866ff8","name":"U","topic":"","payload":"{   \"user_id\": \"user_id\",   \"long_url\": \"long_url\",   \"access_token\": \"access_token\",   \"security_level\": \"security_level\",   \"phone\": \"phone\",   \"email\": \"email\",   \"other\": \"other\",   \"conversation_id\": \"conversation_id\",   \"firstname\": \"firstname\",   \"lastname\": \"lastname\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":158.11111450195312,"y":208.88888549804688,"wires":[["76d7cf44.cee11"]]},{"id":"ffb812e1.a435c","type":"inject","z":"fd403b49.866ff8","name":"H","topic":"","payload":"{     \"header\": {       \"template_id\": \"temp1\",       \"HTML\": \"html\",       \"Name\": \"book\"     },     \"detail\": {       \"template_id\": \"temp1\",       \"HTML\": \"html\",       \"Name\": \"book\"     },     \"footer\": {       \"template_id\": \"temp1\",       \"HTML\": \"html\",       \"Name\": \"book\"     }   }","payloadType":"json","repeat":"","crontab":"","once":false,"x":136.22222900390625,"y":272.44444274902344,"wires":[["48cc30a9.722f4"]]},{"id":"eff0bdd8.6e473","type":"inject","z":"fd403b49.866ff8","name":"D","topic":"","payload":"{   \"delivery_status\": \"delivery_status\",   \"delivery_count\": \"delivery_count\",   \"delivery_due\": \"delivery_due\",   \"delivery_users_ids\": \"delivery_users_ids\",   \"deliver_via\": \"deliver_via\",   \"message_id\": \"message_id\",   \"from_id\": \"from_id\",   \"users\": \"users\",   \"template\": \"template\",   \"defaults\": {} }","payloadType":"json","repeat":"","crontab":"","once":false,"x":158.33334350585938,"y":327.6666564941406,"wires":[["49e704e2.9a0b2c"]]},{"id":"fca7a416.a2dde8","type":"inject","z":"fd403b49.866ff8","name":"L","topic":"1","payload":"{   \"location_one\": {     \"location_id\": \"location_id\",     \"location_name\": \"location_name\",     \"location_type\": \"location_type\",     \"location_data\": {       \"lat\": \"lat\",       \"lon\": \"lon\",       \"dist\": \"dist\",       \"web\": \"web\"     }   } }","payloadType":"json","repeat":"","crontab":"","once":false,"x":180.00003051757812,"y":388.2222137451172,"wires":[["844beafb.b1ca88"]]},{"id":"c3541493.07c258","type":"debug","z":"fd403b49.866ff8","name":"","active":false,"console":"false","complete":"big_record_tables","x":895.4444580078125,"y":175.44444274902344,"wires":[]},{"id":"2c2dce16.a53042","type":"function","z":"fd403b49.866ff8","name":"Merge","func":"var task = msg.task;\nvar U = msg.U;\nvar H = msg.H;\nvar D = msg.D;\nvar L = msg.L;\nvar big_record_watson = msg.big_record_watson;\n\nvar detail_table = {\n    task : \"\",\n    detail : \"\",\n    user : \"\",\n    User_incoming : \"\",\n    Watson_incoming : \"\"\n};\n\nfunction isEmpty(obj) {\n    for(var key in obj) {\n        if(obj.hasOwnProperty(key))\n            return false;\n    }\n    return true;\n}\n\nfunction objectIterator(obj) {\n var result = [],indent = '';\n function getProps(obj, doIndent){\n  var level = 4;   \n  for (var property in obj) {\n    if (obj.hasOwnProperty(property)){\n        if (obj[property].constructor === Object) {\n            result.push(indent+'+['+property+']: Object'+' (level ' +((indent.length/12)+1)+')');\n           indent += '&nbsp;&nbsp;';\n           getProps(obj[property],true);\n           indent = '';\n        } else {\n            result.push((doIndent ? (indent || '') : '') + property + \": \" + obj[property]);\n        }\n    }\n  }\n }\n getProps(obj); //tail optimizing\n return result;\n}    \n\n// ===== // big_record_table.task // ===== //\n\nif(!task){\n    if(context.get('U')) {\n        var task = context.get('task');\n    }\n    else {\n        var task = {};\n    }\n}\n\nif(!U){\n    if(context.get('U')) {\n        var U = context.get('U');\n    }\n    else {\n        var U = {};\n    }\n}\n\nif(!H){\n    if(context.get('U')) {\n        var H = context.get('H');\n    }\n    else {\n        var H = {};\n    }\n}\n\nif(!D){\n    if(context.get('U')) {\n        var D = context.get('D');\n    }\n    else {\n        var D = {};\n    }    \n}\n\nif(!L){\n    if(context.get('U')) {\n        var L = {};\n    }\n    else {\n        var L = context.get('L');\n    }\n}\n\ntask.detail = {\n    \"Due_seconds\" : \"Due_seconds\", \n    \"Priority\" : \"Priority\", \n    \"status\" : \"status\",\n    \"processed\" : \"processed\",\n    \"timeout\" : \"timeout\",\n    \"location\" : \"location\",\n    \"defaults\" : {}\n};\n\n\n\ntask.detail.timeout = {\n  \"timeout_id\": \"timeout_id\",\n  \"Name\": \"Name\",\n  \"timeout_list\": \"timeout_list\"\n}; \n\nif(!isEmpty(task.detail.location)){\n    task.detail.location = L;\n}\n\nif(!isEmpty(task.detail.template)){\n    task.template = {\n        \"header\" : H,\n        \"detail\" : H,\n        \"footer\" : H\n    };\n}\n\nif(!isEmpty(task.detail.timeout.timeout_list)){\n    task.detail.timeout.timeout_list = {\n        \"one\" : D\n    };\n}\n\nif(!isEmpty(task.detail.timeout.timeout_list.one.users)){\n    task.detail.timeout.timeout_list.one.users = {\n        \"one\" : U\n    };\n}    \n\nif(!isEmpty(task.detail.timeout.timeout_list.one.template)){\n    task.detail.timeout.timeout_list.one.template = {\n        \"message\" : H,\n        \"from\" : H\n    };\n}    \n\n// ===== // ------------ // ===== //\n// ===== // big_record_table.task // ===== //\n\nvar detail = {\n    \"Detail_id\" : \"Detail_id\",\n    \"task_id\" : \"task_id\",\n    \"child_task_id\" : \"child_task_id\",\n    \"Synchornized\" : \"Synchornized\",\n    \"processed\" : \"processed\",\n    \"Status\" : \"Status\",\n    \"read\" : \"read\",\n    \"display_if_empty\" : \"display_if_empty\", \n    \"User_id\" : \"User_id\",\n    \"Date_created\" : \"Date_created\",\n    \"page_id\" : \"page_id\", \n    \"Due date\" : \"Due date\",\n    \"Priority\" : \"Priority\", \n    \"user_incoming\" : \"user_incoming\",\n    \"watson_incoming\" : \"watson_incoming\",\n    \"timeout\" : \"timeout\"\n};\n\ndetail.timeout = {\n  \"timeout_id\": \"timeout_id\",\n  \"Name\": \"Name\",\n  \"timeout_list\": \"timeout_list\"\n}; \n\nif(!isEmpty(detail.location)){\n    detail.location = L;\n}\n\nif(!isEmpty(detail.template)){\n    template = {\n        \"header\" : H,\n        \"detail\" : H,\n        \"footer\" : H\n    };\n}\n\nif(!isEmpty(detail.timeout.timeout_list)){\n    detail.timeout.timeout_list = {\n        \"one\" : D\n    };\n}\n\nif(!isEmpty(detail.timeout.timeout_list.one.users)){\n    detail.timeout.timeout_list.one.users = {\n        \"one\" : U\n    };\n}    \n\nif(!isEmpty(detail.timeout.timeout_list.one.template)){\n    detail.timeout.timeout_list.one.template = {\n        \"message\" : H,\n        \"from\" : H\n    };\n}    \n\n// ===== // ------------ // ===== //\n\n\ncontext.set('task',task);\ncontext.set('U',U);\ncontext.set('H',H);\ncontext.set('D',D);\ncontext.set('L',L);\n\nvar big_record_table = {\n        task : task,\n        detail : detail,\n        user : task.detail.timeout.timeout_list.one.users,\n        User_incoming : \"User_incoming\",\n        Watson_incoming : \"Watson_incoming\"\n    };\n\n//var detail_table = context.get('detail_table');    \nvar arr = [];\narr = objectIterator(big_record_watson);\n\nif (isEmpty(arr[0])){\n    detail_table.task =  big_record_table.task;   \n}\nelse {\n    detail_table.task =  big_record_watson.task;\n}\n\nif (isEmpty(arr[1])){\n    detail_table.detail =  big_record_table.detail;   \n}\nelse {\n    detail_table.detail =  big_record_watson.detail;\n}\n\nif (isEmpty(arr[2])){\n    detail_table.user =  big_record_table.user;   \n}\nelse {\n    detail_table.user =  big_record_watson.user;\n}\n\nif (isEmpty(arr[3])){\n    detail_table.User_incoming =  big_record_table.User_incoming;   \n}\nelse {\n    detail_table.User_incoming =  big_record_watson.User_incoming;\n}\n\nif (isEmpty(arr[4])){\n    detail_table.Watson_incoming =  big_record_table.Watson_incoming;   \n}\nelse {\n    detail_table.Watson_incoming =  big_record_watson.Watson_incoming;\n}\n\n//context.set('detail_table',detail_table);\n    \nvar msg = {\n    payload : detail_table \n};\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":630.2222290039062,"y":271.44444274902344,"wires":[["c3541493.07c258","99d23da7.7970b"]]},{"id":"c370fec5.e982","type":"change","z":"fd403b49.866ff8","name":"msg.task","rules":[{"t":"move","p":"payload","pt":"msg","to":"task","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":329.3333435058594,"y":145.44444274902344,"wires":[["2c2dce16.a53042"]]},{"id":"76d7cf44.cee11","type":"change","z":"fd403b49.866ff8","name":"msg.U","rules":[{"t":"move","p":"payload","pt":"msg","to":"U","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":306.3333435058594,"y":209.44444274902344,"wires":[["2c2dce16.a53042"]]},{"id":"48cc30a9.722f4","type":"change","z":"fd403b49.866ff8","name":"msg.H","rules":[{"t":"move","p":"payload","pt":"msg","to":"H","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":294.3333435058594,"y":272.44444274902344,"wires":[["2c2dce16.a53042"]]},{"id":"49e704e2.9a0b2c","type":"change","z":"fd403b49.866ff8","name":"msg.D","rules":[{"t":"move","p":"payload","pt":"msg","to":"D","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":289.3333435058594,"y":327.44444274902344,"wires":[["2c2dce16.a53042"]]},{"id":"844beafb.b1ca88","type":"change","z":"fd403b49.866ff8","name":"msg.L","rules":[{"t":"move","p":"payload","pt":"msg","to":"L","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":316.3333435058594,"y":388.44444274902344,"wires":[["2c2dce16.a53042"]]},{"id":"e1fe20b7.82b8b","type":"debug","z":"fd403b49.866ff8","name":"","active":false,"console":"false","complete":"big_record_watson","x":906.2222290039062,"y":442.4444274902344,"wires":[]},{"id":"aa4f35fa.d187e8","type":"function","z":"fd403b49.866ff8","name":"big_record_watson","func":"var watson_op = msg.payload.output;\n\nvar big_record_watson = {\n  task : watson_op.task,\n  detail : watson_op.detail,\n  user : watson_op.user,\n  User_incoming : watson_op.User_incoming,\n  Watson_incoming : watson_op.Watson_incoming\n};\n\nvar msg = {\n    big_record_watson : big_record_watson    \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":622.2222290039062,"y":362.4444274902344,"wires":[["e1fe20b7.82b8b","2c2dce16.a53042"]]},{"id":"99d23da7.7970b","type":"debug","z":"fd403b49.866ff8","name":"","active":true,"console":"false","complete":"false","x":925.2222290039062,"y":300.4444274902344,"wires":[]},{"id":"d97fb892.1088d8","type":"cloudant out","z":"920fa3de.e524f","name":"","cloudant":"","database":"chatbot_project","service":"_ext_","payonly":true,"operation":"insert","x":755,"y":286.55555391311646,"wires":[]},{"id":"521f36e3.325038","type":"function","z":"920fa3de.e524f","name":"Merge Data","func":"//=============================================//\n// Merge_data\n\n// We want data stored at Watson to be able to \n// override data used to create a detail record\n\n// We do this by merging like field names at \n// certain places\n\n// We need to have unique field names across \n// functions so that way fields get overriden\n\n// E.g. <start_fn> will create fields to create \n// detail record, but watson may send those fields \n// with override values\n//=============================================//\n\nvar task_name = msg.payload.task_name; \nvar parent_id = msg.payload.parent_id;\nvar user_id = msg.payload.user_id;\n\nvar payload = {\n\n_id : \"task_table_\"+task_name,\ntask_name : task_name,\nparent_id : parent_id,\nuser_id : user_id,\n\ndate_created : 232,\ntask_id : \"place\",\ntype : \"default\",\nCategory: \"one\",\nstatus : \"active\",\nheader_templat_id : \"ht11\",\ndetail_template_id : \"dt11\",\nfooter_template_id : \"ft11\",\nDue : 345,\nPriority : \"Medium\",\nAdditional_out_data : \"No\",\nOn_start_task : \"Msg\",\nOn_timeout_template_id : \"Msg\", \nOptional_data : 1223,\nRequired_data : \"reqD\"\n}; \n\nvar msg = {\n    payload : payload\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":507,"y":244.55555391311646,"wires":[["8c32e2e8.d6345","d97fb892.1088d8"]]},{"id":"548b8d8f.d8f944","type":"change","z":"920fa3de.e524f","name":"Task table inputs","rules":[{"t":"move","p":"payload.output.task_table","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":395,"y":177.55555391311646,"wires":[["521f36e3.325038","26355dd8.7b9c82"]]},{"id":"8c32e2e8.d6345","type":"debug","z":"920fa3de.e524f","name":"","active":false,"console":"false","complete":"payload","x":746,"y":244.55555391311646,"wires":[]},{"id":"9b67fd3c.57e79","type":"change","z":"920fa3de.e524f","name":"HTML temps ids","rules":[{"t":"move","p":"payload.output.html_temps","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":361.5555419921875,"wires":[["78fa7283.36f5dc"]]},{"id":"d19bc478.df0438","type":"cloudant in","z":"920fa3de.e524f","name":"","cloudant":"","database":"chatbot_project","service":"_ext_","search":"_id_","design":"","index":"","x":390,"y":450.55555391311646,"wires":[["5e193414.180eac"]]},{"id":"26355dd8.7b9c82","type":"function","z":"920fa3de.e524f","name":"Task Processor","func":"//=============================================//\n// Task Processor -\n// Called when Watson returns something\n\n// 1. It looks up request from Watson then \n// create more data ifttt, http in essence call \n// an internal function that accepts all the \n// fields and returns updated fields\n\n// 2. Enhance/create data to create a detail \n// record based on type of task\n// call merge_data\n// call <start_fn>\n// call save_detail record\n\n//==============================================//\n\n// Book/place name can be identified using Alchemi\n// var book = \"Tipping Point\";\n// var place = \"Kerala\";\n\nvar parent_id = msg.payload.parent_id;\n\nif(parent_id == \"book\"){\n    additional_info = \"amazon.com/books/tipping point\";\n}\n\nif(parent_id == \"place\"){\n    additional_info = \"ThomasCook/India/Kerala Package\";\n}\n\nvar msg = {\n    additional_info : additional_info\n};\n\n// Update the fields\n\nreturn msg;","outputs":1,"noerr":0,"x":664,"y":150.55555391311646,"wires":[[]]},{"id":"5e193414.180eac","type":"debug","z":"920fa3de.e524f","name":"","active":true,"console":"false","complete":"payload","x":648,"y":450.55555391311646,"wires":[]},{"id":"a235d12e.21115","type":"inject","z":"920fa3de.e524f","name":"","topic":"","payload":"indexName:book_one","payloadType":"str","repeat":"","crontab":"","once":false,"x":105,"y":450.55555391311646,"wires":[["d19bc478.df0438"]]},{"id":"78fa7283.36f5dc","type":"debug","z":"920fa3de.e524f","name":"","active":true,"console":"false","complete":"true","x":578,"y":319.55555391311646,"wires":[]},{"id":"c7509216.e9b9d","type":"watson-conversation-v1","z":"920fa3de.e524f","name":"Home Bot","workspaceid":"de7ca07a-dca7-4c04-a397-d60d9756dbb0","multiuser":false,"context":true,"x":128,"y":246.55555391311646,"wires":[["548b8d8f.d8f944","d97fb892.1088d8","78fa7283.36f5dc"]]},{"id":"d3e66391.500fb","type":"inject","z":"920fa3de.e524f","name":"Place","topic":"Detail_table_place","payload":"places india","payloadType":"str","repeat":"","crontab":"","once":false,"x":118.33333206176758,"y":141,"wires":[["c7509216.e9b9d"]]},{"id":"63d70db5.5fab34","type":"inject","z":"920fa3de.e524f","name":"Book","topic":"Detail_table_book","payload":"read Tipping Point","payloadType":"str","repeat":"","crontab":"","once":false,"x":115.22222518920898,"y":345.3333263397217,"wires":[["c7509216.e9b9d"]]},{"id":"55d71d9a.01a2c4","type":"http in","z":"fe2eff89.e19e5","name":"","url":"/mysitenew","method":"get","swaggerDoc":"","x":155,"y":300,"wires":[["d3edef8f.b800f"]]},{"id":"63bf79e8.6b61c8","type":"http in","z":"fe2eff89.e19e5","name":"","url":"/mysitepost","method":"post","swaggerDoc":"","x":165,"y":500,"wires":[["ff240ae6.4ca008","572c1cf0.eea854"]]},{"id":"d3edef8f.b800f","type":"function","z":"fe2eff89.e19e5","name":"msg.url = \"mysitepost\";","func":"msg.url = \"mysitepost\";\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":300,"wires":[["417a1d8f.44bda4"]]},{"id":"ff240ae6.4ca008","type":"debug","z":"fe2eff89.e19e5","name":"mysitepost","active":true,"console":"false","complete":"payload","x":383,"y":537,"wires":[]},{"id":"78f67369.1076bc","type":"http response","z":"fe2eff89.e19e5","name":"","x":825,"y":460,"wires":[]},{"id":"417a1d8f.44bda4","type":"template","z":"fe2eff89.e19e5","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"var LoginModalController = {\n    tabsElementName: \".logmod__tabs li\",\n    tabElementName: \".logmod__tab\",\n    inputElementsName: \".logmod__form .input\",\n    hidePasswordName: \".hide-password\",\n    \n    inputElements: null,\n    tabsElement: null,\n    tabElement: null,\n    hidePassword: null,\n    \n    activeTab: null,\n    tabSelection: 0, // 0 - first, 1 - second\n    \n    findElements: function () {\n        var base = this;\n        \n        base.tabsElement = $(base.tabsElementName);\n        base.tabElement = $(base.tabElementName);\n        base.inputElements = $(base.inputElementsName);\n        base.hidePassword = $(base.hidePasswordName);\n        \n        return base;\n    },\n    \n    setState: function (state) {\n    \tvar base = this,\n            elem = null;\n        \n        if (!state) {\n            state = 0;\n        }\n        \n        if (base.tabsElement) {\n        \telem = $(base.tabsElement[state]);\n            elem.addClass(\"current\");\n            $(\".\" + elem.attr(\"data-tabtar\")).addClass(\"show\");\n        }\n  \n        return base;\n    },\n    \n    getActiveTab: function () {\n        var base = this;\n        \n        base.tabsElement.each(function (i, el) {\n           if ($(el).hasClass(\"current\")) {\n               base.activeTab = $(el);\n           }\n        });\n        \n        return base;\n    },\n   \n    addClickEvents: function () {\n    \tvar base = this;\n        \n        base.hidePassword.on(\"click\", function (e) {\n            var $this = $(this),\n                $pwInput = $this.prev(\"input\");\n            \n            if ($pwInput.attr(\"type\") == \"password\") {\n                $pwInput.attr(\"type\", \"text\");\n                $this.text(\"Hide\");\n            } else {\n                $pwInput.attr(\"type\", \"password\");\n                $this.text(\"Show\");\n            }\n        });\n \n        base.tabsElement.on(\"click\", function (e) {\n            var targetTab = $(this).attr(\"data-tabtar\");\n            \n            e.preventDefault();\n            base.activeTab.removeClass(\"current\");\n            base.activeTab = $(this);\n            base.activeTab.addClass(\"current\");\n            \n            base.tabElement.each(function (i, el) {\n                el = $(el);\n                el.removeClass(\"show\");\n                if (el.hasClass(targetTab)) {\n                    el.addClass(\"show\");\n                }\n            });\n        });\n        \n        base.inputElements.find(\"label\").on(\"click\", function (e) {\n           var $this = $(this),\n               $input = $this.next(\"input\");\n            \n            $input.focus();\n        });\n        \n        return base;\n    },\n    \n    initialize: function () {\n        var base = this;\n        \n        base.findElements().setState().getActiveTab().addClickEvents();\n    }\n};\n\n$(document).ready(function() {\n    LoginModalController.initialize();\n});","x":402,"y":404,"wires":[["232ad7d6.0292e8"]]},{"id":"fcea2f94.d3b09","type":"http response","z":"fe2eff89.e19e5","name":"","x":1030,"y":404,"wires":[]},{"id":"b2bed62f.2c0ea8","type":"comment","z":"fe2eff89.e19e5","name":"Login Form","info":"","x":377,"y":353,"wires":[]},{"id":"c92d731f.7226e","type":"function","z":"fe2eff89.e19e5","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":596,"y":460,"wires":[["78f67369.1076bc"]]},{"id":"8b612c1f.170ac","type":"comment","z":"fe2eff89.e19e5","name":"Inject msg object properties","info":"","x":355,"y":260,"wires":[]},{"id":"572c1cf0.eea854","type":"json","z":"fe2eff89.e19e5","name":"","x":365,"y":460,"wires":[["c92d731f.7226e"]]},{"id":"2c498938.f16dd6","type":"comment","z":"fe2eff89.e19e5","name":"Website","info":"","x":355,"y":221,"wires":[]},{"id":"85a36b5e.f3e868","type":"comment","z":"fe2eff89.e19e5","name":"Form Submission","info":"","x":155,"y":440,"wires":[]},{"id":"8ded53fa.a33c8","type":"comment","z":"fe2eff89.e19e5","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n","x":439,"y":132,"wires":[]},{"id":"232ad7d6.0292e8","type":"template","z":"fe2eff89.e19e5","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"html {\n  box-sizing: border-box;\n}\n\n*, *:before, *:after {\n  box-sizing: inherit;\n}\n\n.logmod {\n  display: block;\n  position: fixed;\n  top: 0;\n  right: 0;\n  bottom: 0;\n  left: 0;\n  opacity: 1;\n  background: rgba(0, 0, 0, 0.2);\n  z-index: 1;\n}\n.logmod::after {\n  clear: both;\n  content: \"\";\n  display: table;\n}\n.logmod__wrapper {\n  display: block;\n  background: #FFF;\n  position: relative;\n  max-width: 550px;\n  border-radius: 4px;\n  box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);\n  margin: 120px auto;\n}\n.logmod__close {\n  display: block;\n  position: absolute;\n  right: 50%;\n  background: url(\"http://imgh.us/close_white.svg\") no-repeat scroll 0% 0% transparent;\n  text-indent: 100%;\n  white-space: nowrap;\n  overflow: hidden;\n  cursor: pointer;\n  top: -72px;\n  margin-right: -24px;\n  width: 48px;\n  height: 48px;\n}\n.logmod__container {\n  overflow: hidden;\n  width: 100%;\n}\n.logmod__container::after {\n  clear: both;\n  content: \"\";\n  display: table;\n}\n.logmod__tab {\n  position: relative;\n  width: 100%;\n  height: 0;\n  overflow: hidden;\n  opacity: 0;\n  visibility: hidden;\n}\n.logmod__tab-wrapper {\n  width: 100%;\n  height: auto;\n  overflow: hidden;\n}\n.logmod__tab.show {\n  opacity: 1;\n  height: 100%;\n  visibility: visible;\n}\n.logmod__tabs {\n  list-style: none;\n  padding: 0;\n  margin: 0;\n}\n.logmod__tabs::after {\n  clear: both;\n  content: \"\";\n  display: table;\n}\n.logmod__tabs li.current a {\n  background: #FFF;\n  color: #333;\n}\n.logmod__tabs li a {\n  width: 50%;\n  position: relative;\n  float: left;\n  text-align: center;\n  background: #D2D8D8;\n  line-height: 72px;\n  height: 72px;\n  text-decoration: none;\n  color: #809191;\n  text-transform: uppercase;\n  font-weight: 700;\n  font-size: 16px;\n  cursor: pointer;\n}\n.logmod__tabs li a:focus {\n  outline: dotted 1px;\n}\n.logmod__heading {\n  text-align: center;\n  padding: 12px 0 12px 0;\n}\n.logmod__heading-subtitle {\n  display: block;\n  font-weight: 400;\n  font-size: 15px;\n  color: #888;\n  line-height: 48px;\n}\n.logmod__form {\n  border-top: 1px solid #e5e5e5;\n}\n.logmod__alter {\n  display: block;\n  position: relative;\n  margin-top: 7px;\n}\n.logmod__alter::after {\n  clear: both;\n  content: \"\";\n  display: table;\n}\n.logmod__alter .connect:last-child {\n  border-radius: 0 0 4px 4px;\n}\n\n.connect {\n  overflow: hidden;\n  position: relative;\n  display: block;\n  width: 100%;\n  height: 72px;\n  line-height: 72px;\n  text-decoration: none;\n}\n.connect::after {\n  clear: both;\n  content: \"\";\n  display: table;\n}\n.connect:focus, .connect:hover, .connect:visited {\n  color: #FFF;\n  text-decoration: none;\n}\n.connect__icon {\n  vertical-align: middle;\n  float: left;\n  width: 70px;\n  text-align: center;\n  font-size: 22px;\n}\n.connect__context {\n  vertical-align: middle;\n  text-align: center;\n}\n.connect.facebook {\n  background: #3b5998;\n  color: #FFF;\n}\n.connect.facebook a {\n  color: #FFF;\n}\n.connect.facebook .connect__icon {\n  background: #283d68;\n}\n.connect.googleplus {\n  background: #dd4b39;\n  color: #FFF;\n}\n.connect.googleplus a {\n  color: #FFF;\n}\n.connect.googleplus .connect__icon {\n  background: #b52f1f;\n}\n\n.simform {\n  position: relative;\n}\n.simform__actions {\n  padding: 15px;\n  font-size: 14px;\n}\n.simform__actions::after {\n  clear: both;\n  content: \"\";\n  display: table;\n}\n.simform__actions .sumbit {\n  height: 48px;\n  float: right;\n  color: #FFF;\n  width: 50%;\n  font-weight: 700;\n  font-size: 16px;\n  background: #4CAF50;\n  margin-top: 7px;\n}\n.simform__actions .sumbit::after {\n  clear: both;\n  content: \"\";\n  display: table;\n}\n.simform__actions-sidetext {\n  display: inline-block;\n  float: left;\n  width: 50%;\n  padding: 0 10px;\n  margin: 9px 0 0 0;\n  color: #8C979E;\n  text-align: center;\n  line-height: 24px;\n}\n.simform__actions-sidetext::after {\n  clear: both;\n  content: \"\";\n  display: table;\n}\n\n.sminputs {\n  border-bottom: 1px solid #E5E5E5;\n}\n.sminputs::after {\n  clear: both;\n  content: \"\";\n  display: table;\n}\n.sminputs .input {\n  display: block;\n  position: relative;\n  width: 50%;\n  height: 71px;\n  padding: 11px 24px;\n  border-right: 1px solid #e5e5e5;\n  border-bottom: none;\n  float: left;\n  background-color: #FFF;\n  border-radius: 0;\n  box-sizing: border-box;\n  -webkit-appearance: none;\n  -moz-appearance: none;\n  appearance: none;\n}\n.sminputs .input.active {\n  background: #eee;\n}\n.sminputs .input.active .hide-password {\n  background: #eee;\n}\n.sminputs .input.full {\n  width: 100%;\n}\n.sminputs .input label {\n  overflow: hidden;\n  text-overflow: ellipsis;\n  white-space: nowrap;\n  display: block;\n  width: 100%;\n  text-transform: uppercase;\n  letter-spacing: 1px;\n  font-weight: 700;\n  font-size: 12px;\n  cursor: pointer;\n  line-height: 24px;\n}\n.sminputs .input input {\n  postion: relative;\n  display: inline-block;\n  height: 24px;\n  font-size: 15px;\n  line-height: 19.2px;\n  color: #555;\n  border-radius: 4px;\n  vertical-align: middle;\n  box-shadow: none;\n  box-sizing: border-box;\n  width: 100%;\n  height: auto;\n  border: none;\n  padding: 0;\n  cursor: pointer;\n  background-color: transparent;\n  color: rgba(75, 89, 102, 0.85);\n}\n.sminputs .hide-password {\n  display: inline-block;\n  position: absolute;\n  right: 0;\n  top: 0;\n  padding: 0 15px;\n  border-left: 1px solid #e4e4e4;\n  font-size: 14px;\n  background: #FFF;\n  overflow: hidden;\n  color: #444;\n  cursor: pointer;\n  margin-top: 12px;\n  line-height: 48px;\n}\n\nhtml {\n  font-size: 16px;\n  line-height: 24px;\n  font-family: \"Lato\", sans-serif;\n}\n\n.btn, .simform__actions .sumbit {\n  display: inline-block;\n  line-height: normal;\n  white-space: nowrap;\n  vertical-align: middle;\n  text-align: center;\n  cursor: pointer;\n  box-sizing: border-box;\n  border: none;\n  outline: none;\n  outline-offset: 0;\n  font-weight: 400;\n  box-shadow: none;\n  min-width: 90px;\n  padding: 10px 14px;\n}\n.btn.full, .simform__actions .full.sumbit {\n  width: 100%;\n}\n.btn.lg, .simform__actions .lg.sumbit {\n  min-width: 125px;\n  padding: 17px 14px;\n  font-size: 22px;\n  line-height: 1.3;\n}\n.btn.sm, .simform__actions .sm.sumbit {\n  min-width: 65px;\n  padding: 4px 12px;\n  font-size: 14px;\n}\n.btn.xs, .simform__actions .xs.sumbit {\n  min-width: 45px;\n  padding: 2px 10px;\n  font-size: 10px;\n  line-height: 1.5;\n}\n.btn.circle, .simform__actions .circle.sumbit {\n  overflow: hidden;\n  width: 56px;\n  height: 56px;\n  min-width: 56px;\n  line-height: 1;\n  padding: 0;\n  border-radius: 50%;\n}\n.btn.circle.lg, .simform__actions .circle.lg.sumbit {\n  width: 78px;\n  height: 78px;\n  min-width: 78px;\n}\n.btn.circle.sm, .simform__actions .circle.sm.sumbit {\n  width: 40px;\n  height: 40px;\n  min-width: 40px;\n}\n.btn.circle.xs, .simform__actions .circle.xs.sumbit {\n  width: 30px;\n  height: 30px;\n  min-width: 30px;\n}\n.btn:focus, .simform__actions .sumbit:focus, .btn:active, .simform__actions .sumbit:active, .btn.active, .simform__actions .active.sumbit, .btn:active:focus, .simform__actions .sumbit:active:focus, .btn.active:focus, .simform__actions .active.sumbit:focus {\n  outline: 0;\n  outline-offset: 0;\n  box-shadow: none;\n}\n.btn.red, .simform__actions .red.sumbit {\n  background: #f44336;\n  color: #FFF;\n}\n.btn.red:active, .simform__actions .red.sumbit:active, .btn.red:focus, .simform__actions .red.sumbit:focus {\n  background-color: #ef1d0d;\n}\n.btn.red:hover, .simform__actions .red.sumbit:hover {\n  background-color: #f32c1e;\n}\n.btn.pink, .simform__actions .pink.sumbit {\n  background: #E91E63;\n  color: #FFF;\n}\n.btn.pink:active, .simform__actions .pink.sumbit:active, .btn.pink:focus, .simform__actions .pink.sumbit:focus {\n  background-color: #c61350;\n}\n.btn.pink:hover, .simform__actions .pink.sumbit:hover {\n  background-color: #d81558;\n}\n.btn.purple, .simform__actions .purple.sumbit {\n  background: #9C27B0;\n  color: #FFF;\n}\n.btn.purple:active, .simform__actions .purple.sumbit:active, .btn.purple:focus, .simform__actions .purple.sumbit:focus {\n  background-color: #7b1f8a;\n}\n.btn.purple:hover, .simform__actions .purple.sumbit:hover {\n  background-color: #89229b;\n}\n.btn.deep-purple, .simform__actions .deep-purple.sumbit {\n  background: #673AB7;\n  color: #FFF;\n}\n.btn.deep-purple:active, .simform__actions .deep-purple.sumbit:active, .btn.deep-purple:focus, .simform__actions .deep-purple.sumbit:focus {\n  background-color: #532f94;\n}\n.btn.deep-purple:hover, .simform__actions .deep-purple.sumbit:hover {\n  background-color: #5c34a4;\n}\n.btn.indigo, .simform__actions .indigo.sumbit {\n  background: #3F51B5;\n  color: #FFF;\n}\n.btn.indigo:active, .simform__actions .indigo.sumbit:active, .btn.indigo:focus, .simform__actions .indigo.sumbit:focus {\n  background-color: #334293;\n}\n.btn.indigo:hover, .simform__actions .indigo.sumbit:hover {\n  background-color: #3849a2;\n}\n.btn.blue, .simform__actions .blue.sumbit {\n  background: #2196F3;\n  color: #FFF;\n}\n.btn.blue:active, .simform__actions .blue.sumbit:active, .btn.blue:focus, .simform__actions .blue.sumbit:focus {\n  background-color: #0c7fda;\n}\n.btn.blue:hover, .simform__actions .blue.sumbit:hover {\n  background-color: #0d8aee;\n}\n.btn.light-blue, .simform__actions .light-blue.sumbit {\n  background: #03A9F4;\n  color: #FFF;\n}\n.btn.light-blue:active, .simform__actions .light-blue.sumbit:active, .btn.light-blue:focus, .simform__actions .light-blue.sumbit:focus {\n  background-color: #028ac7;\n}\n.btn.light-blue:hover, .simform__actions .light-blue.sumbit:hover {\n  background-color: #0398db;\n}\n.btn.cyan, .simform__actions .cyan.sumbit {\n  background: #00BCD4;\n  color: #FFF;\n}\n.btn.cyan:active, .simform__actions .cyan.sumbit:active, .btn.cyan:focus, .simform__actions .cyan.sumbit:focus {\n  background-color: #0093a6;\n}\n.btn.cyan:hover, .simform__actions .cyan.sumbit:hover {\n  background-color: #00a5bb;\n}\n.btn.teal, .simform__actions .teal.sumbit {\n  background: #009688;\n  color: #FFF;\n}\n.btn.teal:active, .simform__actions .teal.sumbit:active, .btn.teal:focus, .simform__actions .teal.sumbit:focus {\n  background-color: #00685e;\n}\n.btn.teal:hover, .simform__actions .teal.sumbit:hover {\n  background-color: #007d71;\n}\n.btn.green, .simform__actions .green.sumbit {\n  background: #4CAF50;\n  color: #FFF;\n}\n.btn.green:active, .simform__actions .green.sumbit:active, .btn.green:focus, .simform__actions .green.sumbit:focus {\n  background-color: #3e8f41;\n}\n.btn.green:hover, .simform__actions .green.sumbit:hover {\n  background-color: #449d48;\n}\n.btn.light-green, .simform__actions .light-green.sumbit {\n  background: #8BC34A;\n  color: #FFF;\n}\n.btn.light-green:active, .simform__actions .light-green.sumbit:active, .btn.light-green:focus, .simform__actions .light-green.sumbit:focus {\n  background-color: #74a838;\n}\n.btn.light-green:hover, .simform__actions .light-green.sumbit:hover {\n  background-color: #7eb73d;\n}\n.btn.lime, .simform__actions .lime.sumbit {\n  background: #CDDC39;\n  color: #FFF;\n}\n.btn.lime:active, .simform__actions .lime.sumbit:active, .btn.lime:focus, .simform__actions .lime.sumbit:focus {\n  background-color: #b6c423;\n}\n.btn.lime:hover, .simform__actions .lime.sumbit:hover {\n  background-color: #c6d626;\n}\n.btn.yellow, .simform__actions .yellow.sumbit {\n  background: #FFEB3B;\n  color: #FFF;\n}\n.btn.yellow:active, .simform__actions .yellow.sumbit:active, .btn.yellow:focus, .simform__actions .yellow.sumbit:focus {\n  background-color: #ffe60d;\n}\n.btn.yellow:hover, .simform__actions .yellow.sumbit:hover {\n  background-color: #ffe822;\n}\n.btn.amber, .simform__actions .amber.sumbit {\n  background: #FFC107;\n  color: #FFF;\n}\n.btn.amber:active, .simform__actions .amber.sumbit:active, .btn.amber:focus, .simform__actions .amber.sumbit:focus {\n  background-color: #d8a200;\n}\n.btn.amber:hover, .simform__actions .amber.sumbit:hover {\n  background-color: #edb100;\n}\n.btn.orange, .simform__actions .orange.sumbit {\n  background: #FF9800;\n  color: #FFF;\n}\n.btn.orange:active, .simform__actions .orange.sumbit:active, .btn.orange:focus, .simform__actions .orange.sumbit:focus {\n  background-color: #d17d00;\n}\n.btn.orange:hover, .simform__actions .orange.sumbit:hover {\n  background-color: #e68900;\n}\n.btn.deep-orange, .simform__actions .deep-orange.sumbit {\n  background: #FF5722;\n  color: #FFF;\n}\n.btn.deep-orange:active, .simform__actions .deep-orange.sumbit:active, .btn.deep-orange:focus, .simform__actions .deep-orange.sumbit:focus {\n  background-color: #f33a00;\n}\n.btn.deep-orange:hover, .simform__actions .deep-orange.sumbit:hover {\n  background-color: #ff4409;\n}\n.btn.brown, .simform__actions .brown.sumbit {\n  background: #795548;\n  color: #FFF;\n}\n.btn.brown:active, .simform__actions .brown.sumbit:active, .btn.brown:focus, .simform__actions .brown.sumbit:focus {\n  background-color: #5c4137;\n}\n.btn.brown:hover, .simform__actions .brown.sumbit:hover {\n  background-color: #694a3e;\n}\n.btn.grey, .simform__actions .grey.sumbit {\n  background: #9E9E9E;\n  color: #FFF;\n}\n.btn.grey:active, .simform__actions .grey.sumbit:active, .btn.grey:focus, .simform__actions .grey.sumbit:focus {\n  background-color: #878787;\n}\n.btn.grey:hover, .simform__actions .grey.sumbit:hover {\n  background-color: #919191;\n}\n.btn.blue-grey, .simform__actions .blue-grey.sumbit {\n  background: #607D8B;\n  color: #FFF;\n}\n.btn.blue-grey:active, .simform__actions .blue-grey.sumbit:active, .btn.blue-grey:focus, .simform__actions .blue-grey.sumbit:focus {\n  background-color: #4d6570;\n}\n.btn.blue-grey:hover, .simform__actions .blue-grey.sumbit:hover {\n  background-color: #566f7c;\n}\n\n.special {\n  color: #f44336;\n  position: relative;\n  text-decoration: none;\n  transition: all 0.15s ease-out;\n}\n.special:before {\n  content: \"\";\n  position: absolute;\n  width: 100%;\n  height: 1px;\n  bottom: 0px;\n  left: 0;\n  background: #f00;\n  visibility: hidden;\n  transform: scaleX(0);\n  transition: all 0.3s ease-in-out 0s;\n}\n.special:hover {\n  transition: all 0.15s ease-out;\n}\n.special:hover:before {\n  visibility: visible;\n  transform: scaleX(1);\n}\n\n#baseline {\n  position: fixed;\n  top: 0;\n  bottom: 0;\n  right: 0;\n  left: 0;\n  width: 100%;\n  height: 100%;\n  z-index: 999999;\n  background-image: url(http://basehold.it/i/24);\n}\n","x":609,"y":403,"wires":[["b9371627.c7a348"]]},{"id":"b9371627.c7a348","type":"http request","z":"fe2eff89.e19e5","name":"","method":"GET","ret":"txt","url":"GET /$chatbot_project/$task_table_book_tipping_pt/$NodeRED.html/1.1","tls":"","x":820,"y":403,"wires":[["fcea2f94.d3b09"]]},{"id":"6855f663.d892a8","type":"http in","z":"61434ff8.8da4e","name":"","url":"/mysite","method":"get","swaggerDoc":"","x":152,"y":305,"wires":[["ed334e1a.b7a0f"]]},{"id":"45dd8d5f.b25b54","type":"http in","z":"61434ff8.8da4e","name":"","url":"/mysitepost","method":"post","swaggerDoc":"","x":172,"y":505,"wires":[["a9c73000.e077e","626bdb72.197a24"]]},{"id":"ed334e1a.b7a0f","type":"function","z":"61434ff8.8da4e","name":"msg.url = \"mysitepost\";","func":"msg.url = \"mysitepost\";\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":305,"wires":[["a9c9095c.fb6a48"]]},{"id":"a9c73000.e077e","type":"debug","z":"61434ff8.8da4e","name":"mysitepost","active":true,"console":"false","complete":"payload","x":520,"y":504,"wires":[]},{"id":"722e3c6b.8f7134","type":"http response","z":"61434ff8.8da4e","name":"","x":832,"y":465,"wires":[]},{"id":"ed26b5a1.195868","type":"template","z":"61434ff8.8da4e","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":552,"y":405,"wires":[["a0ec27d7.1333a8"]]},{"id":"a9c9095c.fb6a48","type":"template","z":"61434ff8.8da4e","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":392,"y":405,"wires":[["ed26b5a1.195868"]]},{"id":"599a43bd.230e5c","type":"http response","z":"61434ff8.8da4e","name":"","x":1067,"y":511,"wires":[]},{"id":"769a7c65.bb9f74","type":"comment","z":"61434ff8.8da4e","name":"Login Form","info":"","x":407,"y":357,"wires":[]},{"id":"81d99ecb.8eeb9","type":"function","z":"61434ff8.8da4e","name":"return msg.payload to client","func":"var apiResult = [\n    {\n        \"page_id\": \"1\",\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"Users/Phones\",\n                    \"html\": \"<ion-header-bar class=\\\"bar-stable\\\">\\r\\n\\t<h1 class=\\\"title\\\">{{title}}<\\/h1>\\r\\n\\t\\r\\n\\t<button class=\\\"button button-icon\\\" ng-click=\\\"toggleDate()\\\">\\r\\n\\t  <i ng:class=\\\"(sort==\\'desc\\')?\\'icon ion-arrow-up-c\\':\\'icon ion-arrow-down-c\\'\\\"><\\/i>\\r\\n\\t<\\/button>\\r\\n<\\/ion-header-bar>\"\n                },\n                \"detail\": {\n                    \"name\": \"user list\",\n                    \"html\": \"<ion-content class=\\\"has-header\\\">\\r\\n\\t<ion-list style=\\\"\\\">\\r\\n\\t <ion-item class=\\\"item-remove-animate item-avatar item-icon-right\\\" ng-repeat=\\\"detail_item in details\\\" type=\\\"item-text-wrap\\\" ng-click=\\\"taskDetails(detail_item.detail_id)\\\">\\r\\n\\t\\t<img ng-src=\\\"{{detail_item.face}}\\\">\\r\\n\\t\\t<h2 style=\\\"display:inline-block;\\\">{{detail_item.user_name}} \\/ <\\/h2>\\r\\n\\t\\t<h2 style=\\\"display:inline-block;\\\">{{detail_item.phone}}<\\/h2>\\r\\n\\t\\t<p>{{detail_item.last_text}}<\\/p>\\r\\n\\t\\t<p class=\\\"created-date\\\">{{detail_item.date_created}}<\\/p>\\r\\n\\t\\t<i class=\\\"icon ion-chevron-right icon-accessory\\\"><\\/i>\\r\\n\\t  <\\/ion-item>\\r\\n\\t<\\/ion-list>\\r\\n<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"\"\n                },\n                \"js\": \"$scope.title = \\\"Users \\/ Phones\\\";\\r\\n\\t$scope.sort = \\\"asc\\\";\\r\\n\\t\\r\\n\\tgetRoster = function(sort) {\\r\\n\\t\\tvar roster = myService.getDetail($scope.page_id);\\r\\n\\t\\troster = utilityService.sortByKey(roster, \\'date_created\\', sort);\\r\\n\\t\\treturn roster;\\r\\n\\t};\\r\\n\\t$scope.details = getRoster($scope.sort);\\r\\n\\t\\r\\n\\t$scope.toggleDate = function() {\\r\\n\\t\\t$scope.sort = ($scope.sort == \\\"asc\\\")?\\\"desc\\\":\\\"asc\\\";\\r\\n\\t\\t$scope.details = getRoster($scope.sort);\\r\\n\\t};\\r\\n\\t\\r\\n\\t$scope.taskDetails = function(detail_id){\\r\\n\\t\\t$scope.page_id = 2;\\r\\n\\t\\t$scope.parent_id = detail_id;\\r\\n\\t\\t$scope.goPage($scope.page_id);\\r\\n\\t};\"\n            },\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n            {\n                \"detail_id\": \"1\",\n                \"user_id\": \"1\",\n                \"user_name\": \"Adam\",\n                \"phone\": \"12165707737\",\n                \"face\": \"img/adam.jpg\",\n                \"last_text\": \"Chilling at my po ...\",\n                \"date_created\": \"1/26/2017 5:05 PM\"\n            },\n            {\n                \"detail_id\": \"2\",\n                \"user_id\": \"2\",\n                \"user_name\": \"Ben\",\n                \"phone\": \"13178789778\",\n                \"face\": \"img/ben.png\",\n                \"last_text\": \"Yes, Want to have ...\",\n                \"date_created\": \"1/26/2017 6:06 PM\"\n            },\n            {\n                \"detail_id\": \"3\",\n                \"user_id\": \"3\",\n                \"user_name\": \"Clemens\",\n                \"phone\": \"14153689779\",\n                \"face\": \"img/clemens.png\",\n                \"last_text\": \"On the phone now.\",\n                \"date_created\": \"1/26/2017 7:07 PM\"\n            }\n        ]\n    },\n    {\n        \"page_id\": \"2\",\n        \"task\": {\n            \"template\": {\n                \"header\": {\n                    \"name\": \"Details\",\n                    \"html\": \"<ion-header-bar class=\\\"bar-stable\\\">\\r\\n\\t\\t<button class=\\\"button button-icon\\\" ng-click=\\\"goPage(1)\\\">\\r\\n\\t\\t   <i class=\\\"icon ion-ios-arrow-back\\\">Back<\\/i>\\r\\n\\t\\t<\\/button>\\r\\n\\t\\t<h1 class=\\\"title\\\">{{title}}<\\/h1>\\r\\n\\t\\t<!-- New Task button-->\\r\\n\\t\\t<button class=\\\"button button-icon\\\" ng-click=\\\"toggleDate()\\\">\\r\\n\\t\\t  <i ng:class=\\\"(sort==\\'desc\\')?\\'icon ion-arrow-up-c\\':\\'icon ion-arrow-down-c\\'\\\"><\\/i>\\r\\n\\t\\t<\\/button>\\r\\n\\t<\\/ion-header-bar>\"\n                },\n                \"detail\": {\n                    \"name\": \"chat list\",\n                    \"html\": \"<ion-content class=\\\"content-stable\\\"\\r\\n\\t\\t\\t on-swipe-left=\\\"hideTime = false\\\"\\r\\n\\t\\t\\t on-swipe-right=\\\"hideTime = true\\\">\\r\\n\\t\\t<div ng-repeat=\\\"message in messages\\\"\\r\\n\\t\\t   ng-class=\\\"{other: message.user_id != myId}\\\"\\r\\n\\t\\t   class=\\\"messages\\\">\\r\\n\\t\\t   \\r\\n\\t\\t\\t<div class=\\\"message\\\" >\\r\\n\\t\\t\\t\\t<span >{{ message.text }}<\\/span>\\r\\n\\t\\t\\t<\\/div>\\t\\t\\t\\t\\r\\n\\t\\t\\t<div class=\\\"datetime\\\">{{message.date_created}}<\\/div>\\r\\n\\t\\t<\\/div>\\r\\n\\t<\\/ion-content>\"\n                },\n                \"footer\": {\n                    \"name\": \"\",\n                    \"html\": \"<ion-footer-bar keyboard-attach class=\\\"bar-stable item-input-inset\\\">\\r\\n\\t\\t<label class=\\\"item-input-wrapper\\\">\\r\\n\\t\\t\\t<input type=\\\"text\\\" placeholder=\\\"Type your message\\\" on-return=\\\"showSendMessage(); closeKeyboard()\\\" ng-model=\\\"data.message\\\" on-focus=\\\"inputUp()\\\" on-blur=\\\"inputDown()\\\" \\/>\\r\\n\\t\\t<\\/label>\\r\\n\\t\\t<button class=\\\"button button-clear\\\" ng-click=\\\"showSendMessage()\\\">\\r\\n\\t\\tSend\\r\\n\\t\\t<\\/button>\\r\\n\\t<\\/ion-footer-bar>\"\n                },\n                \"js\": \"$scope.title = \\\"Details\\\";\\r\\n\\t\\t\\t\\t$scope.sort = \\\"asc\\\";\\r\\n\\t\\t\\t\\t$scope.hideTime = false;\\r\\n\\t\\t\\t\\t$scope.data = {};\\r\\n\\t\\t\\t\\t\\r\\n\\t\\t\\t\\tgetDetail= function(parent_id, sort) {\\/\\/parent_id=3;\\r\\n\\t\\t\\t\\t\\tvar detailData = myService.getDetail(page_id);\\r\\n\\t\\t\\t\\t\\tvar myDetail = [];\\r\\n\\t\\t\\t\\t\\tif(typeof parent_id == \\\"undefined\\\") return myDetail;\\r\\n\\t\\t\\t\\t\\t\\r\\n\\t\\t\\t\\t\\tfor (var index = 0; index<detailData.length; index++) {\\r\\n\\t\\t\\t\\t\\t\\tvar item = detailData[index];\\r\\n\\t\\t\\t\\t\\t\\tif(item.parent_id == parent_id){\\r\\n\\t\\t\\t\\t\\t\\t\\tmyDetail.push(item);\\r\\n\\t\\t\\t\\t\\t\\t}\\r\\n\\t\\t\\t\\t\\t}\\r\\n\\t\\t\\t\\t\\tmyDetail = utilityService.sortByKey(myDetail, \\'date_created\\', sort);\\r\\n\\t\\t\\t\\t\\treturn myDetail;\\r\\n\\t\\t\\t\\t}\\r\\n\\t\\t\\t\\t\\t\\r\\n\\t\\t\\t\\t$scope.messages = getDetail($scope.parent_id, $scope.sort);\\r\\n\\r\\n\\t\\t\\t\\tvar isIOS = ionic.Platform.isIOS();\\r\\n\\t\\t\\t\\t  \\r\\n\\t\\t\\t\\t$scope.toggleDate = function() {\\r\\n\\t\\t\\t\\t\\t$scope.sort = ($scope.sort == \\\"asc\\\")?\\\"desc\\\":\\\"asc\\\";\\r\\n\\t\\t\\t\\t\\t$scope.messages = getDetail($scope.parent_id, $scope.sort);\\r\\n\\t\\t\\t\\t};\\r\\n\\t\\t\\t\\t  \\r\\n\\t\\t\\t\\t$scope.sendMsg=function(to,body){\\r\\n\\t\\t\\t\\t\\tvar timestamp = new Date().getTime();\\r\\n\\t\\t\\t\\t\\t\\r\\n\\t\\t\\t\\t};\\r\\n\\t\\t\\t\\t  \\r\\n\\t\\t\\t\\t$scope.showSendMessage = function() {\\r\\n\\t\\t\\t\\t\\t$scope.sendMsg($scope.parent_id,$scope.data.message);  \\r\\n\\r\\n\\t\\t\\t\\t\\tvar d = new Date();\\r\\n\\t\\t\\t\\t\\td = d.toLocaleTimeString().replace(\\/:\\\\d+ \\/, \\' \\');\\r\\n\\r\\n\\t\\t\\t\\t\\t$scope.messages.push({\\r\\n\\t\\t\\t\\t\\t  userId: $scope.myId,\\r\\n\\t\\t\\t\\t\\t  text: $scope.data.message,\\r\\n\\t\\t\\t\\t\\t  time: d\\r\\n\\t\\t\\t\\t\\t});\\r\\n\\r\\n\\t\\t\\t\\t\\tdelete $scope.data.message;\\r\\n\\t\\t\\t\\t\\t$ionicScrollDelegate.scrollBottom(true);\\r\\n\\t\\t\\t\\t};\\r\\n\\r\\n\\t\\t\\t\\t$scope.inputUp = function() {\\r\\n\\t\\t\\t\\t\\tif (isIOS) $scope.data.keyboardHeight = 216;\\r\\n\\t\\t\\t\\t\\t$timeout(function() {\\r\\n\\t\\t\\t\\t\\t  $ionicScrollDelegate.scrollBottom(true);\\r\\n\\t\\t\\t\\t\\t}, 300);\\r\\n\\t\\t\\t\\t};\\r\\n\\r\\n\\t\\t\\t\\t$scope.inputDown = function() {\\r\\n\\t\\t\\t\\t\\tif (isIOS) $scope.data.keyboardHeight = 0;\\r\\n\\t\\t\\t\\t\\t$ionicScrollDelegate.resize();\\r\\n\\t\\t\\t\\t};\\r\\n\\r\\n\\t\\t\\t\\t$scope.closeKeyboard = function() {\\r\\n\\t\\t\\t\\t\\t\\/\\/ cordova.plugins.Keyboard.close();\\r\\n\\t\\t\\t\\t};\"\n            },\n            \"date_created\": \"1/26/2017 5:05 PM\"\n        },\n        \"detail\": [\n            {\n                \"detail_id\": \"1\",\n                \"parent_id\": 1,\n                \"user_id\": \"1\",\n                \"text\": \"Hi Matt\",\n                \"date_created\": \"1/26/2017 5:05 PM\"\n            },\n            {\n                \"detail_id\": 2,\n                \"parent_id\": 1,\n                \"user_id\": 4,\n                \"text\": \"Hi. What you up?\",\n                \"date_created\": \"1/26/2017 1:27 PM\"\n            },\n            {\n                \"detail_id\": 3,\n                \"parent_id\": 1,\n                \"user_id\": 1,\n                \"text\": \"Chilling at my pool\",\n                \"date_created\": \"1/26/2017 1:37 PM\"\n            },\n            {\n                \"detail_id\": 4,\n                \"parent_id\": 2,\n                \"user_id\": 2,\n                \"text\": \"I'm dropping my car off at noon\",\n                \"date_created\": \"1/26/2017 2:11 PM\"\n            },\n            {\n                \"detail_id\": 5,\n                \"parent_id\": 2,\n                \"user_id\": 2,\n                \"text\": \"If not, Mom can get me.\",\n                \"date_created\": \"1/26/2017 2:12 PM\"\n            },\n            {\n                \"detail_id\": 6,\n                \"parent_id\": 2,\n                \"user_id\": 4,\n                \"text\": \"Yes, Want to have lunch and check out the office?\",\n                \"date_created\": \"1/26/2017 2:13 PM\"\n            },\n            {\n                \"detail_id\": 7,\n                \"parent_id\": 3,\n                \"user_id\": 4,\n                \"text\": \"An Amazon box in your name was delivered to our house today.\",\n                \"date_created\": \"1/26/2017 3:21 PM\"\n            },\n            {\n                \"detail_id\": 8,\n                \"parent_id\": 3,\n                \"user_id\": 3,\n                \"text\": \"It's cups mom wanted for Jimmy.\",\n                \"date_created\": \"1/26/2017 3:22 PM\"\n            },\n            {\n                \"detail_id\": 9,\n                \"parent_id\": 3,\n                \"user_id\": 3,\n                \"text\": \"On the phone now.\",\n                \"date_created\": \"1/26/2017 3:23 PM\"\n            }\n        ]\n    }\n];","outputs":1,"noerr":0,"x":562,"y":465,"wires":[["722e3c6b.8f7134"]]},{"id":"68f63340.5ce2ec","type":"comment","z":"61434ff8.8da4e","name":"Inject msg object properties","info":"","x":362,"y":265,"wires":[]},{"id":"626bdb72.197a24","type":"json","z":"61434ff8.8da4e","name":"","x":372,"y":465,"wires":[["81d99ecb.8eeb9"]]},{"id":"d8c216c7.cfd008","type":"comment","z":"61434ff8.8da4e","name":"Website","info":"","x":132,"y":225,"wires":[]},{"id":"125db1bb.ddee6e","type":"comment","z":"61434ff8.8da4e","name":"Form Submission","info":"","x":162,"y":445,"wires":[]},{"id":"22e21430.9a8ebc","type":"comment","z":"61434ff8.8da4e","name":"Node-RED Public Site - README","info":"This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n","x":462,"y":125,"wires":[]},{"id":"63ac333a.1c7dec","type":"function","z":"61434ff8.8da4e","name":"Decode","func":"var msg = msg;\nvar payload = msg.payload;\n\nbuf = payload.split(\";\");\nvar str = [];\n\n for (var i=buf.length-1;i>=0;i--) {\n \tstr[i] = String.fromCharCode(buf[i].slice(2));\n }\n\nvar html = str.join('');\n\nmsg.payload = html;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1019,"y":405,"wires":[["91065acf.7cdb58","599a43bd.230e5c"]]},{"id":"91065acf.7cdb58","type":"debug","z":"61434ff8.8da4e","name":"","active":false,"console":"false","complete":"res","x":971,"y":190,"wires":[]},{"id":"27bc69fb.4d3ab6","type":"function","z":"61434ff8.8da4e","name":"Encode","func":"var buf = [];\nvar msg = msg;\nvar str = msg.payload;\nvar res = msg.res;\nfor (var i=str.length-1;i>=0;i--) {\n\tbuf.unshift(['&#', str[i].charCodeAt(), ';'].join(''));\n}\n\nvar payload = buf.join('');\n\nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":853,"y":405,"wires":[["63ac333a.1c7dec"]]},{"id":"a0ec27d7.1333a8","type":"template","z":"61434ff8.8da4e","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Using CSS to style an HTML form with AJAX POST and Node-RED</h2>\n    <h4><a href=\"http://www.internetoflego.com\">Internet of LEGO</a></h4>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">First Name</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Last Name</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":699,"y":405,"wires":[["27bc69fb.4d3ab6"]]},{"id":"f577c19.4ee8f4","type":"function","z":"1d8ff48d.1c53eb","name":"","func":"var Msg = msg.payload.output.text.join(\"\\n\");\nif(1){\nvar payload = {\n    message : Msg,\n    user : \"Roger\",\n    ts : 234444444444441\n};\n\nvar msg = {\n    payload : payload\n};\nreturn msg;\n}","outputs":1,"noerr":0,"x":578,"y":155,"wires":[[]]},{"id":"4bdf1683.c6a548","type":"watson-conversation-v1","z":"1d8ff48d.1c53eb","name":"Car Dashboard","workspaceid":"28b9f4cf-1b49-4159-b832-467a98f32aab","multiuser":true,"context":true,"x":507,"y":230,"wires":[["f577c19.4ee8f4"]]},{"id":"c535f9c8.67f788","type":"change","z":"1d8ff48d.1c53eb","name":"Message","rules":[{"t":"move","p":"payload.message","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":322,"y":145,"wires":[["4bdf1683.c6a548"]]},{"id":"66c5aa20.a24a24","type":"change","z":"1d8ff48d.1c53eb","name":"User","rules":[{"t":"move","p":"payload.user","pt":"msg","to":"user","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":308,"wires":[["4bdf1683.c6a548"]]},{"id":"b2ee9629.e38b58","type":"json","z":"1d8ff48d.1c53eb","name":"","x":179,"y":232,"wires":[["c535f9c8.67f788","66c5aa20.a24a24"]]},{"id":"2e2b0443.25861c","type":"http in","z":"1d8ff48d.1c53eb","name":"","url":"/chat","method":"get","swaggerDoc":"","x":145,"y":371,"wires":[["7009920b.b1da1c"]]},{"id":"7009920b.b1da1c","type":"template","z":"1d8ff48d.1c53eb","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":305,"y":371,"wires":[["76c8838d.c5edcc"]]},{"id":"76c8838d.c5edcc","type":"http response","z":"1d8ff48d.1c53eb","name":"","x":454,"y":371,"wires":[]},{"id":"e9cda615.9ff238","type":"http in","z":"37b81106.be4dfe","name":"","url":"/twiliosms","method":"get","swaggerDoc":"","x":111,"y":186,"wires":[["869e524d.2e4db","2ba75d23.ae6ce2"]]},{"id":"869e524d.2e4db","type":"debug","z":"37b81106.be4dfe","name":"Request Received","active":false,"console":"false","complete":"payload","x":327,"y":124,"wires":[]},{"id":"2ba75d23.ae6ce2","type":"function","z":"37b81106.be4dfe","name":"ReceivedDate","func":"d = new Date();\n\nmsg.payload.ReceivedDate = d.valueOf();\nmsg.payload.ReceivedDateStr = d.toString();\n\nreturn msg;\n","outputs":1,"noerr":0,"x":317,"y":188,"wires":[["9391e9d9.b0c408","93d409e1.b34148","c1d3852d.fb36b8"]]},{"id":"9391e9d9.b0c408","type":"debug","z":"37b81106.be4dfe","name":"Outbound to Log","active":false,"console":"false","complete":"payload","x":554,"y":144,"wires":[]},{"id":"93d409e1.b34148","type":"function","z":"37b81106.be4dfe","name":"Prepare Request for Conversation","func":"msg.params = {};\nmsg.params.context = {}\nif (flow.get(msg.payload.From)){\n msg.params.context = flow.get(msg.payload.From); \n}\n\n\nflow.set ('From', msg.payload.From);\n\nmsg.payload = msg.payload.Body;\n\nreturn msg;","outputs":1,"noerr":0,"x":495,"y":293,"wires":[["2745415a.196cae","f642c8fe.1a4d58"]]},{"id":"18626a34.b5e796","type":"debug","z":"37b81106.be4dfe","name":"Conversation Response","active":false,"console":"false","complete":"payload","x":1080,"y":227,"wires":[]},{"id":"d28b539f.6c4c4","type":"debug","z":"37b81106.be4dfe","name":"Conversation Response.output","active":false,"console":"false","complete":"payload.output","x":1100,"y":269,"wires":[]},{"id":"2745415a.196cae","type":"debug","z":"37b81106.be4dfe","name":"Conversation Request","active":false,"console":"false","complete":"true","x":816,"y":241,"wires":[]},{"id":"9019a868.f81848","type":"function","z":"37b81106.be4dfe","name":"Output Text and Context","func":"var From = flow.get('From');\nmsg.topic = From;\nflow.set(From, msg.payload.context);\n\nmsg.payload = msg.payload.output.text.join();\nreturn msg;","outputs":1,"noerr":0,"x":1101,"y":462,"wires":[["864f6c4.dd3409","9733242b.d7e9d8","fdf49c90.56cd5","9b42cdc5.adb6d"]]},{"id":"864f6c4.dd3409","type":"debug","z":"37b81106.be4dfe","name":"Responded via Twilio","active":true,"console":"false","complete":"true","x":1350,"y":399,"wires":[]},{"id":"62e3e824.b00548","type":"debug","z":"37b81106.be4dfe","name":"Conversation Response.input","active":false,"console":"false","complete":"payload.input","x":1103,"y":304,"wires":[]},{"id":"9733242b.d7e9d8","type":"debug","z":"37b81106.be4dfe","name":"msg.payload","active":false,"console":"false","complete":"payload","x":1322.5,"y":435,"wires":[]},{"id":"fdf49c90.56cd5","type":"debug","z":"37b81106.be4dfe","name":"msg.topic","active":false,"console":"false","complete":"topic","x":1311.5,"y":469,"wires":[]},{"id":"2b641590.53d55a","type":"debug","z":"37b81106.be4dfe","name":"Conversation msg","active":true,"console":"false","complete":"true","x":1061.5,"y":347,"wires":[]},{"id":"9b42cdc5.adb6d","type":"twilio out","z":"37b81106.be4dfe","twilio":"8256f452.e40578","number":"+15132068339","name":"","x":1336,"y":514,"wires":[]},{"id":"f642c8fe.1a4d58","type":"watson-conversation-v1","z":"37b81106.be4dfe","name":"Home Bot","workspaceid":"de7ca07a-dca7-4c04-a397-d60d9756dbb0","multiuser":false,"context":true,"x":789,"y":292,"wires":[["18626a34.b5e796","d28b539f.6c4c4","62e3e824.b00548","2b641590.53d55a","9019a868.f81848"]]},{"id":"c1d3852d.fb36b8","type":"cloudant in","z":"37b81106.be4dfe","name":"","cloudant":"","database":"chatbot_project","service":"_ext_","search":"_id_","design":"","index":"","x":568,"y":202,"wires":[[]]},{"id":"8edeeb79.b05e78","type":"websocket in","z":"af7bdcc4.e68ed","name":"","server":"f21375e6.0c0388","x":261,"y":182,"wires":[["d2b129db.d41888"]]},{"id":"d2b129db.d41888","type":"function","z":"af7bdcc4.e68ed","name":"","func":"delete msg._session;\nreturn msg;\n\n","outputs":1,"x":435,"y":182,"wires":[["c97454e9.dfe938"]]},{"id":"c97454e9.dfe938","type":"websocket out","z":"af7bdcc4.e68ed","name":"","server":"f21375e6.0c0388","x":616,"y":182,"wires":[]},{"id":"cc19b735.ad6b38","type":"http in","z":"af7bdcc4.e68ed","name":"","url":"/chat","method":"get","x":269,"y":250,"wires":[["dcc86f9c.8a913"]]},{"id":"dcc86f9c.8a913","type":"template","z":"af7bdcc4.e68ed","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n  <meta name=\"viewport\" content=\"width=320, initial-scale=1\">\n  <title>Chat</title>\n</head>\n\n<body>\n  <div id=\"wrapper\">\n    <div id=\"chat_box\" class=\"content\"></div>\n\n    <div id=\"footer\">\n      <div class=\"content\">\n        <input type=\"text\" id=\"user\" placeholder=\"Who are you?\" />\n        <input type=\"text\" id=\"message\" placeholder=\"What do you want to say?\" />\n        <input type=\"button\" id=\"send_btn\" value=\"Send\" onclick=\"sendMessage()\">\n      </div>\n    </div>\n  </div>\n</body>\n\n<script type=\"text/javascript\">\n  var wsUri = \"ws://{{req.headers.host}}/ws/chat\";\n  var ws = new WebSocket(wsUri);\n\n  function createSystemMessage(message) {\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.className = 'system';\n\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  function createUserMessage(user, message) {\n    var user = document.createTextNode(user + ': ');\n\n    var userBox = document.createElement('span');\n    userBox.className = 'username';\n    userBox.appendChild(user);\n\n    var message = document.createTextNode(message);\n\n    var messageBox = document.createElement('p');\n    messageBox.appendChild(userBox);\n    messageBox.appendChild(message);\n\n    var chat = document.getElementById('chat_box');\n    chat.appendChild(messageBox);\n  }\n\n  ws.onopen = function(ev) {\n    createSystemMessage('[Connected]');\n  };\n\n  ws.onclose = function(ev) {\n    createSystemMessage('[Disconnected]');\n  }\n\n  ws.onmessage = function(ev) {\n    var payload = JSON.parse(ev.data);\n    createUserMessage(payload.user, payload.message);\n\n    var chat = document.getElementById('chat_box');\n    chat.scrollTop = chat.scrollHeight;\n  }\n\n  function sendMessage() {\n    var user = document.getElementById('user');\n    var message = document.getElementById('message');\n\n    var payload = {\n      message: message.value,\n      user: user.value,\n      ts: (new Date()).getTime()\n    };\n\n    ws.send(JSON.stringify(payload));\n    message.value = \"\";\n  };\n</script>\n\n<style type=\"text/css\">\n  * {\n    font-family: \"Palatino Linotype\", \"Book Antiqua\", Palatino, serif;\n    font-style: italic;\n    font-size: 24px;\n  }\n\n  html, body, #wrapper {\n    margin: 0;\n    padding: 0;\n    height: 100%;\n  }\n\n  #wrapper {\n    background-color: #ecf0f1;\n  }\n\n  #chat_box {\n    box-sizing: border-box;\n    height: 100%;\n    overflow: auto;\n    padding-bottom: 50px;\n  }\n\n  #footer {\n    box-sizing: border-box;\n    position: fixed;\n    bottom: 0;\n    height: 50px;\n    width: 100%;\n    background-color: #2980b9;\n  }\n\n  #footer .content {\n    padding-top: 4px;\n    position: relative;\n  }\n\n  #user { width: 20%; }\n  #message { width: 68%; }\n  #send_btn {\n    width: 10%;\n    position: absolute;\n    right: 0;\n    bottom: 0;\n    margin: 0;\n  }\n\n  .content {\n    width: 70%;\n    margin: 0 auto;\n  }\n\n  input[type=\"text\"],\n  input[type=\"button\"] {\n    border: 0;\n    color: #fff;\n  }\n\n  input[type=\"text\"] {\n    background-color: #146EA8;\n    padding: 3px 10px;\n  }\n\n  input[type=\"button\"] {\n    background-color: #f39c12;\n    border-right: 2px solid #e67e22;\n    border-bottom: 2px solid #e67e22;\n    min-width: 70px;\n    display: inline-block;\n  }\n\n  input[type=\"button\"]:hover {\n    background-color: #e67e22;\n    border-right: 2px solid #f39c12;\n    border-bottom: 2px solid #f39c12;\n    cursor: pointer;\n  }\n\n  .system,\n  .username {\n    color: #aaa;\n    font-style: italic;\n    font-family: monospace;\n    font-size: 16px;\n  }\n\n  @media(max-width: 1000px) {\n    .content { width: 90%; }\n  }\n\n  @media(max-width: 780px) {\n    #footer { height: 91px; }\n    #chat_box { padding-bottom: 91px; }\n\n    #user { width: 100%; }\n    #message { width: 80%; }\n  }\n\n  @media(max-width: 400px) {\n    #footer { height: 135px; }\n    #chat_box { padding-bottom: 135px; }\n\n    #message { width: 100%; }\n    #send_btn {\n      position: relative;\n      margin-top: 3px;\n      width: 100%;\n    }\n  }\n</style>\n","x":435,"y":250,"wires":[["f3799bb2.4cf6d8"]]},{"id":"f3799bb2.4cf6d8","type":"http response","z":"af7bdcc4.e68ed","name":"","x":578,"y":250,"wires":[]},{"id":"1f2d5776.43acf9","type":"ui_form","z":"482305dc.e3229c","name":"Create User","label":"","group":"7ecafdf2.c536e4","order":0,"width":0,"height":0,"options":[{"label":"user_id","value":"user_id","type":"text","required":true},{"label":"long_url","value":"long_url","type":"text","required":false},{"label":"access_token","value":"access_token","type":"text","required":true},{"label":"security_level","value":"security_level","type":"text","required":true},{"label":"phone","value":"phone","type":"number","required":true},{"label":"virtual_phone","value":"virtual_phone","type":"number","required":false},{"label":"email","value":"email","type":"email","required":true},{"label":"other","value":"other","type":"text","required":false},{"label":"conversation_id","value":"conversation_id","type":"text","required":true},{"label":"firstname","value":"firstname","type":"text","required":true},{"label":"lastname","value":"lastname","type":"text","required":true},{"label":"_id","value":"_id","type":"text","required":false}],"formValue":{"user_id":"","long_url":"","access_token":"","security_level":"","phone":"","virtual_phone":"","email":"","other":"","conversation_id":"","firstname":"","lastname":"","_id":""},"payload":"","topic":"Login","x":223,"y":195,"wires":[["881715fd.06bc98"]]},{"id":"652e89d8.be6878","type":"ui_form","z":"482305dc.e3229c","name":"Create location table","label":"","group":"10053800.a026b8","order":0,"width":0,"height":0,"options":[{"label":"location_id","value":"location_id","type":"text","required":true},{"label":"location_name","value":"location_name","type":"text","required":true},{"label":"location_type","value":"location_type","type":"text","required":true},{"label":"latitude","value":"latitude","type":"number","required":true},{"label":"longitude","value":"longitude","type":"number","required":true},{"label":"distance","value":"distance","type":"number","required":true},{"label":"web","value":"web","type":"text","required":true}],"formValue":{"location_id":"","location_name":"","location_type":"","latitude":"","longitude":"","distance":"","web":""},"payload":"","topic":"","x":252,"y":233.33331298828125,"wires":[["881715fd.06bc98"]]},{"id":"54f41e25.a82d8","type":"ui_form","z":"482305dc.e3229c","name":"Create templates table","label":"","group":"33c11ab0.0540d6","order":0,"width":0,"height":0,"options":[{"label":"header_template_id","value":"header_template_id","type":"text","required":true},{"label":"header_name","value":"header_name","type":"text","required":true},{"label":"header_HTML","value":"header_HTML","type":"text","required":true},{"label":"detail_template_id","value":"detail_template_id","type":"text","required":true},{"label":"detail_name","value":"detail_name","type":"text","required":true},{"label":"detail_HTML","value":"detail_HTML","type":"text","required":true},{"label":"footer_template_id","value":"footer_template_id","type":"text","required":true},{"label":"footer_name","value":"footer_name","type":"text","required":true},{"label":"footer_HTML","value":"footer_HTML","type":"text","required":true}],"formValue":{"header_template_id":"","header_name":"","header_HTML":"","detail_template_id":"","detail_name":"","detail_HTML":"","footer_template_id":"","footer_name":"","footer_HTML":""},"payload":"","topic":"","x":252,"y":274.33331298828125,"wires":[["881715fd.06bc98"]]},{"id":"ffa061df.e849e","type":"ui_form","z":"482305dc.e3229c","name":"Create templates table","label":"","group":"deacb072.2546a","order":0,"width":0,"height":0,"options":[{"label":"timeout_id","value":"timeout_id","type":"text","required":true},{"label":"Name","value":"Name","type":"text","required":true},{"label":"timeout_list","value":"timeout_list","type":"text","required":true},{"label":"delivery_status","value":"delivery_status","type":"text","required":true},{"label":"delivery_count","value":"delivery_count","type":"number","required":true},{"label":"delivery_due","value":"delivery_due","type":"text","required":true},{"label":"delivery_users_ids","value":"delivery_users_ids","type":"text","required":true},{"label":"deliver_via","value":"deliver_via","type":"text","required":true},{"label":"message id","value":"message id","type":"text","required":true},{"label":"from id","value":"from id","type":"text","required":true}],"formValue":{"timeout_id":"","Name":"","timeout_list":"","delivery_status":"","delivery_count":"","delivery_due":"","delivery_users_ids":"","deliver_via":"","message id":"","from id":""},"payload":"","topic":"","x":253,"y":316.33331298828125,"wires":[["881715fd.06bc98"]]},{"id":"8b8bba41.8311c8","type":"ui_form","z":"482305dc.e3229c","name":"Create task table","label":"","group":"6a56f978.ef9718","order":0,"width":0,"height":0,"options":[{"label":"user_id","value":"user_id","type":"text","required":true},{"label":"task_id","value":"task_id","type":"text","required":true},{"label":"Date_created","value":"Date_created","type":"number","required":false},{"label":"Type","value":"Type","type":"text","required":false},{"label":"Category","value":"Category","type":"text","required":true},{"label":"Status","value":"Status","type":"text","required":true},{"label":"header template id","value":"header template id","type":"text","required":true},{"label":"detail template id","value":"detail template id","type":"text","required":false},{"label":"footer template id","value":"footer template id","type":"text","required":false},{"label":"Additional_data_fn","value":"Additional_data_fn","type":"text","required":false},{"label":"timeout_id","value":"timeout_id","type":"text","required":false},{"label":"location_ids","value":"location_ids","type":"text","required":false},{"label":"Optional_data","value":"Optional_data","type":"text","required":false},{"label":"Required_data","value":"Required_data","type":"text","required":false},{"label":"offline_expiration_time","value":"offline_expiration_time","type":"text","required":false}],"formValue":{"user_id":"","task_id":"","Date_created":"","Type":"","Category":"","Status":"","header template id":"","detail template id":"","footer template id":"","Additional_data_fn":"","timeout_id":"","location_ids":"","Optional_data":"","Required_data":"","offline_expiration_time":""},"payload":"","topic":"","x":233,"y":155.33331298828125,"wires":[["881715fd.06bc98"]]},{"id":"881715fd.06bc98","type":"cloudant out","z":"482305dc.e3229c","name":"Couldant DB","cloudant":"","database":"task_table","service":"PkTwilioConv-cloudantNoSQLDB","payonly":true,"operation":"insert","x":653,"y":240.33331298828125,"wires":[]},{"id":"ff7cc3fa.8dedd","type":"cloudant in","z":"482305dc.e3229c","name":"","cloudant":"","database":"users","service":"PkTwilioConv-cloudantNoSQLDB","search":"_idx_","design":"search_user","index":"newSearch","x":427,"y":454.33331298828125,"wires":[["19491e23.c6ece2"]]},{"id":"cd0f6e7.1913b9","type":"inject","z":"482305dc.e3229c","name":"","topic":"","payload":"user_id:admin","payloadType":"str","repeat":"","crontab":"","once":false,"x":221,"y":454.33331298828125,"wires":[["ff7cc3fa.8dedd"]]},{"id":"19491e23.c6ece2","type":"debug","z":"482305dc.e3229c","name":"","active":true,"console":"false","complete":"payload","x":639,"y":453.33331298828125,"wires":[]},{"id":"6965e0b8.dfb39","type":"function","z":"285797d8.833128","name":"user table","func":"var user_id = msg.payload;\n\nvar user = {\n    \"one\": {\n      \"email\": \"pk@bmek\",\n      \"other\": \"other\",\n      \"phone\": \"8308820145\",\n      \"user_id\": \"pk123\",\n      \"lastname\": \"kulk\",\n      \"long_url\": \"long_url\",\n      \"firstname\": \"pratik\",\n      \"access_token\": \"access_token\",\n      \"security_level\": \"security_level\",\n      \"conversation_id\": \"conversation_id\"\n    },\n    \"two\": {\n      \"email\": \"rg@dri\",\n      \"other\": \"other\",\n      \"phone\": \"512365258\",\n      \"user_id\": \"rg123\",\n      \"lastname\": \"colb\",\n      \"long_url\": \"long_url\",\n      \"firstname\": \"roger\",\n      \"access_token\": \"access_token\",\n      \"security_level\": \"security_level\",\n      \"conversation_id\": \"conversation_id\"\n    }\n  };\n\nvar msg = {\n        user : user[user_id]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":451,"y":215,"wires":[["1df7d0de.1b417f"]]},{"id":"9962a205.f2f28","type":"inject","z":"285797d8.833128","name":"Watson User ID","topic":"","payload":"two","payloadType":"str","repeat":"","crontab":"","once":false,"x":269,"y":215,"wires":[["6965e0b8.dfb39"]]},{"id":"1df7d0de.1b417f","type":"debug","z":"285797d8.833128","name":"","active":true,"console":"false","complete":"user","x":613,"y":215,"wires":[]},{"id":"ee9a9fac.58462","type":"comment","z":"285797d8.833128","name":"big_record-tables.user = user_table(watson phone number or id)","info":"big_record-tables.user = user_table(watson phone number or id)","x":442,"y":169,"wires":[]},{"id":"8d3afd49.d780f","type":"function","z":"285797d8.833128","name":"","func":"var conv_response = msg.payload.output.task;\nvar arr = [];\nvar i = 0;\nvar detail;\n\nfunction isEmpty(obj) {\n    return Object.keys(obj).length === 0;\n}\n\nif( 'User_id' in conv_response) {\n    detail.user_id = 'user_id';\n}\nif( 'task_id' in conv_response) {\n    detail.user_id = 'task_id';\n}\nif( 'Date_created' in conv_response) {\n    detail.user_id = 'Date_created';\n}\nif( 'Type' in conv_response) {\n    detail.user_id = 'Type';\n}\n\nvar msg = {\n    payload : arr\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":518,"y":338,"wires":[["c284a992.7a3e08"]]},{"id":"c284a992.7a3e08","type":"debug","z":"285797d8.833128","name":"","active":true,"console":"false","complete":"payload","x":718,"y":338,"wires":[]},{"id":"e98694a9.b42b28","type":"watson-conversation-v1","z":"285797d8.833128","name":"Home Bot","workspaceid":"de7ca07a-dca7-4c04-a397-d60d9756dbb0","multiuser":false,"context":true,"x":339,"y":337,"wires":[["8d3afd49.d780f","756db8d.072f048"]]},{"id":"ac561f02.9a3af","type":"inject","z":"285797d8.833128","name":"Book","topic":"Detail_table_book","payload":"read Tipping Point","payloadType":"str","repeat":"","crontab":"","once":false,"x":173.22222900390625,"y":336.77777099609375,"wires":[["e98694a9.b42b28"]]},{"id":"756db8d.072f048","type":"debug","z":"285797d8.833128","name":"","active":false,"console":"false","complete":"payload.output.task","x":682,"y":414,"wires":[]},{"id":"81556d6.eb12d9","type":"function","z":"285797d8.833128","name":"task table","func":"var task_id = msg.payload;\n\nvar task = {\n    \"book123\" : {\n      \"type\": \"type\",\n      \"detail\": {\n        \"status\": \"Not processed\",\n        \"timeout\": {\n          \"Name\": \"pratik\",\n          \"timeout_id\": \"timeout_id\",\n          \"timeout_list\": {\n            \"1\": {\n              \"users\": {\n                \"users_one\": {\n                  \"email\": \"email\",\n                  \"other\": \"other\",\n                  \"phone\": \"phone\",\n                  \"lastname\": \"lastname\",\n                  \"long_url\": \"long_url\",\n                  \"firstname\": \"firstname\",\n                  \"access_token\": \"access_token\",\n                  \"security_level\": \"security_level\",\n                  \"conversation_id\": \"conversation_id\"\n                }\n              },\n              \"from_id\": \"from_id\",\n              \"defaults\": {\n                \"parent\": \"parent\",\n                \"next_child\": \"next_child\",\n                \"all_children\": \"all_children\"\n              },\n              \"template\": {\n                \"from\": {\n                  \"HTML\": \"html\",\n                  \"Name\": \"book\",\n                  \"template_id\": \"temp1\"\n                },\n                \"message\": {\n                  \"HTML\": \"html\",\n                  \"Name\": \"book\",\n                  \"template_id\": \"temp1\"\n                }\n              },\n              \"message_id\": \"message_id\",\n              \"deliver_via\": \"mail\",\n              \"delivery_due\": \"delivery_due\",\n              \"delivery_count\": \"delivery_count\",\n              \"delivery_status\": \"delivery_status\",\n              \"delivery_users_ids\": \"delivery_users_ids\"\n            },\n            \"2\": {\n              \"users\": {\n                \"users_one\": {\n                  \"email\": \"email\",\n                  \"other\": \"other\",\n                  \"phone\": \"phone\",\n                  \"lastname\": \"lastname\",\n                  \"long_url\": \"long_url\",\n                  \"firstname\": \"firstname\",\n                  \"access_token\": \"access_token\",\n                  \"security_level\": \"security_level\",\n                  \"conversation_id\": \"conversation_id\"\n                }\n              },\n              \"from_id\": \"from_id\",\n              \"defaults\": {\n                \"parent\": \"parent\",\n                \"next_child\": \"next_child\",\n                \"all_children\": \"all_children\"\n              },\n              \"template\": {\n                \"from\": {\n                  \"HTML\": \"html\",\n                  \"Name\": \"book\",\n                  \"template_id\": \"temp1\"\n                },\n                \"message\": {\n                  \"HTML\": \"html\",\n                  \"Name\": \"book\",\n                  \"template_id\": \"temp1\"\n                }\n              },\n              \"message_id\": \"message_id\",\n              \"deliver_via\": \"msg\",\n              \"delivery_due\": \"delivery_due\",\n              \"delivery_count\": \"delivery_count\",\n              \"delivery_status\": \"delivery_status\",\n              \"delivery_users_ids\": \"delivery_users_ids\"\n            }\n          }\n        },\n        \"Priority\": \"Priority\",\n        \"defaults\": {\n          \"parent\": \"parent\",\n          \"next_child\": \"next_child\",\n          \"all_children\": \"all_children\"\n        },\n        \"location\": {\n          \"location_one\": {\n            \"location_id\": \"location_id\",\n            \"location_data\": {\n              \"lat\": \"lat\",\n              \"lon\": \"lon\",\n              \"web\": \"web\",\n              \"dist\": \"dist\"\n            },\n            \"location_name\": \"location_name\",\n            \"location_type\": \"location_type\"\n          }\n        },\n        \"processed\": \"processed\",\n        \"Due_seconds\": \"Due_seconds\"\n      },\n      \"status\": \"Not processed\",\n      \"User_id\": \"User_id\",\n      \"Category\": \"Category\",\n      \"template\": {\n        \"detail\": {\n          \"HTML\": \"html\",\n          \"Name\": \"book\",\n          \"template_id\": \"temp1\"\n        },\n        \"footer\": {\n          \"HTML\": \"html\",\n          \"Name\": \"book\",\n          \"template_id\": \"temp1\"\n        },\n        \"header\": {\n          \"HTML\": \"html\",\n          \"Name\": \"book\",\n          \"template_id\": \"temp1\"\n        }\n      },\n      \"timeout_id\": \"timeout_id\",\n      \"Date_created\": \"Date_created\",\n      \"location_ids\": \"location_ids\",\n      \"Optional_data\": \"Optional_data\",\n      \"Required_data\": \"Required_data\",\n      \"Additional_data_fn\": \"Additional_data_fn\",\n      \"detail_template_id\": \"detail_template_id\",\n      \"footer_template_id\": \"footer_template_id\",\n      \"header_template_id\": \"header_template_id\",\n      \"offline_expiration_time\": \"offline_expiration_time\"\n    }\n};\n    \nvar msg = {\n    task : task[task_id]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":443,"y":513,"wires":[["e7339832.f726c8"]]},{"id":"ddc2ce37.b5c5c","type":"inject","z":"285797d8.833128","name":"Watson task ID","topic":"","payload":"book123","payloadType":"str","repeat":"","crontab":"","once":false,"x":258,"y":513,"wires":[["81556d6.eb12d9"]]},{"id":"e7339832.f726c8","type":"debug","z":"285797d8.833128","name":"","active":true,"console":"false","complete":"task","x":605,"y":512,"wires":[]},{"id":"30234c58.b32044","type":"http in","z":"bb294181.6dd41","name":"","url":"/api","method":"get","swaggerDoc":"","x":246,"y":222,"wires":[["e8b6d19a.41c81"]]},{"id":"5ee051bb.dbf12","type":"http response","z":"bb294181.6dd41","name":"API Result","x":668,"y":222,"wires":[]},{"id":"e8b6d19a.41c81","type":"cloudant in","z":"bb294181.6dd41","name":"","cloudant":"","database":"chatbot_project","service":"_ext_","search":"_idx_","design":"getPage","index":"getPagefromID","x":457,"y":222,"wires":[["5ee051bb.dbf12"]]},{"id":"4e0f81a8.817c1","type":"function","z":"bdf8318f.62f79","name":"Getting detail","func":"var detail = msg.payload.output.detail; \nvar task = msg.payload.output.task;\nvar task_id = detail.task_id;\nvar default_task_id = task.child_defaults_task_id;\n\nvar task = {\n    child_defaults_task_id : \"default\"\n};\n\nvar msg1 = {\n    task_id : \"task_id : \" + task_id,\n};\n\nvar msg2 = {\n    task_id : \"task_id : \" + default_task_id,\n};\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":245,"y":317,"wires":[["2800b111.0e9efe","a52d97e7.3c3998"],["5c851f17.5d983","3012fc50.051144"]]},{"id":"e9d69f94.6583d","type":"cloudant in","z":"bdf8318f.62f79","name":"","cloudant":"","database":"task_table","service":"PkTwilioConv-cloudantNoSQLDB","search":"_idx_","design":"getTask","index":"searchTask","x":690,"y":232,"wires":[["829a3868.2fedf8","966c0dc6.8a1bb"]]},{"id":"73ba7236.54a53c","type":"inject","z":"bdf8318f.62f79","name":"","topic":"","payload":"task_id : default","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":476,"wires":[[]]},{"id":"83f9708.fcf079","type":"debug","z":"bdf8318f.62f79","name":"","active":true,"console":"false","complete":"false","x":948,"y":393,"wires":[]},{"id":"7850a9ee.a91488","type":"watson-conversation-v1","z":"bdf8318f.62f79","name":"Home Bot","workspaceid":"de7ca07a-dca7-4c04-a397-d60d9756dbb0","multiuser":false,"context":true,"x":180,"y":259,"wires":[["4e0f81a8.817c1","d2a4ddf5.ae1c4"]]},{"id":"c5d9014c.61657","type":"inject","z":"bdf8318f.62f79","name":"Book","topic":"Detail_table_book","payload":"read Tipping Point","payloadType":"str","repeat":"","crontab":"","once":false,"x":145.22222518920898,"y":194.77777099609375,"wires":[["7850a9ee.a91488"]]},{"id":"829a3868.2fedf8","type":"function","z":"bdf8318f.62f79","name":"Create task from detail","func":"var detail = msg.payload.output.detail; \nvar task_id = detail.task_id;\n\nvar task = {\n    child_defaults_task_id : \"default\"\n};\n\nvar msg = {\n    payload : \"task_id : \" + task_id\n};\nreturn msg;","outputs":1,"noerr":0,"x":934,"y":215,"wires":[[]]},{"id":"2800b111.0e9efe","type":"change","z":"bdf8318f.62f79","name":"","rules":[{"t":"move","p":"default_task_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":469,"y":271,"wires":[["e9d69f94.6583d","966c0dc6.8a1bb"]]},{"id":"3012fc50.051144","type":"change","z":"bdf8318f.62f79","name":"","rules":[{"t":"move","p":"task_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":499,"y":361,"wires":[["c3866ede.5e58e","83f9708.fcf079"]]},{"id":"c3866ede.5e58e","type":"cloudant in","z":"bdf8318f.62f79","name":"","cloudant":"","database":"task_table","service":"PkTwilioConv-cloudantNoSQLDB","search":"_idx_","design":"getTask","index":"searchTask","x":715,"y":320,"wires":[["83f9708.fcf079"]]},{"id":"a52d97e7.3c3998","type":"debug","z":"bdf8318f.62f79","name":"","active":false,"console":"false","complete":"task_id","x":466,"y":313,"wires":[]},{"id":"5c851f17.5d983","type":"debug","z":"bdf8318f.62f79","name":"","active":false,"console":"false","complete":"false","x":455,"y":468,"wires":[]},{"id":"d2a4ddf5.ae1c4","type":"debug","z":"bdf8318f.62f79","name":"","active":false,"console":"false","complete":"payload.output.detail.task_id","x":407,"y":150,"wires":[]},{"id":"966c0dc6.8a1bb","type":"debug","z":"bdf8318f.62f79","name":"","active":true,"console":"false","complete":"false","x":957,"y":296,"wires":[]}]
