big_record/big_record_backup15032017.json
[{"id":"7fce52ea.7e640c","type":"tab","label":"Big Record Table"},{"id":"d915338.f85d3d","type":"change","z":"7fce52ea.7e640c","name":"form_data","rules":[{"t":"move","p":"payload","pt":"msg","to":"form_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":88,"wires":[["4c63cd35.b61c74"]]},{"id":"4c63cd35.b61c74","type":"cloudant in","z":"7fce52ea.7e640c","name":"Users","cloudant":"","database":"users","service":"PkTwilioConv-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":406,"y":89,"wires":[["ba394890.7ec3a8"]]},{"id":"ba394890.7ec3a8","type":"change","z":"7fce52ea.7e640c","name":"users_data","rules":[{"t":"move","p":"payload","pt":"msg","to":"users_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":555,"y":89,"wires":[["328a25c.c9973da"]]},{"id":"328a25c.c9973da","type":"cloudant in","z":"7fce52ea.7e640c","name":"templates","cloudant":"","database":"templates","service":"PkTwilioConv-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":706,"y":89,"wires":[["e4015841.1edc68"]]},{"id":"e4015841.1edc68","type":"change","z":"7fce52ea.7e640c","name":"templates","rules":[{"t":"move","p":"payload","pt":"msg","to":"all_templates","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":99,"y":157,"wires":[["fdc81203.40114"]]},{"id":"fdc81203.40114","type":"function","z":"7fce52ea.7e640c","name":"timeout_id","func":"if(msg.form_data){\n    if(msg.form_data.timeout_id){\n        msg.payload = {\n            _id : msg.form_data.timeout_id\n        };\n    }else{\n        msg.payload = {\n            _id : \"\"\n        };\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":263,"y":156,"wires":[["f010f10b.e9fb"]]},{"id":"f010f10b.e9fb","type":"cloudant in","z":"7fce52ea.7e640c","name":"TimeoutById","cloudant":"","database":"timeout","service":"PkTwilioConv-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":424,"y":155,"wires":[["184d3b84.b8f144"]]},{"id":"184d3b84.b8f144","type":"change","z":"7fce52ea.7e640c","name":"timeout_obj","rules":[{"t":"move","p":"payload","pt":"msg","to":"timeout_obj","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":589,"y":153,"wires":[["3b6efaa5.71ed46"]]},{"id":"3b6efaa5.71ed46","type":"cloudant in","z":"7fce52ea.7e640c","name":"locations","cloudant":"","database":"location","service":"PkTwilioConv-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":743,"y":154,"wires":[["37614730.9995b8"]]},{"id":"37614730.9995b8","type":"change","z":"7fce52ea.7e640c","name":"locationArr","rules":[{"t":"move","p":"payload","pt":"msg","to":"location_arr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":103,"y":219,"wires":[["54cba0d5.0fb27"]]},{"id":"9e13f329.594eb","type":"cloudant in","z":"7fce52ea.7e640c","name":"by task name","cloudant":"","database":"task_table","service":"PkTwilioConv-cloudantNoSQLDB","search":"_idx_","design":"getTask","index":"searchTask","x":425,"y":219,"wires":[["5f12ee44.297d"]]},{"id":"54cba0d5.0fb27","type":"function","z":"7fce52ea.7e640c","name":"task name","func":"if(msg.form_data){\n    if(msg.form_data.task_name){\n        msg.payload = {\n            query : \"task_name:\" + msg.form_data.task_name\n        } ;\n    }else{\n        msg.payload = {\n            query: \"\" \n        };\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":219,"wires":[["9e13f329.594eb"]]},{"id":"5f12ee44.297d","type":"change","z":"7fce52ea.7e640c","name":"taskByName","rules":[{"t":"move","p":"payload","pt":"msg","to":"task_by_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":591,"y":217,"wires":[["6bdf6385.1f5e3c"]]},{"id":"5e11b2f2.297cbc","type":"inject","z":"7fce52ea.7e640c","name":"start","topic":"start","payload":"{ \"user_id\": \"5f490c0ae2ee7321dc891a3e59bd64c6\", \"task_name\": \"task_w_create_task\", \"from_user_id\": \"23d5c58422026c68269cd6e9ac22ca4a\", \"note\": \"the lean statup\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":91,"y":109,"wires":[["d915338.f85d3d"]]},{"id":"7027bf3c.45267","type":"function","z":"7fce52ea.7e640c","name":"big_record","func":"var form_data       = msg.form_data ,\n    user_obj        = get_obj(form_data.user_id, msg.users_data),\n    templates       = msg.all_templates,\n    timeout         = msg.timeout_obj,\n    locations       = msg.location_arr ,\n    task_arr        = msg.task_by_name ,\n    watson_output   = msg.watson_output,\n    big_record      = {},\n    page_id         = generate_page_id(6);\n    \nif(form_data._id){\n    //from the below code is working for the update case.\n    big_record._id              = form_data._id ;\n    big_record.page_id          = page_id ;\n    big_record.task_name        = form_data.task_name;\n    big_record.user_id          = user_obj._id;\n    big_record.phone            = user_obj.virtual_phone;\n    big_record.access_token     = user_obj.access_token;\n    big_record.note             = form_data.note || \"the lean startup\" ;\n    big_record.task             = create_task_obj(form_data, msg.users_data, templates, locations, task_arr, watson_output);\n}else{\n    //from the below code is working for the create record case.\n    big_record.task_name        = form_data.task_name;\n    big_record.page_id          = page_id ;\n    big_record.user_id          = user_obj._id;\n    big_record.phone            = user_obj.virtual_phone;\n    big_record.access_token     = user_obj.access_token;\n    big_record.note             = form_data.note || \"the lean startup\" ;\n    big_record.task             = create_task_obj(form_data, msg.users_data, templates, locations, task_arr, timeout, watson_output);\n\n}\nmsg.payload = big_record ;\nreturn msg;\n\nfunction create_task_obj(form, users_arr, templates, locations, task_arr, timeout, watson_output){\n    var task_obj = get_task_from_arr(task_arr);\n    var task ={\n        task_id                     : task_obj._id ,\n        user_id                     : task_obj.user_id ,\n        task_name                   : task_obj.name ,\n        header_template_id          : get_obj(task_obj.header_template_id, templates) ,\n        detail_template_id          : get_obj(task_obj.details_template_id, templates) ,\n        footer_template_id          : get_obj(task_obj.footer_template_id, templates) ,\n        timeout_id                  : task_obj.timeout_id ,\n        location_ids                : task_obj.location_ids ? get_all_loc_obj(task_obj.location_ids) : null,\n        child_defaults_task_id      : task_obj.child_default_task_id || null ,\n        child_default_task_name     : task_obj.child_default_task_name || null, \n        date_created                : task_obj.date_created || new Date().toJSON() ,\n        category                    : task_obj.category || null ,\n        status                      : task_obj.status || null ,\n        additional_data_fn          : task_obj.additional_data_fn || null,\n        optional_data               : task_obj.optional_data || {},\n        required_data               : task_obj.required_data || {} ,\n        offline_expiration_seconds  : task_obj.offline_expiration_time || 0,\n        display_if_empty            : task_obj.display_if_empty || true ,\n        type                        : {\n            public                  : task_obj.type || \"public\"\n        },\n        image                       : task_obj.image || form.image || \"https://upload.wikimedia.org/wikipedia/commons/2/26/512pxIcon-sunset_photo_not_found.png\" ,\n        child_defaults_task         : form.child_defaults_task || null ,\n        template                    : {\n            header                  : get_obj(task_obj.header_template_id, templates),\n            detail                  : get_obj(task_obj.details_template_id, templates),\n            footer                  : get_obj(task_obj.footer_template_id, templates)\n        } ,\n        detail                      : create_detail_obj(form, users_arr, templates, locations, task_obj, timeout, watson_output)\n    } ;\n    return task ;\n}\n\nfunction create_detail_obj(form, users, templates, locations, task_obj, timeout, watson_output){\n    var detail = {\n        task_id                     : task_obj._id,\n        child_task_id               : task_obj.child_default_task_id,\n        user_id                     : get_obj(form.user_id, users), \n        from_user_id                : get_obj(form.from_user_id, users),\n        page_id                     : page_id,\n        synchronized                : true,\n        processed                   : true,\n        status                      : \"active\",\n        read                        : true,\n        display_if_empty            : true,\n        date_created                : new Date().toJSON(),\n        due_date                    : new Date().toJSON(),\n        offline_expiration_seconds  : 0,\n        priority                    : 1,\n        user_incoming               : {\n            note                    : form.note || \"the lean startup\"\n        },\n        watson_incoming             : {\n            message                 : \"watson_response_to: \" + form.note ,\n            output                  : watson_output.output\n        },\n        timeout                     : create_timeout_obj(timeout, users),\n        location                    : task_obj.location_ids ? get_all_loc_obj(task_obj.location_ids) : null,\n        defaults: {\n            parent                  : {},\n            next_child              : {},\n            children                : {}\n        }\n    };\n    return detail ;\n}\n\nfunction get_obj(id, arr){\n    var obj = {} ;\n    if(id && arr.length){\n        for(var i=0; i<arr.length; i++){\n            if(sanitize(id) === sanitize(arr[i]._id)){\n                obj = arr[i];\n            }\n        }\n    }\n    return obj ;\n}\n\nfunction get_task_from_arr(arr){\n    if(arr !== null){\n        if(arr.length){\n            return arr[arr.length - 1];\n        }else{\n            return arr ;\n        }    \n    }\n}\n\nfunction get_all_loc_obj(arr){\n    var obj = {};\n    if(arr !== null){\n        for(var i=0; i< arr.length; i++){\n            if(arr[i]){\n                obj[arr[i]._id] = arr[i] ;\n            }\n        }\n        return obj ;\n    }else{\n        return obj ;\n    }\n}\n\nfunction create_timeout_obj(timeout_obj, users){\n    if(check_obj(timeout_obj.timeout_list) > 0){\n        for(var list in timeout_obj.timeout_list){\n            if(timeout_obj.timeout_list[list]){\n                timeout_obj.timeout_list[list].users = get_delivery_user_ids(timeout_obj.timeout_list[list].delivery_user_ids, users);\n                timeout_obj.timeout_list[list].delivery_user_ids = get_delivery_user_ids(timeout_obj.timeout_list[list].delivery_user_ids, users);\n                timeout_obj.timeout_list[list].template = {\n                    message: {},\n                    from   : {}\n                };\n                timeout_obj.timeout_list[list].defaults = {\n                    parent                  : {},\n                    next_child              : {},\n                    children                : {}\n                };\n            }\n        }\n        return timeout_obj ;   \n    }else{\n        return {} ;\n    }\n}\n\nfunction get_delivery_user_ids(ids, users){\n    var obj = {};\n    if(ids !== null){\n        ids = ids.split(',');\n    }\n    \n    if(users.length){\n        for(var i=0; i< users.length; i++){\n            if(ids.indexOf(users[i]._id) > -1 ){\n                delete users[i].password ;\n                obj[users[i]._id] = users[i];\n            }\n        }\n    }\n    return obj ;\n}\n\nfunction check_obj(obj){\n    var count = 0;\n    for(var keys in obj){\n        if(obj[keys]){\n            count++ ;\n        }\n    }\n    return count ;\n}\n\nfunction sanitize(data){\n    if(data){\n        return data.trim().toString();\n    }\n}\n\nfunction generate_page_id(length) {\n    return Math.floor(Math.pow(10, length-1) + Math.random() * (Math.pow(10, length) - Math.pow(10, length-1) - 1));\n}","outputs":1,"noerr":0,"x":456,"y":287,"wires":[["addc1beb.7297f8","4dedc89e.9da2d8"]]},{"id":"addc1beb.7297f8","type":"debug","z":"7fce52ea.7e640c","name":"","active":true,"console":"false","complete":"false","x":648,"y":389,"wires":[]},{"id":"6bdf6385.1f5e3c","type":"function","z":"7fce52ea.7e640c","name":"input","func":"msg.payload  = msg.form_data.note || \"the lean startup\" ;\nmsg.params = {\n    workspace_id : \"42015e53-bdb9-4a23-87b5-f382d5e12dbb\",\n    username     : \"4db58c57-6d89-4382-9d34-c4044b5fce11\",\n    password     : \"eG0ctZRJO42s\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":742,"y":218,"wires":[["20c99b1e.68bd94"]]},{"id":"20c99b1e.68bd94","type":"watson-conversation-v1","z":"7fce52ea.7e640c","name":"Watson","workspaceid":"42015e53-bdb9-4a23-87b5-f382d5e12dbb","multiuser":false,"context":true,"x":96,"y":285,"wires":[["f7f2e56c.5c4158"]]},{"id":"f7f2e56c.5c4158","type":"change","z":"7fce52ea.7e640c","name":"watson_payload","rules":[{"t":"move","p":"payload","pt":"msg","to":"watson_output","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":267,"y":285,"wires":[["7027bf3c.45267"]]},{"id":"bda60a90.46f698","type":"cloudant out","z":"7fce52ea.7e640c","name":"Save Obj","cloudant":"","database":"big_record_table","service":"PkTwilioConv-cloudantNoSQLDB","payonly":true,"operation":"insert","x":634,"y":288,"wires":[]},{"id":"4dedc89e.9da2d8","type":"http response","z":"7fce52ea.7e640c","name":"","x":628,"y":336,"wires":[]},{"id":"5de2de5d.a5ff9","type":"http in","z":"7fce52ea.7e640c","name":"Big record","url":"/create_big_record","method":"post","swaggerDoc":"","x":82,"y":64,"wires":[["d915338.f85d3d"]]},{"id":"b7a9302f.262bb","type":"debug","z":"7fce52ea.7e640c","name":"","active":true,"console":"false","complete":"payload","x":320,"y":38,"wires":[]},{"id":"88eefbac.c3c3b8","type":"ui_form","z":"7fce52ea.7e640c","name":"Big record table","label":"","group":"605089c4.c715b8","order":0,"width":0,"height":0,"options":[{"label":"Id","value":"_id","type":"text","required":false},{"label":"Assign user","value":"user_id","type":"text","required":false},{"label":"Task name","value":"task_name","type":"text","required":false},{"label":"From user ","value":"from_user_id","type":"text","required":false}],"formValue":{"_id":"","user_id":"","task_name":"","from_user_id":""},"payload":"","topic":"big_record_table","x":101,"y":22,"wires":[["d915338.f85d3d","b7a9302f.262bb"]]},{"id":"605089c4.c715b8","type":"ui_group","z":"7fce52ea.7e640c","name":"Big record table","tab":"9a9b7181.f3ccf","order":1,"disp":false,"width":"9"},{"id":"9a9b7181.f3ccf","type":"ui_tab","z":"","name":"Big record table","icon":"dashboard","order":7}]
