details_screen/2017/old_details_screen_with_delay_flow_14032017.json
[{"id":"a164a1e3.d69","type":"tab","label":"Detail Screen"},{"id":"8dc4d9aa.6f1bd8","type":"ui_form","z":"a164a1e3.d69","name":"Detail Screen","label":"","group":"e8b5a7d3.af2da8","order":0,"width":0,"height":0,"options":[{"label":"Id","value":"_id","type":"text","required":false},{"label":"Task Id","value":"task_id","type":"text","required":false},{"label":"Child Task Id","value":"child_task_id","type":"text","required":false},{"label":"User Id","value":"user_id","type":"text","required":false},{"label":"Page Id","value":"page_id","type":"text","required":false},{"label":"Synchronized","value":"synchronized","type":"text","required":false},{"label":"Processed","value":"processed","type":"text","required":false},{"label":"Status","value":"status","type":"text","required":false},{"label":"Read","value":"read","type":"text","required":false},{"label":"Display If Empty","value":"display_if_empty","type":"text","required":false},{"label":"Due Date","value":"due_date","type":"text","required":false},{"label":"Offline Expiration Seconds","value":"offline_expiration_seconds","type":"number","required":false},{"label":"Priority","value":"priority","type":"number","required":false},{"label":"Message","value":"message","type":"text","required":false},{"label":"Template Id","value":"template_id","type":"text","required":false},{"label":"Timeout Id","value":"timeout_id","type":"text","required":false},{"label":"Location  Ids (add multiple ids seprated by comma)","value":"location_id","type":"text","required":false}],"formValue":{"_id":"","task_id":"","child_task_id":"","user_id":"","page_id":"","synchronized":"","processed":"","status":"","read":"","display_if_empty":"","due_date":"","offline_expiration_seconds":"","priority":"","message":"","template_id":"","timeout_id":"","location_id":""},"payload":"","topic":"details_data","x":92,"y":50,"wires":[["d2244926.36ea98"]]},{"id":"d2244926.36ea98","type":"function","z":"a164a1e3.d69","name":"Splitter","func":"var payload = {};\n\nif(msg.payload){\n    \n    if(msg.payload._id){\n        msg.event_type = \"update_record_db\";\n        msg.form_data = {\n            detail_id: msg.payload.detail_id,\n            task_id: msg.payload.task_id,\n            child_task_id: msg.payload.child_task_id,\n            user_id: msg.payload.user_id,\n            page_id: msg.payload.page_id,\n            synchronized: msg.payload.synchronized,\n            processed: msg.payload.processed,\n            status: msg.payload.status,\n            read: msg.payload.read,\n            display_if_empty: msg.payload.display_if_empty,\n            due_date: msg.payload.due_date,\n            offline_expiration_seconds: msg.payload.offline_expiration_seconds,\n            priority: msg.payload.priority,\n            message: msg.payload.message,\n        };\n        payload = {\n            _id : msg.payload._id \n        };\n    }else{\n        payload = {\n            detail_id: msg.payload.detail_id,\n            task_id: msg.payload.task_id,\n            child_task_id: msg.payload.child_task_id,\n            user_id: msg.payload.user_id,\n            page_id: msg.payload.page_id,\n            synchronized: msg.payload.synchronized,\n            processed: msg.payload.processed,\n            status: msg.payload.status,\n            read: msg.payload.read,\n            display_if_empty: msg.payload.display_if_empty,\n            due_date: msg.payload.due_date,\n            offline_expiration_seconds: msg.payload.offline_expiration_seconds,\n            priority: msg.payload.priority,\n            message: msg.payload.message,\n        };\n    }\n\n\n    if(msg.payload.user_id){\n    \tmsg.payload_user_id =  {_id : msg.payload.user_id };\n    }\n    \n    if(msg.payload.template_id){\n    \tmsg.payload_template_id =  {_id: msg.payload.template_id};\n    }\n    \n    if(msg.payload.timeout_id){\n    \tmsg.payload_timeout_id =  {_id: msg.payload.timeout_id};\n    }\n    \n    if(msg.payload.location_id){\n    \tmsg.payload_location_id =  msg.payload.location_id;\n    }\n}\n\nmsg.payload = payload ;\nreturn msg;","outputs":1,"noerr":0,"x":139,"y":156,"wires":[["ea650efc.159a3"]]},{"id":"de6c3f71.58e29","type":"change","z":"a164a1e3.d69","name":"msg.detail_data","rules":[{"t":"move","p":"payload","pt":"msg","to":"detail_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":442,"y":172,"wires":[["1175339a.ee85ec"]]},{"id":"d95bbacc.b798d8","type":"cloudant in","z":"a164a1e3.d69","name":"Users","cloudant":"","database":"users","service":"PkTwilioConv-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":539,"y":327,"wires":[["34f33d78.c46b52"]]},{"id":"2bbd7671.dae3aa","type":"cloudant in","z":"a164a1e3.d69","name":"Template","cloudant":"","database":"templates","service":"PkTwilioConv-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":556,"y":394,"wires":[["f9b13825.4e29c8"]]},{"id":"884eda73.21f2a8","type":"cloudant in","z":"a164a1e3.d69","name":"Timeout","cloudant":"","database":"timeout","service":"PkTwilioConv-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":583,"y":466,"wires":[["453a28f9.dbe308"]]},{"id":"89eb874e.849e78","type":"cloudant in","z":"a164a1e3.d69","name":"Location","cloudant":"","database":"location","service":"PkTwilioConv-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":384,"y":514,"wires":[["21b85110.acff7e"]]},{"id":"a3d45d79.bdf0c","type":"cloudant in","z":"a164a1e3.d69","name":"Update","cloudant":"","database":"details","service":"PkTwilioConv-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":420,"y":97,"wires":[["c483d6a5.f78598"]]},{"id":"6de5773f.ed5508","type":"change","z":"a164a1e3.d69","name":"User","rules":[{"t":"move","p":"payload_user_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":391,"y":325,"wires":[["d95bbacc.b798d8"]]},{"id":"7988c5c.a6c213c","type":"change","z":"a164a1e3.d69","name":"Template","rules":[{"t":"move","p":"payload_template_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":393,"y":392,"wires":[["2bbd7671.dae3aa"]]},{"id":"9c7fa3e0.5e32e","type":"change","z":"a164a1e3.d69","name":"Timeout","rules":[{"t":"move","p":"payload_timeout_id","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":385,"y":464,"wires":[["884eda73.21f2a8"]]},{"id":"8ca1a712.78c698","type":"function","z":"a164a1e3.d69","name":"Merge","func":"var payload         = {detail_id: null,task_id: null,child_task_id: null,user_id: null,page_id: null,synchronized: null,\n        processed: null,status: null,read: null,display_if_empty: null,\n        due_date: null,offline_expiration_seconds: null,priority: null,\n        user_incoming : {},watson_incoming: {},message: null,template: {detail: {}},\n        timeout: {},user_calculated: {timeout: {},user: {},template: {}},location: {},defaults: {parent : null,all_children : null} } ;\n \nvar user_obj        = global.get('user_obj'),\n    template_obj    = global.get('template_obj'),\n    timeout_obj     = global.get('timeout_obj'),\n    location_obj    = global.get('location_obj'),\n    watson_obj      = global.get('watson_obj'),\n    detail_obj      = msg.detail_data ;\n\n\tpayload = {\n\t\ttask_id: detail_obj.task_id,\n\t\tchild_task_id: detail_obj.child_task_id,\n\t\tuser_id: detail_obj.user_id,\n\t\tpage_id: detail_obj.page_id || false ,\n\t\tsynchronized: detail_obj.synchronized || false,\n\t\tprocessed: detail_obj.processed || true,\n\t\tstatus: detail_obj.status || true,\n\t\tread: detail_obj.read || false,\n\t\tdisplay_if_empty: detail_obj.display_if_empty || true,\n\t\tdate_created : new Date().toJSON() , \n\t\tdue_date: detail_obj.due_date || new Date().toJSON(),\n\t\toffline_expiration_seconds: detail_obj.offline_expiration_seconds || 0,\n\t\tpriority: detail_obj.priority || 1,\n\t\tuser_incoming : user_obj || {},\n\t\twatson_incoming: watson_obj || {},\n\t\tmessage: detail_obj.message || null,\n\t\ttemplate: {\n\t\t\tdetail: template_obj || {}\n\t\t},\n\t\ttimeout: create_timeout_obj(timeout_obj, user_obj, template_obj),\n\t\tuser_calculated: {\n\t\t\ttimeout: create_timeout_obj(timeout_obj, user_obj, template_obj),\n\t\t\ttemplate: template_obj || {}\n\t\t},\n\t\tlocation: location_obj,\n\t\tdefaults: {\n\t\t\tparent          : null,\n\t\t\tall_children    : null\n\t\t}\n\t};\n\nmsg.payload = payload ;   \nreturn msg;\n\n\nfunction create_timeout_obj(timeout_obj, user_obj, template_obj){\n\tvar timeout_list = timeout_obj.timeout_list ; \n\tfor(var key in timeout_list){\n\t\tif(key){\n\t\t\ttimeout_list[key].users = create_user_obj(user_obj);\n\t\t\ttimeout_list[key].template = {\n        \t    message : template_obj,\n        \t    from    : template_obj\n        \t};\n\t\t}\n\t}\n\treturn timeout_obj ;\n}\n\nfunction create_user_obj(user_obj){\n\tvar obj = {};\n\tif(user_obj){\n\t    obj[user_obj._id] = user_obj ;\n\t    return obj ;\n\t}else{\n\t    return obj ;\n\t}\n\t\n}\n\n","outputs":1,"noerr":0,"x":840,"y":157,"wires":[["734e559b.c5b63c","68308415.478efc","4bf154d5.8ba0fc"]]},{"id":"ea650efc.159a3","type":"switch","z":"a164a1e3.d69","name":"","property":"event_type","propertyType":"msg","rules":[{"t":"eq","v":"update_record_db","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":173,"y":270,"wires":[["a3d45d79.bdf0c","6de5773f.ed5508","7988c5c.a6c213c","9c7fa3e0.5e32e","89eb874e.849e78","b7df372d.911348"],["6de5773f.ed5508","7988c5c.a6c213c","9c7fa3e0.5e32e","de6c3f71.58e29","89eb874e.849e78","b7df372d.911348"]]},{"id":"34f33d78.c46b52","type":"function","z":"a164a1e3.d69","name":"user","func":"global.set('user_obj', \"\");\nglobal.set('user_obj', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":739,"y":324,"wires":[["1796c3c1.417b9c"]]},{"id":"f9b13825.4e29c8","type":"function","z":"a164a1e3.d69","name":"template","func":"global.set('template_obj', \"\");\nglobal.set('template_obj', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":737,"y":392,"wires":[["5a2fbb26.9e8d04"]]},{"id":"453a28f9.dbe308","type":"function","z":"a164a1e3.d69","name":"timeout","func":"global.set('timeout_obj', \"\");\nglobal.set('timeout_obj', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":757,"y":452,"wires":[["aaa2998.0107868"]]},{"id":"21b85110.acff7e","type":"function","z":"a164a1e3.d69","name":"location","func":"var locationArr     = msg.payload ;\n    locations       = [] ;\n    location_ids    = msg.payload_location_id ? sanitizeString(msg.payload_location_id) : null;    \n\n    for(var i=0; i< locationArr.length; i++){\n        if(location_ids !== null){\n            if(location_ids.indexOf(locationArr[i]._id) > -1 ) {\n                locations.push(locationArr[i]);\n            }\n        }\n    }\n\nglobal.set('location_obj', \"\");\nglobal.set('location_obj', create_location_obj(locations));\nreturn msg;\n\nfunction sanitizeString(str){\n    if(str || str !== undefined){\n        var arr = str.split(',');\n        for(var i=0; i< arr.length; i++){\n            arr[i] = arr[i].trim();\n        }\n        return arr ;\n    }else{\n        return false ;\n    }\n}\n\nfunction create_location_obj(locations){\n    var obj = {} ;\n    \n    for(var i=0; i< location.length; i++){\n        if(location[i]._id){\n            obj[location[i]._id] = location[i] ;\n        }\n    }\n    \n    return obj ;\n}","outputs":1,"noerr":0,"x":767,"y":530,"wires":[["8b215049.3db0e"]]},{"id":"734e559b.c5b63c","type":"debug","z":"a164a1e3.d69","name":"Merge Log","active":true,"console":"true","complete":"payload","x":1119,"y":252,"wires":[]},{"id":"2a9f0d4c.d721a2","type":"cloudant out","z":"a164a1e3.d69","name":"Save Details into db","cloudant":"","database":"details","service":"PkTwilioConv-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1143,"y":66,"wires":[]},{"id":"1175339a.ee85ec","type":"delay","z":"a164a1e3.d69","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":659,"y":169,"wires":[["8ca1a712.78c698"]]},{"id":"a870d7d6.07ae98","type":"function","z":"a164a1e3.d69","name":"Update merge","func":"var payload         = {detail_id: null,task_id: null,child_task_id: null,user_id: null,page_id: null,synchronized: null,\n        processed: null,status: null,read: null,display_if_empty: null,\n        due_date: null,offline_expiration_seconds: null,priority: null,\n        user_incoming : {},watson_incoming: {},message: null,template: {detail: {}},\n        timeout: {},user_calculated: {timeout: {},user: {},template: {}},location: {},defaults: {parent : null,all_children : null} } ;\n \nvar user_obj        = global.get('user_obj'),\n    template_obj    = global.get('template_obj'),\n    timeout_obj     = global.get('timeout_obj'),\n    location_obj    = global.get('location_obj'),\n    watson_obj      = global.get('watson_obj'),\n    detail_obj      = msg.form_data ,\n    update_obj      = msg.payload;\n\n    if(update_obj){\n       \n        payload = {\n            _id                         : update_obj._id,\n            _rev                        : update_obj._rev,\n    \t\tdetail_id                   : detail_obj.detail_id                  || update_obj.detail_id,\n    \t\ttask_id                     : detail_obj.task_id                    || update_obj.task_id,\n    \t\tchild_task_id               : detail_obj.child_task_id              || update_obj.child_task_id,\n    \t\tuser_id                     : detail_obj.user_id                    || update_obj.user_id,\n    \t\tpage_id                     : detail_obj.page_id                    || update_obj.page_id,\n    \t\tsynchronized                : detail_obj.synchronized               || update_obj.synchronized,\n    \t\tprocessed                   : detail_obj.processed                  || update_obj.processed,\n    \t\tstatus                      : detail_obj.status                     || update_obj.status,\n\t        read                        : detail_obj.read                       || update_obj.read,\n    \t\tdisplay_if_empty            : detail_obj.display_if_empty           || update_obj.display_if_empty,    \n\t\t    due_date                    : detail_obj.due_date                   || update_obj.due_date,                \n    \t\toffline_expiration_seconds  : detail_obj.offline_expiration_seconds || update_obj.offline_expiration_seconds,      \n    \t\tpriority                    : detail_obj.priority                   || update_obj.priority,    \n    \t\tuser_incoming               : user_obj || {},                              \n    \t\twatson_incoming             : watson_obj || {},\n    \t\tmessage                     : detail_obj.message                    || update_obj.message,    \n    \t\ttemplate                    : {\n    \t\t\t                            detail: template_obj || {}                 \n\t\t                                  },\n    \t\ttimeout                     : create_timeout_obj(timeout_obj, user_obj, template_obj),\n\t\t    user_calculated             :{\n    \t\t\t                            timeout: create_timeout_obj(timeout_obj, user_obj, template_obj),                \n                                \t\t\ttemplate: template_obj || {}             \n\t\t                                },\n    \t\tlocation                    : location_obj || {},                          \n    \t\tdefaults                    : {\n                                \t\t\tparent          : null,\n                                \t\t\tall_children    : null\n    \t\t                            }\n    \t};\n    }else{\n        payload = {\n    \t\tdetail_id: detail_obj.detail_id,\n    \t\ttask_id: detail_obj.task_id,\n    \t\tchild_task_id: detail_obj.child_task_id,\n    \t\tuser_id: detail_obj.user_id,\n    \t\tpage_id: detail_obj.page_id,\n    \t\tsynchronized: detail_obj.synchronized,\n    \t\tprocessed: detail_obj.processed,\n    \t\tstatus: detail_obj.status,\n    \t\tread: detail_obj.read,\n    \t\tdisplay_if_empty: detail_obj.display_if_empty,\n    \t\tdue_date: detail_obj.due_date,\n    \t\toffline_expiration_seconds: detail_obj.offline_expiration_seconds,\n    \t\tpriority: detail_obj.priority,\n    \t\tuser_incoming : user_obj || {},\n    \t\twatson_incoming: watson_obj || {},\n    \t\tmessage: detail_obj.message,\n    \t\ttemplate: {\n    \t\t\tdetail: template_obj || {}\n    \t\t},\n    \t\ttimeout: create_timeout_obj(timeout_obj, user_obj, template_obj),\n    \t\tuser_calculated: {\n    \t\t\ttimeout: create_timeout_obj(timeout_obj, user_obj, template_obj),\n    \t\t\ttemplate: template_obj || {}\n    \t\t},\n    \t\tlocation: location_obj || {},\n    \t\tdefaults: {\n    \t\t\tparent          : null,\n    \t\t\tall_children    : null\n    \t\t}\n    \t};\n    }\nmsg.payload = payload ;    \nreturn msg;\n\nfunction check_obj(obj){\n    var count = 0;\n    if(typeof obj == 'object'){\n        for(var keys in obj){\n            count++ ;\n        }\n    }\n    return count ;\n}\n\n\nfunction create_timeout_obj(timeout_obj, user_obj){\n\tvar timeout_list = timeout_obj.timeout_list ; \n\tfor(var key in timeout_list){\n\t\tif(key){\n\t\t\ttimeout_list[key].users = create_user_obj(user_obj);\n\t\t\ttimeout_list[key].template = {\n\t\t\t    message: template_obj,\n\t\t\t    from   : template_obj\n\t\t\t};\n\t\t}\n\t}\n\treturn timeout_obj ;\n}\n\nfunction create_user_obj(user_obj){\n\tvar obj = {};\n\tif(user_obj){\n\t    obj[user_obj._id] = user_obj ;\n\t    return obj ;\n\t}else{\n\t    return obj ;\n\t}\n}","outputs":1,"noerr":0,"x":865,"y":62,"wires":[["2a9f0d4c.d721a2","f44ab8da.c70c28","10f93335.5607ed"]]},{"id":"f44ab8da.c70c28","type":"debug","z":"a164a1e3.d69","name":"","active":true,"console":"false","complete":"payload","x":1113,"y":108,"wires":[]},{"id":"4bf154d5.8ba0fc","type":"cloudant out","z":"a164a1e3.d69","name":"Save Details into db","cloudant":"","database":"details","service":"PkTwilioConv-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1150,"y":214,"wires":[]},{"id":"68308415.478efc","type":"function","z":"a164a1e3.d69","name":"reset","func":"global.set('user_obj', \"\");\nglobal.set('template_obj', \"\");\nglobal.set('timeout_obj', \"\");\nglobal.set('location_obj', \"\");\nreturn msg;","outputs":1,"noerr":0,"x":1098,"y":167,"wires":[[]]},{"id":"c483d6a5.f78598","type":"delay","z":"a164a1e3.d69","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":645,"y":84,"wires":[["a870d7d6.07ae98"]]},{"id":"10f93335.5607ed","type":"function","z":"a164a1e3.d69","name":"reset","func":"global.set('user_obj', \"\");\nglobal.set('template_obj', \"\");\nglobal.set('timeout_obj', \"\");\nglobal.set('location_obj', \"\");\nreturn msg;","outputs":1,"noerr":0,"x":1094,"y":29,"wires":[[]]},{"id":"8b215049.3db0e","type":"debug","z":"a164a1e3.d69","name":"","active":true,"console":"false","complete":"true","x":924,"y":530,"wires":[]},{"id":"aaa2998.0107868","type":"debug","z":"a164a1e3.d69","name":"","active":true,"console":"false","complete":"true","x":940,"y":455,"wires":[]},{"id":"5a2fbb26.9e8d04","type":"debug","z":"a164a1e3.d69","name":"","active":true,"console":"false","complete":"true","x":918,"y":400,"wires":[]},{"id":"1796c3c1.417b9c","type":"debug","z":"a164a1e3.d69","name":"","active":true,"console":"false","complete":"true","x":957,"y":328,"wires":[]},{"id":"b7df372d.911348","type":"function","z":"a164a1e3.d69","name":"build_watson_data","func":"msg = {\n  payload : \"The Lean\" ,\n  params : {\n    workspace_id : \"42015e53-bdb9-4a23-87b5-f382d5e12dbb\",\n    username     : \"4db58c57-6d89-4382-9d34-c4044b5fce11\",\n    password     : \"eG0ctZRJO42s\"\n  }\n};\nmsg.user = msg.payload_user_id;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":585,"wires":[["e3942d2a.7c15d"]]},{"id":"e3942d2a.7c15d","type":"watson-conversation-v1","z":"a164a1e3.d69","name":"","workspaceid":"","multiuser":true,"context":true,"x":628,"y":599,"wires":[["8b798794.66a778"]]},{"id":"8b798794.66a778","type":"function","z":"a164a1e3.d69","name":"Watson","func":"global.set('watson_obj', \"\");\nglobal.set('watson_obj', msg);\nreturn msg;","outputs":1,"noerr":0,"x":819,"y":604,"wires":[[]]},{"id":"e8b5a7d3.af2da8","type":"ui_group","z":"a164a1e3.d69","name":"Detail","tab":"f004ae97.62a33","order":1,"disp":false,"width":"9"},{"id":"f004ae97.62a33","type":"ui_tab","z":"","name":"Detail Screen","icon":"dashboard","order":6}]