details_screen/without_update_details_screen_backup_16032017.json
[{"id":"92a8829f.ac516","type":"tab","label":"Add Detail"},{"id":"4e949b47.ff0f74","type":"function","z":"92a8829f.ac516","name":"setup","func":"msg.db_payload = {_id : msg.payload.user_id} ;\nmsg.task_payload = {query : \"task_name:\" + get_task_name_from_note(msg.payload.note) } ;\nreturn msg;\n\nfunction get_task_name_from_note(note){\n    switch(note){\n        case \"add_a_book\": {\n            return \"task_wo_timeout\";\n        }\n        case \"the lean startup\" :{\n            return \"task_w_timeout\" ;\n        }\n        \n        case \"read_a_book\":{\n            return \"task_w_child_task_name\" ;\n        }\n        \n        case \"want to learn the lean startup\": {\n            return \"task_w_child_task_name\";\n        }\n        \n        default: {\n            return \"task_w_timeout\" ;\n        }\n    }\n}","outputs":1,"noerr":0,"x":330,"y":140,"wires":[["2f47017d.fcbede"]]},{"id":"bcda625b.f7a4e","type":"cloudant in","z":"92a8829f.ac516","name":"db_user","cloudant":"","database":"users","service":"PkTwilioConv-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":658,"y":138,"wires":[["b2ae0e7a.8d60e"]]},{"id":"2f47017d.fcbede","type":"change","z":"92a8829f.ac516","name":"db_payload","rules":[{"t":"move","p":"db_payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":492,"y":140,"wires":[["bcda625b.f7a4e"]]},{"id":"a7b55686.bf2d18","type":"function","z":"92a8829f.ac516","name":"details","func":"var big_record_tables = {} , details = {};\n\nbig_record_tables.user  = msg.db_user ;\nbig_record_tables.task  = msg.task_obj_by_name[0] ;\n\n//setting up some obj from big_record_tables\nbig_record_tables.task.child_default = big_record_tables.task.child_default_task_id ? get_obj_from_array(big_record_tables.task.child_default_task_id, msg.task_obj) : null;\nbig_record_tables.task.details = {\n    timeout : create_timeout_list_obj(msg.timeout_obj, msg.templates, msg.user_obj, \"timeout\") ,\n    user_calculated: create_timeout_list_obj(msg.timeout_obj, msg.templates, msg.user_obj, \"user_calculated\"),\n    location : get_location_obj(msg.task_obj_by_name[0].location_id) \n} ;\n\n\n//creating the details obj\ndetails.task_id = msg.task_obj_by_name[0]._id ;\ndetails.child_task_id = msg.task_obj_by_name[0]._id ;\ndetails.user_id = msg.db_user._id ;\ndetails.page_id  = false ;\ndetails.synchronized = false ;\ndetails.processed = true ;\ndetails.status = \"active\";\ndetails.read = false ;\ndetails.display_if_empty = msg.task_obj_by_name[0].display_if_empty;\ndetails.date_created = new Date().toJSON();\ndetails.due_date = big_record_tables.task.details.user_calculated.delivery_due;\ndetails.offline_expiration_seconds = 0 ;\ndetails.priority = 1;\ndetails.user_incoming = msg.db_user ;\ndetails.watson_incoming = msg.watson_output ;\ndetails.template = {\n    details : get_template(msg.task_obj_by_name[0].details_template_id, msg.templates)\n};\n\ndetails.timeout = big_record_tables.task.details.timeout ;\ndetails.user_calculate = big_record_tables.task.details.user_calculated ;\ndetails.location = big_record_tables.task.details.location ;\n\ndetails.default = {\n    parent : null,\n    allchildren: null\n};\n\ndetails.createdAt = Number(new Date().getTime()) ;\n\ndetails.count = {\n  active: true,\n  unread: true,\n  date: new Date().toJSON()\n};\n\nif(msg.task_obj_by_name[0].child_default_name !== null){\n    msg.default_child_task_name = msg.task_obj_by_name[0].child_default_task_name ;\n    msg.payload = details ;\n    return msg;    \n}else{\n    msg.payload = details ;\n    return msg;    \n}\n\n\nfunction create_timeout_list_obj(timeout_obj, templates, users, type){\n    switch(type){\n        case \"timeout\" : {\n            if(check_obj(timeout_obj.timeout_list) > 1){\n                for(var list in timeout_obj.timeout_list){\n                    if(timeout_obj.timeout_list[list] && list !== \"0\"){\n                        timeout_obj.timeout_list[list].delivery_user_ids = get_obj_from_array(timeout_obj.timeout_list[list].delivery_user_ids, users);\n                        timeout_obj.timeout_list[list].message = timeout_obj.timeout_list[list].message_id ? get_template(timeout_obj.timeout_list[list].message_id, templates) : null;\n                        timeout_obj.timeout_list[list].from = timeout_obj.timeout_list[list].from_id ? get_template(timeout_obj.timeout_list[list].from_id, templates) : null;\n                    }\n                }\n                return timeout_obj ;   \n            }else{\n                return {} ;\n            }\n            break;\n        }\n        \n        case \"user_calculated\" : {\n            if(timeout_obj.timeout_list){\n                for(var key in timeout_obj.timeout_list){\n                    if(key == \"0\"){\n                        timeout_obj.timeout_list[key].delivery_user_ids = get_obj_from_array(timeout_obj.timeout_list[key].delivery_user_ids, users);\n                        timeout_obj.timeout_list[key].template = {\n                            message : timeout_obj.timeout_list[key].message_id ? get_template(timeout_obj.timeout_list[key].message_id, templates) : null ,\n                            from    : timeout_obj.timeout_list[key].from_id ? get_template(timeout_obj.timeout_list[key].from_id, templates) : null\n                        };\n                    }\n                }\n                return timeout_obj.timeout_list[\"0\"] ; \n            }else{\n                return {} ; \n            }\n            break;\n        }\n        \n        default: {\n            return {};\n        }\n    }\n}\n\nfunction get_location_obj(locations){\n    var obj = {};\n    if(locations !== null){\n        for(var i=0; i< locations.length; i++){\n            if(locations[i]){\n                obj[locations[i]._id] = locations[i] ;\n            }\n        }\n        return obj ;\n    }else{\n        return obj ;\n    }\n}\n\nfunction get_template(id, template){\n    var obj = {} ;\n    if(template !== null){\n        for(var i=0; i< template.length; i++){\n            if(id === template[i]._id){\n                obj = template[i] ;\n            }\n        }    \n        return obj ;\n    }else{\n        return obj ;\n    }\n}\n\nfunction get_obj_from_array(id, arr){\n    var obj = {} ;\n    if(arr !== null && arr.length){\n        for(var i=0; i< arr.length; i++){\n            if(arr[i]._id === id){\n                obj[arr[i]._id] = arr[i] ;\n            }\n        }\n        return obj ;\n    }else{\n        return obj ;\n    }\n}\n\nfunction check_obj(obj){\n    var count = 0;\n    for(var keys in obj){\n        if(obj[keys]){\n            count++ ;\n        }\n    }\n    return count ;\n}\n\n","outputs":1,"noerr":0,"x":442,"y":408,"wires":[["a8b25d96.bad68","d5405daf.c036a","e1d89791.33ae58"]]},{"id":"b2ae0e7a.8d60e","type":"change","z":"92a8829f.ac516","name":"db_user","rules":[{"t":"move","p":"payload","pt":"msg","to":"db_user","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":826,"y":139,"wires":[["82b27cec.74904"]]},{"id":"82b27cec.74904","type":"change","z":"92a8829f.ac516","name":"task_payload","rules":[{"t":"move","p":"task_payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":224,"y":211,"wires":[["f46de94d.8b56a8"]]},{"id":"f46de94d.8b56a8","type":"cloudant in","z":"92a8829f.ac516","name":"by task name","cloudant":"","database":"task_table","service":"PkTwilioConv-cloudantNoSQLDB","search":"_idx_","design":"getTask","index":"searchTask","x":395,"y":209,"wires":[["a0beb19a.277a4"]]},{"id":"a0beb19a.277a4","type":"change","z":"92a8829f.ac516","name":"task","rules":[{"t":"move","p":"payload","pt":"msg","to":"task_obj_by_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":562,"y":207,"wires":[["855513b7.856a"]]},{"id":"855513b7.856a","type":"function","z":"92a8829f.ac516","name":"timeout id","func":"msg.db_req_obj_timeout = {_id : msg.task_obj_by_name[0].timeout_id};\nreturn msg;","outputs":1,"noerr":0,"x":704,"y":204,"wires":[["2c1daf50.24934"]]},{"id":"2c1daf50.24934","type":"change","z":"92a8829f.ac516","name":"timeout","rules":[{"t":"move","p":"db_req_obj_timeout","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":852,"y":201,"wires":[["2599bf00.f1bb8"]]},{"id":"2599bf00.f1bb8","type":"cloudant in","z":"92a8829f.ac516","name":"db_timeout","cloudant":"","database":"timeout","service":"PkTwilioConv-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":219,"y":275,"wires":[["cee02126.fcdf2"]]},{"id":"cee02126.fcdf2","type":"change","z":"92a8829f.ac516","name":"timeout_obj","rules":[{"t":"move","p":"payload","pt":"msg","to":"timeout_obj","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":393,"y":274,"wires":[["d51ae85a.747cb8"]]},{"id":"d51ae85a.747cb8","type":"cloudant in","z":"92a8829f.ac516","name":"templates","cloudant":"","database":"templates","service":"PkTwilioConv-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":546,"y":274,"wires":[["64f538c9.d2eb48"]]},{"id":"64f538c9.d2eb48","type":"change","z":"92a8829f.ac516","name":"temp obj","rules":[{"t":"move","p":"payload","pt":"msg","to":"templates","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":693,"y":272,"wires":[["49830fba.66727"]]},{"id":"49830fba.66727","type":"cloudant in","z":"92a8829f.ac516","name":"user","cloudant":"","database":"users","service":"PkTwilioConv-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":840,"y":270,"wires":[["68934d19.399404"]]},{"id":"68934d19.399404","type":"change","z":"92a8829f.ac516","name":"user obj","rules":[{"t":"move","p":"payload","pt":"msg","to":"user_obj","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":213,"y":339,"wires":[["3cf05c4a.9e8344"]]},{"id":"3cf05c4a.9e8344","type":"cloudant in","z":"92a8829f.ac516","name":"task","cloudant":"","database":"task_table","service":"PkTwilioConv-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":376,"y":341,"wires":[["b7e2603d.d9ae"]]},{"id":"b7e2603d.d9ae","type":"change","z":"92a8829f.ac516","name":"task_obj","rules":[{"t":"move","p":"payload","pt":"msg","to":"all_task_obj","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":528,"y":338,"wires":[["208481cf.3319ae"]]},{"id":"208481cf.3319ae","type":"function","z":"92a8829f.ac516","name":"input","func":"msg.payload  = \"the lean startup\" ;\nmsg.params = {\n    workspace_id : \"42015e53-bdb9-4a23-87b5-f382d5e12dbb\",\n    username     : \"4db58c57-6d89-4382-9d34-c4044b5fce11\",\n    password     : \"eG0ctZRJO42s\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":672,"y":336,"wires":[["46313fbf.ab09f"]]},{"id":"46313fbf.ab09f","type":"watson-conversation-v1","z":"92a8829f.ac516","name":"Watson","workspaceid":"42015e53-bdb9-4a23-87b5-f382d5e12dbb","multiuser":false,"context":true,"x":815,"y":335,"wires":[["67728c81.5b0444"]]},{"id":"67728c81.5b0444","type":"change","z":"92a8829f.ac516","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"watson_output","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":247,"y":404,"wires":[["a7b55686.bf2d18"]]},{"id":"1f316004.d1618","type":"function","z":"92a8829f.ac516","name":"create_optional_task","func":"msg.optional_task = create_optonal_task(msg.payload, msg.all_task_obj, msg.default_child_task_name);\nreturn msg ;\n\n\nfunction get_last_entry(details){\n    return details[details.length - 1];\n}\n\nfunction create_optonal_task(details, task_obj, child_default_task_name){\n    var default_task = get_task_by_name(task_obj, child_default_task_name);\n        current_task = get_current_task(task_obj, details.task_id) ;\n        task_obj = {} ;\n\n    if(check_obj(default_task) > 0){\n        task_obj = {\n            task_name:                  child_default_task_name + \"_\" + new Date().getTime(), \n            user_id:                    default_task.user_id || null,\n            header_template_id:         default_task.header_template_id || current_task.header_template_id,\n            details_template_id:        default_task.details_template_id || current_task.details_template_id,\n            footer_template_id:         default_task.footer_template_id || current_task.footer_template_id,\n            timeout_id:                 default_task.timeout_id || current_task.timeout_id,\n            location_id:                default_task.location_id || current_task.location_id,\n            child_default_task_id:      null,\n            child_default_task_name :   null,\n            date_created:               new Date().toJSON(),\n            type:                       default_task.type || current_task.type,\n            status:                     default_task.status || current_task.status,\n            category:                   default_task.category || current_task.category,\n            additional_data_fn:         default_task.additional_data_fn || current_task.additional_data_fn,\n            optional_data:              default_task.optional_data || current_task.optional_data,\n            required_data:              default_task.required_data || current_task.required_data,\n            offline_expiration_time:    default_task.offline_expiration_time || current_task.offline_expiration_time,\n            display_if_empty:           default_task.display_if_empty || current_task.display_if_empty \n        };\n    }else{\n        task_obj = {\n            task_name:                  child_default_task_name + \"_\" + new Date().getTime(), \n            user_id:                    current_task.user_id || null,\n            header_template_id:         current_task.header_template_id || null,\n            details_template_id:        current_task.details_template_id || null,\n            footer_template_id:         current_task.footer_template_id || null,\n            timeout_id:                 current_task.timeout_id || null,\n            location_id:                current_task.location_id || null,\n            child_default_task_id:      null,\n            child_default_task_name:    null,\n            date_created:               new Date().toJSON(),\n            type:                       current_task.type || null,\n            status:                     current_task.status || \"active\",\n            category:                   current_task.category || null,\n            additional_data_fn:         current_task.additional_data_fn || null,\n            optional_data:              current_task.optional_data || {},\n            required_data:              current_task.required_data || {},\n            offline_expiration_time:    current_task.offline_expiration_time || 0,\n            display_if_empty:           current_task.display_if_empty || true \n        };\n    }\n    return task_obj;\n}\n\nfunction get_task_by_name(arr, name){\n    var obj = {} ;\n    for(var i=0; i<arr.length; i++){\n        if(arr[i].task_name === name){\n            obj = arr[i]    ;\n        }\n    }\n    return obj ;\n}\n\nfunction get_current_task(arr, task_id){\n    var obj = {} ;\n    for(var i=0; i<arr.length; i++){\n        if(arr[i]._id === task_id){\n            obj = arr[i]    ;\n        }\n    }\n    return obj ;\n}\n\nfunction check_obj(obj){\n    var count = 0; \n    for(var keys in obj){\n        if(obj[keys]){\n            count++ ;\n        }\n    }\n    return count ;\n}\n","outputs":1,"noerr":0,"x":667,"y":517,"wires":[["6016c728.5fb728"]]},{"id":"cee0a9d4.da1618","type":"cloudant out","z":"92a8829f.ac516","name":"","cloudant":"","database":"details","service":"PkTwilioConv-cloudantNoSQLDB","payonly":true,"operation":"insert","x":631,"y":389,"wires":[]},{"id":"d5405daf.c036a","type":"http response","z":"92a8829f.ac516","name":"Result","x":629,"y":433,"wires":[]},{"id":"1b7b61a2.8ffbfe","type":"http in","z":"92a8829f.ac516","name":"Detail","url":"/add_detail","method":"post","swaggerDoc":"","x":181,"y":99,"wires":[["4e949b47.ff0f74"]]},{"id":"6e36f12c.fa1cf","type":"inject","z":"92a8829f.ac516","name":"Start","topic":"Start","payload":"{\"user_id\": \"5f490c0ae2ee7321dc891a3e59bd64c6\", \"note\": \"add_a_book\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":187,"y":141,"wires":[["4e949b47.ff0f74"]]},{"id":"a8b25d96.bad68","type":"debug","z":"92a8829f.ac516","name":"","active":true,"console":"false","complete":"false","x":651,"y":480,"wires":[]},{"id":"e1d89791.33ae58","type":"delay","z":"92a8829f.ac516","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":444,"y":514,"wires":[["1f316004.d1618"]]},{"id":"6016c728.5fb728","type":"change","z":"92a8829f.ac516","name":"optional_task","rules":[{"t":"move","p":"optional_task","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":583,"wires":[["fcc44700.319ed8"]]},{"id":"fcc44700.319ed8","type":"debug","z":"92a8829f.ac516","name":"Optional Task","active":true,"console":"false","complete":"payload","x":465,"y":581,"wires":[]}]
