login_verify/2017/backup_19122017.json
[
    {
        "id": "5aaca332.83ed4c",
        "type": "tab",
        "label": "Login API "
    },
    {
        "id": "e355d2e6.ae2c5",
        "type": "function",
        "z": "5aaca332.83ed4c",
        "name": "phone",
        "func": "msg.payload = {\n    query: \"table:users AND virtual_phone:\" + msg.user_data.phone\n};\n\nnode.warn(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "cec4c6e5.f78928"
            ]
        ]
    },
    {
        "id": "64c8860.929b27c",
        "type": "debug",
        "z": "5aaca332.83ed4c",
        "name": "Going to save user if not found in db",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 489,
        "y": 287,
        "wires": []
    },
    {
        "id": "b5b302a.6e2f",
        "type": "function",
        "z": "5aaca332.83ed4c",
        "name": "Merge data for update",
        "func": "var db_data = msg.db_output, user_data = msg.user_data, payload = {};\n\nmsg.verification_code = rand();\n\nif(isEmpty(db_data)) {\n    var userObj = {\n        table       : \"users\",\n        access_token:  null,\n        phone       :  parseInt(user_data.phone),\n        virtual_phone: parseInt(user_data.phone),\n        security_level: 0,\n        firstname         : parseInt(user_data.phone) || \"\",\n        lastname          : \"\",\n        code:         msg.verification_code,\n        type: {\n            \"public\": \"public\"\n        },\n        data: {},\n        device_id: msg.user_data.device_id || \"\",\n        push_accepted: msg.push_accepted || 1\n    };\n}else {\n    var userObj = db_data[0];\n    \n    userObj.phone           = userObj.phone || parseInt(user_data.phone) ;\n    userObj.virtual_phone   = userObj.virtual_phone || parseInt(user_data.phone) ;\n    userObj.long_url        = userObj.long_url || \"\";\n    userObj.access_token    = userObj.access_token ;\n    userObj.security_level  = userObj.security_level;\n    userObj.email           = userObj.email || \"\";\n    userObj.firstname       = userObj.firstname || \"\";\n    userObj.lastname        = userObj.lastname || \"\";\n    userObj.code            = msg.verification_code;\n    userObj.data            = userObj.data;\n    userObj.image           = userObj.image || \"\";\n    userObj.device_id       = msg.user_data.device_id || userObj.device_id;\n    userObj.push_accepted   = msg.push_accepted || userObj.push_accepted;\n}\n\n\n\nmsg.security_level = userObj.security_level ;\nmsg.payload = userObj;\n\nreturn msg;\n\nfunction rand() {\n    return Math.floor(1000 + Math.random() * 9000);\n}\n\nfunction token() {\n    return new Date().getTime() + \".\" +Math.random().toString(36).substr(2) ;\n}\n\n\nfunction isEmpty(obj){\n\n    if(Object.prototype.toString.call(obj) === \"[object Object]\"){\n        if( Object.keys(obj).length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else if(Object.prototype.toString.call(obj) === \"[object Array]\"){\n        if( obj.length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else{\n        if( obj ){\n            return false;\n        }else{\n            return true;\n        }\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "64c8860.929b27c",
                "236b0354.22847c",
                "822b5d66.8ac45"
            ]
        ]
    },
    {
        "id": "9b820297.38aa",
        "type": "http in",
        "z": "5aaca332.83ed4c",
        "name": "",
        "url": "/api/login",
        "method": "post",
        "swaggerDoc": "",
        "x": 98.00000381469727,
        "y": 181.00000095367432,
        "wires": [
            [
                "e30cf75b.3c38b8",
                "9f3abd51.1122b"
            ]
        ]
    },
    {
        "id": "e30cf75b.3c38b8",
        "type": "change",
        "z": "5aaca332.83ed4c",
        "name": "Move to user_data",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "user_data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "e355d2e6.ae2c5"
            ]
        ]
    },
    {
        "id": "cec4c6e5.f78928",
        "type": "cloudant in",
        "z": "5aaca332.83ed4c",
        "name": "get user by phone",
        "cloudant": "",
        "database": "master_table",
        "service": "dev-platform-cloudantNoSQLDB",
        "search": "_idx_",
        "design": "filterBy",
        "index": "filterBy",
        "x": 668.9999694824219,
        "y": 178.99999237060547,
        "wires": [
            [
                "13e799d.77bd166"
            ]
        ]
    },
    {
        "id": "13e799d.77bd166",
        "type": "change",
        "z": "5aaca332.83ed4c",
        "name": "Move to db_output",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "db_output",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 180,
        "wires": [
            [
                "b5b302a.6e2f"
            ]
        ]
    },
    {
        "id": "822b5d66.8ac45",
        "type": "cloudant out",
        "z": "5aaca332.83ed4c",
        "name": "save user to db",
        "cloudant": "",
        "database": "master_table",
        "service": "dev-platform-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 418.00001525878906,
        "y": 362.00002002716064,
        "wires": []
    },
    {
        "id": "82bc720b.688b",
        "type": "http in",
        "z": "5aaca332.83ed4c",
        "name": "",
        "url": "/api/verify",
        "method": "get",
        "swaggerDoc": "",
        "x": 102,
        "y": 763,
        "wires": [
            [
                "d934be59.31d7e",
                "2bb50a4e.e465a6"
            ]
        ]
    },
    {
        "id": "d934be59.31d7e",
        "type": "change",
        "z": "5aaca332.83ed4c",
        "name": "Move to request_data",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "request_data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 327,
        "y": 764,
        "wires": [
            [
                "53591a00.2eb7c8"
            ]
        ]
    },
    {
        "id": "53591a00.2eb7c8",
        "type": "function",
        "z": "5aaca332.83ed4c",
        "name": "2. user_phone",
        "func": "if(isEmpty(msg.request_data.phone)){\n    msg.api_status = \"API_ERROR\";\n    msg.payload    = {status: 400, error: true, msg: \"`phone` is required to fullfil request\", data: null};\n}else if(isEmpty(msg.request_data.code)){\n    msg.api_status = \"API_ERROR\";\n    msg.payload    = {status: 400, error: true, msg: \"`code` is required to fullfil request\", data: null};\n }else if(isEmpty(msg.request_data.device_id)){\n    msg.api_status = \"API_ERROR\";\n    msg.payload    = {status: 400, error: true, msg: \"`device_id` is required to fullfil request\", data: null};\n}else if(isEmpty(msg.request_data.push_accepted)){\n    msg.api_status = \"API_ERROR\";\n    msg.payload    = {status: 400, error: true, msg: \"`push_accepted` is required to fullfil request\", data: null};\n}else{\n    msg.api_status = \"API_SUCCESS\";\n    msg.payload = {\n        query: \"table: users AND virtual_phone:\"+ msg.request_data.phone\n    };    \n}\nreturn msg;\n\nfunction isEmpty(obj){\n\n    if(Object.prototype.toString.call(obj) === \"[object Object]\"){\n        if( Object.keys(obj).length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else if(Object.prototype.toString.call(obj) === \"[object Array]\"){\n        if( obj.length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else{\n        if( obj ){\n            return false;\n        }else{\n            return true;\n        }\n    }   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 527,
        "y": 764,
        "wires": [
            [
                "6e9ce6fa.adc298"
            ]
        ]
    },
    {
        "id": "236b0354.22847c",
        "type": "switch",
        "z": "5aaca332.83ed4c",
        "name": "security_level",
        "property": "security_level",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 422.00001525878906,
        "y": 423.0000247955322,
        "wires": [
            [
                "93b10df0.8c22c"
            ],
            [
                "6b8489f9.54ef98"
            ]
        ]
    },
    {
        "id": "3d8a6f38.8353d",
        "type": "cloudant in",
        "z": "5aaca332.83ed4c",
        "name": "get user by token",
        "cloudant": "",
        "database": "master_table",
        "service": "dev-platform-cloudantNoSQLDB",
        "search": "_idx_",
        "design": "filterBy",
        "index": "filterBy",
        "x": 908.9999694824219,
        "y": 802.0000305175781,
        "wires": [
            [
                "cd6b4c5.0a66ab"
            ]
        ]
    },
    {
        "id": "cd6b4c5.0a66ab",
        "type": "change",
        "z": "5aaca332.83ed4c",
        "name": "Move to db_user",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "db_user",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 209,
        "y": 844,
        "wires": [
            [
                "589646ee.f417c8"
            ]
        ]
    },
    {
        "id": "589646ee.f417c8",
        "type": "function",
        "z": "5aaca332.83ed4c",
        "name": "check verify code",
        "func": "var db_data = msg.db_user, request_data = msg.request_data;\nvar response = {};\n\nfunction check_obj(obj){\n    if(obj === null || obj === undefined){\n        return 0;\n    }else{\n        return Object.keys(obj).length;\n    }\n}\n\nif(check_obj(db_data) > 0) {\n    var db_code = db_data[0].code;\n    //db_code = \"1234\";\n    if(String(db_data[0].virtual_phone).length == 5){\n        if(request_data.code == 1234){\n            response.status = \"success\";\n        }else{\n            response.status = \"fail\";\n            response.msg = \"Invalid Code\";\n        } \n    }else if(String(db_data[0].virtual_phone).length > 7 &&  String(db_data[0].virtual_phone).length <= 12){\n        if(parseInt(request_data.code) == db_code){\n            response.status = \"success\";\n        }else{\n            response.status = \"fail\";\n            response.msg = \"Invalid Code\";\n        } \n    }else{\n        if(request_data.code == db_code){\n            response.status = \"success\";\n        }else{\n            response.status = \"fail\";\n            response.msg = \"Invalid Code\";\n        }    \n    }\n}\nelse{\n    response.status = \"fail\";\n    response.msg = \"Invalid Token\";\n}\n\nmsg.payload = response;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 469,
        "y": 844,
        "wires": [
            [
                "95e69443.affee8"
            ]
        ]
    },
    {
        "id": "d2d9371d.8c8668",
        "type": "http response",
        "z": "5aaca332.83ed4c",
        "name": "API Result",
        "x": 1029.0000305175781,
        "y": 980.0000381469727,
        "wires": []
    },
    {
        "id": "95e69443.affee8",
        "type": "switch",
        "z": "5aaca332.83ed4c",
        "name": "Status",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "success",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "fail",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 249,
        "y": 924,
        "wires": [
            [
                "6844749e.b18e1c"
            ],
            [
                "4be9133b.06943c"
            ]
        ]
    },
    {
        "id": "9ad2cef2.8181e",
        "type": "function",
        "z": "5aaca332.83ed4c",
        "name": "2. return menu page",
        "func": "var response = {\n    \"page_id\":  return_page_id(msg.payload.virtual_phone),\n    \"access_token\": msg.access_token,\n    \"user_id\":  msg.payload._id,\n    \"status\":   \"valid\"\n};\nmsg.payload = response;\nreturn msg;\n\nfunction return_page_id(number){\n    if(number){\n        if( ( Number(number) === 12313426657) || (Number(number) === 12068835352) ){ //Jessica Rohloff/Kyle  Number then return 26\n            return 26 ;//stumped category page......\n        }else{\n            return 2; //category page \n        }\n    }else{\n        node.warn(\"When user virtual_phone is undefined in verification process.\");\n        return 1; //else login page\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 759,
        "y": 944,
        "wires": [
            [
                "d2d9371d.8c8668",
                "2e62384d.25baa8"
            ]
        ]
    },
    {
        "id": "b83750a7.3dda8",
        "type": "cloudant out",
        "z": "5aaca332.83ed4c",
        "name": "update security level",
        "cloudant": "",
        "database": "master_table",
        "service": "dev-platform-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 779,
        "y": 884,
        "wires": []
    },
    {
        "id": "6844749e.b18e1c",
        "type": "function",
        "z": "5aaca332.83ed4c",
        "name": "Merge data for update",
        "func": "var db_data = msg.db_user[0] ,\n    body    = msg.request_data ;\n    \nmsg.access_token = token();\n\ndb_data.access_token   = msg.access_token;\ndb_data.security_level = 1 ;\ndb_data.device_token = populate_device_token(db_data.device_token, body) ;\ndb_data.push_accepted = parseInt(body.push_accepted) || 1 ;\n\nmsg.payload = db_data;\nreturn msg;\n\n\nfunction token() {\n    return new Date().getTime() + \".\" +Math.random().toString(36).substr(2) ;\n}\n\nfunction populate_device_token(device_detail, req_body){\n    if(isEmpty(device_detail)){\n        if( (req_body.device_id == \"Web View\") || (req_body.device_type == \"Web Browser\")){\n            return {};\n        }else{\n            var temp = {};\n            temp[req_body.device_fingerprint] = {\n              device_type: req_body.device_type ,\n              device_id  : req_body.device_id\n            };\n            return temp ;\n        }\n    }else{\n        var local_temp = {};\n        local_temp[req_body.device_fingerprint] = {\n          device_type: req_body.device_type ,\n          device_id  : req_body.device_id\n        };\n        return Object.assign(device_detail, local_temp);\n    }    \n}\n\nfunction isEmpty(obj){\n\n    if(Object.prototype.toString.call(obj) === \"[object Object]\"){\n        if( Object.keys(obj).length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else if(Object.prototype.toString.call(obj) === \"[object Array]\"){\n        if( obj.length ){\n            return false;\n        }else{\n            return true;\n        }\n    }else{\n        if( obj ){\n            return false;\n        }else{\n            return true;\n        }\n    }   \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 479,
        "y": 924,
        "wires": [
            [
                "9ad2cef2.8181e",
                "b83750a7.3dda8"
            ]
        ]
    },
    {
        "id": "4be9133b.06943c",
        "type": "function",
        "z": "5aaca332.83ed4c",
        "name": "1. return login page",
        "func": "var payload = {\n    \"page_id\":  1,\n    \"status\":   \"invalid\"\n};\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 479,
        "y": 1004,
        "wires": [
            [
                "42ea84ba.4a481c",
                "9caf7b90.abc7a8"
            ]
        ]
    },
    {
        "id": "9f3abd51.1122b",
        "type": "debug",
        "z": "5aaca332.83ed4c",
        "name": "API Login ",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 269,
        "y": 142.99999237060547,
        "wires": []
    },
    {
        "id": "2bb50a4e.e465a6",
        "type": "debug",
        "z": "5aaca332.83ed4c",
        "name": "Verify screeen",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 326,
        "y": 703,
        "wires": []
    },
    {
        "id": "93b10df0.8c22c",
        "type": "function",
        "z": "5aaca332.83ed4c",
        "name": "11. return verify page & ac",
        "func": "var req_body = msg.user_data ;\nif(msg.user_data.phone){\n  \n    if(String(msg.user_data.phone).length === 4){\n        msg.sendverification = \"no_need_to_send\";\n        msg.api_response = {\n            \"page_id\":      11,\n            \"code\" : msg.verification_code\n        };\n    }else{\n        if(String(msg.user_data.phone).length >= 7 && String(msg.user_data.phone).length <= 12){\n            msg.sendverification = \"need_to_send_verification\" ;\n            msg.api_response = {\n                \"page_id\":      11,\n                \"code\" : msg.verification_code\n            };    \n        }else{\n            msg.sendverification = \"no_need_to_send\" ;\n            msg.api_response = {\n                \"page_id\":      1,\n                \"code\" : msg.verification_code,\n                \"msg\"  : \"Invalid phone number\"\n            };\n        }\n    }\n}else{\n    msg.sendverification = \"no_need_to_send\" ;\n    msg.api_response = {\n                \"page_id\":      1,\n                \"code\" : msg.verification_code,\n                \"msg\"  : \"Invalid phone number\"\n            };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 675.88671875,
        "y": 343.48828125,
        "wires": [
            [
                "9b48d0d1.3a54"
            ]
        ]
    },
    {
        "id": "9b48d0d1.3a54",
        "type": "switch",
        "z": "5aaca332.83ed4c",
        "name": "",
        "property": "sendverification",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "need_to_send_verification",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 937.515625,
        "y": 361.25,
        "wires": [
            [
                "8c93eeec.15939"
            ],
            [
                "8e617e0a.63d52"
            ]
        ]
    },
    {
        "id": "8c93eeec.15939",
        "type": "function",
        "z": "5aaca332.83ed4c",
        "name": "send sms code",
        "func": "var user_data = msg.user_data;\nvar code = msg.verification_code || 1234;\nmsg.topic = user_data.phone || 12145644732;\nmsg.payload = \"Your verification code for the DoMeNow app is : \" + code;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1120.515625,
        "y": 313,
        "wires": [
            [
                "316ae0bc.6e9f3",
                "130f89b6.e85346",
                "e2bc87de.c17e78"
            ]
        ]
    },
    {
        "id": "e2bc87de.c17e78",
        "type": "twilio out",
        "z": "5aaca332.83ed4c",
        "service": "_ext_",
        "twilio": "2ff3abf2.78fcf4",
        "from": "+12317146495",
        "number": "",
        "name": "SMS verify Code",
        "x": 1399.515625,
        "y": 292,
        "wires": []
    },
    {
        "id": "316ae0bc.6e9f3",
        "type": "debug",
        "z": "5aaca332.83ed4c",
        "name": "Responded via Twilio",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 1410.515625,
        "y": 336,
        "wires": []
    },
    {
        "id": "5e5d801a.231d",
        "type": "http response",
        "z": "5aaca332.83ed4c",
        "name": "API Result",
        "x": 1545.515625,
        "y": 236.25,
        "wires": []
    },
    {
        "id": "130f89b6.e85346",
        "type": "change",
        "z": "5aaca332.83ed4c",
        "name": "change",
        "rules": [
            {
                "t": "move",
                "p": "api_response",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1367.3828125,
        "y": 236.16796875,
        "wires": [
            [
                "5e5d801a.231d"
            ]
        ]
    },
    {
        "id": "8e617e0a.63d52",
        "type": "change",
        "z": "5aaca332.83ed4c",
        "name": "change",
        "rules": [
            {
                "t": "move",
                "p": "api_response",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1099.640625,
        "y": 370.1640625,
        "wires": [
            [
                "d3dc7932.f1f3a8",
                "3495d52.1d45a2a"
            ]
        ]
    },
    {
        "id": "d3dc7932.f1f3a8",
        "type": "http response",
        "z": "5aaca332.83ed4c",
        "name": "Api result",
        "x": 1371.62499076128,
        "y": 387.15234177559614,
        "wires": []
    },
    {
        "id": "3495d52.1d45a2a",
        "type": "debug",
        "z": "5aaca332.83ed4c",
        "name": "api_response ",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1385,
        "y": 432,
        "wires": []
    },
    {
        "id": "42ea84ba.4a481c",
        "type": "debug",
        "z": "5aaca332.83ed4c",
        "name": "login page return again",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 733.8333969116211,
        "y": 1085.0000705718994,
        "wires": []
    },
    {
        "id": "2e62384d.25baa8",
        "type": "debug",
        "z": "5aaca332.83ed4c",
        "name": "menu page return ",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 1046.8334045410156,
        "y": 929.0000178019206,
        "wires": []
    },
    {
        "id": "6e9ce6fa.adc298",
        "type": "switch",
        "z": "5aaca332.83ed4c",
        "name": "",
        "property": "api_status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "API_SUCCESS",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 699.8333435058594,
        "y": 733.6667175292969,
        "wires": [
            [
                "3d8a6f38.8353d"
            ],
            [
                "6c013f75.c043a",
                "a854cc6a.9631"
            ]
        ]
    },
    {
        "id": "6c013f75.c043a",
        "type": "http response",
        "z": "5aaca332.83ed4c",
        "name": "",
        "x": 872.8333435058594,
        "y": 738.6667175292969,
        "wires": []
    },
    {
        "id": "bfd24bae.86b5d8",
        "type": "comment",
        "z": "5aaca332.83ed4c",
        "name": "Following code referes to \"/api/verfiy\" endpoint. which whill check if verfiy code is valid or not if valid then re-direct to Category screen else re-direct back to login screen",
        "info": "",
        "x": 567.2421875,
        "y": 638.59375,
        "wires": []
    },
    {
        "id": "aa4a7047.22dfa",
        "type": "comment",
        "z": "5aaca332.83ed4c",
        "name": "Login `/api/login` flow is following. To check existing number , send verification code, re-direct to verification screen are done by following code.",
        "info": "",
        "x": 503.2421875,
        "y": 76.6015625,
        "wires": []
    },
    {
        "id": "6b8489f9.54ef98",
        "type": "function",
        "z": "5aaca332.83ed4c",
        "name": "send sms code",
        "func": "var user_data = msg.payload;\nvar code = user_data.code || 1234;\nmsg.topic = user_data.virtual_phone || 12145644732;\nmsg.payload = \"Your verification code for the Dri List app is : \" + code;\n\n\nmsg.api_response = {\n    \"page_id\":      11,\n    \"code\" : user_data.code\n};\n        \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620.333324432373,
        "y": 492.0000305175781,
        "wires": [
            [
                "d3259aa5.9d1bc8",
                "7e0b20cc.4e882",
                "f14aafbb.502ce"
            ]
        ]
    },
    {
        "id": "f14aafbb.502ce",
        "type": "twilio out",
        "z": "5aaca332.83ed4c",
        "service": "_ext_",
        "twilio": "2ff3abf2.78fcf4",
        "from": "+12317146495",
        "number": "",
        "name": "SMS verify Code",
        "x": 873.3333129882812,
        "y": 472,
        "wires": []
    },
    {
        "id": "d3259aa5.9d1bc8",
        "type": "debug",
        "z": "5aaca332.83ed4c",
        "name": "Responded via Twilio",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 884.3333129882812,
        "y": 516,
        "wires": []
    },
    {
        "id": "7e0b20cc.4e882",
        "type": "change",
        "z": "5aaca332.83ed4c",
        "name": "change",
        "rules": [
            {
                "t": "move",
                "p": "api_response",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 841.2005004882812,
        "y": 416.16796875,
        "wires": [
            [
                "707c9287.c5a9fc"
            ]
        ]
    },
    {
        "id": "707c9287.c5a9fc",
        "type": "http response",
        "z": "5aaca332.83ed4c",
        "name": "API Result",
        "x": 1019.3333129882812,
        "y": 416.25,
        "wires": []
    },
    {
        "id": "9caf7b90.abc7a8",
        "type": "http response",
        "z": "5aaca332.83ed4c",
        "name": "response",
        "x": 694.125,
        "y": 1036.8984375,
        "wires": []
    },
    {
        "id": "a854cc6a.9631",
        "type": "debug",
        "z": "5aaca332.83ed4c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 892.8333435058594,
        "y": 696.6666669845581,
        "wires": []
    },
    {
        "id": "2ff3abf2.78fcf4",
        "type": "twilio-api",
        "z": "5aaca332.83ed4c",
        "sid": "AC909f1981261f4461abbc7985bd202897",
        "from": "12312259665 ",
        "name": "DoMeNowApp Twilio Service"
    }
]